{% import 'OroUIBundle::macros.html.twig' as ui %}
{% set entityClass = 'OroCRM\\Bundle\\CallBundle\\Entity\\Call' %}
<script type="text/html" id="{{ id|e('html_attr')|raw }}">
    <div class="accordion-group">
        <div class="accordion-heading collapse<% if (!collapsed) { %> in<% } %>">
            <div class="title-item">
                <a href="#accordion-item<%= id %>" class="no-hash accordion-toggle<% if (collapsed) { %> collapsed<% } %>"></a>
                <span class="visual">
                    <i class="{{ oro_entity_config_value(entityClass, 'icon')|raw }}"></i>
                    <span>{{ oro_entity_config_value(entityClass, 'label')|trans }}</span>
                </span>
                <span class="details">
                    <i class="date"><%= updatedAt %></i>
                </span>
            </div>
            <div class="message-item">
                <div class="message"><%= subject %></div>
            </div>
            <div class="actions">
                <button class="btn item-edit-button<% if (!editable) { %> disabled<% } %>" <% if (!editable) { %> disabled="disabled"<% } %>
                    title="{{ 'Update call log'|trans|e('html_attr')|raw }}">
                    <i class="icon-edit hide-text">{{ 'Update call log'|trans|e('html')|raw }}</i>
                </button>
                <button class="btn item-remove-button<% if (!removable) { %> disabled<% } %>" <% if (!removable) { %> disabled="disabled"<% } %>
                    title="{{ 'Delete call log'|trans|e('html_attr')|raw }}">
                    <i class="icon-trash hide-text">{{ 'Delete call log'|trans|e('html')|raw }}</i>
                </button>
            </div>
        </div>
        <div class="accordion-body collapse<% if (!collapsed) { %> in<% } %>" id="accordion-item<%= id %>">
            <div class="message">
                <%= subject %>
                <% if (data != null) { %>
                    <% _.each(data, function(value, key) {
                        console.log(value, key);
                    %>
                        <%= _.template(
                            '<div class="control-group">' +
                                '<label class="control-label">[[ label ]]</label>' +
                                '<div class="controls">' +
                                    '<div class="control-label">[[ val ]]</div>' +
                                '</div>' +
                            '</div>',
                            {
                                label: key,
                                val: value
                            },
                            { interpolate: /\[\[(.+?)\]\]/g }
                        ) %>
                    <% }) %>

                {{ ui.renderProperty('key', 'value') }}
                <% } %>

                <% if (hasUpdate) { %>
                <%= _.template(
                {{ 'oro.note.updated_by'|trans|json_encode|raw }},
                {
                user: updatedBy_url
                    ? '<a class="user" href="' + updatedBy_url + '">' +  _.escape(updatedBy) + '</a>'
                    : '<i class="user">' +  _.escape(updatedBy) + '</i>',
                date: '<i class="date">' + updatedAt + '</i>'
                },
                { interpolate: /\{\{(.+?)\}\}/g }
                ) %>
                <% } %>

            </div>
        </div>
    </div>
</script>
