{% form_theme form with ['OroAddressBundle:Include:fields.html.twig', 'OroFormBundle:Form:fields.html.twig', _self] %}
<div class="widget-content" id="addressDialog">
    {% if saved %}
        <script type="text/javascript">
            var widget = Oro.widget.Manager.getWidgetInstance({{ app.request.get('_wid')|json_encode|raw }});
            widget.trigger('formSave', {{ form.vars.value.id|json_encode|raw }});
        </script>
    {% else %}
        {{ JSFV(form) }}

        {% if not form.vars.valid %}
        <div class="alert alert-error">
            <div class="message">
                {{ form_errors(form) }}
            </div>
        </div>
        {% endif %}

        <form id="{{ form.vars.name }}"
              action="{{ 'id' in form.vars.value|keys
              ? path('orocrm_contact_address_update', { id: form.vars.value.id, contactId: contact.id })
              : path('orocrm_contact_address_create', { contactId: contact.id })
              }}"
              method="post" class="form-register form-dialog">
            <fieldset class="form-horizontal">
                {{ form_row(form.types) }}
                {{ form_row(form.primary) }}
                {{ form_row(form.label) }}
                {{ form_row(form.firstName) }}
                {{ form_row(form.lastName) }}
                {{ form_row(form.street) }}
                {{ form_row(form.street2) }}
                {{ form_row(form.city) }}
                {{ form_row(form.state_text) }}
                {{ form_row(form.state) }}
                {{ form_row(form.country) }}
                {{ form_row(form.postalCode) }}
                <div style="display:none;">
                    {{ form_rest(form) }}
                </div>
                <div class="widget-actions form-actions" style="display: none;">
                    <button class="btn" type="reset">{{ 'Cancel'|trans }}</button>
                    <button class="btn btn-primary" type="submit">{{ 'Save'|trans }}</button>
                </div>
            </fieldset>
        </form>
    {% endif %}
</div>
