{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

{% oro_title_set({params : {"%entity.subject%": entity.subject|default('N/A') }}) %}

{% block navButtons %}
    {% if resource_granted('EDIT', entity) %}
        {{ UI.editButton({
            'path' : path('orocrm_case_update', { id: entity.id }),
            'entity_label': 'orocrm.case.caseentity.entity_label'|trans
        }) }}
    {% endif %}
    {% if resource_granted('DELETE', entity) %}
        {{ UI.deleteButton({
            'dataUrl': path('orocrm_api_delete_case', {'id': entity.id}),
            'dataRedirect': path('orocrm_case_index'),
            'aCss': 'no-hash remove-button',
            'id': 'btn-remove-user',
            'dataId': entity.id,
            'entity_label': 'orocrm.case.caseentity.entity_label'|trans
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('orocrm_case_index'),
        'indexLabel': 'orocrm.case.caseentity.entity_plural_label'|trans,
        'entityTitle': entity.subject
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {%- set caseInformation -%}
        <div class="row-fluid form-horizontal">
            <div class="responsive-block">
                {{ UI.renderProperty('orocrm.case.caseentity.subject.label'|trans, entity.subject) }}
                {{ UI.renderProperty('orocrm.case.caseentity.description.label'|trans, entity.description) }}
                {{ UI.renderProperty('orocrm.case.caseentity.origin.label'|trans, entity.origin) }}
                {{ UI.renderProperty('orocrm.case.caseentity.reported_at.label'|trans, entity.reportedAt|oro_format_date) }}
                {% if entity.closedAt is not empty %}
                    {{ UI.renderProperty('orocrm.case.caseentity.closed_at.label'|trans, entity.closedAt|oro_format_date) }}
                {% endif %}

                {%- set owner -%}
                    {%- if entity.owner -%}
                        {% if resource_granted('oro_user_user_view') %}
                            <a href="{{ path('oro_user_view', {'id': entity.owner.id}) }}">
                                {{ entity.owner|oro_format_name|escape }}
                            </a>
                        {% else %}
                            {{ entity.owner|oro_format_name|escape }}
                        {% endif %}
                    {%- endif -%}
                {%- endset -%}
                {{ UI.renderHtmlProperty('orocrm.case.caseentity.owner.label'|trans, owner) }}

                {%- set reporter -%}
                    {%- if entity.reporter -%}
                        {% if resource_granted('oro_user_user_view') %}
                            <a href="{{ path('oro_user_view', {'id': entity.reporter.id}) }}">
                                {{ entity.reporter|oro_format_name|escape }}
                            </a>
                        {% else %}
                            {{ entity.reporter|oro_format_name|escape }}
                        {% endif %}
                    {%- endif -%}
                {%- endset -%}
                {{ UI.renderHtmlProperty('orocrm.case.caseentity.reporter.label'|trans, reporter) }}

                {%- set relatedContact -%}
                    {%- if entity.relatedContact -%}
                        {% if resource_granted('orocrm_contact_view') %}
                            <a href="{{ path('orocrm_contact_view', {'id': entity.relatedContact.id}) }}">
                                {{ entity.relatedContact|escape }}
                            </a>
                        {% else %}
                            {{ entity.relatedContact|escape }}
                        {% endif %}
                    {%- endif -%}
                {%- endset -%}
                {{ UI.renderHtmlProperty('orocrm.case.caseentity.related_contact.label'|trans, relatedContact) }}

                {%- set relatedCustomer -%}
                    {%- if entity.relatedCustomer -%}
                        {% if resource_granted('orocrm_magento_customer_view') %}
                            <a href="{{ path('orocrm_magento_customer_view', {'id': entity.relatedCustomer.id}) }}">
                                {{ entity.relatedCustomer|escape }}
                            </a>
                        {% else %}
                            {{ entity.relatedCustomer|escape }}
                        {% endif %}
                    {%- endif -%}
                {%- endset -%}
                {{ UI.renderHtmlProperty('orocrm.case.caseentity.related_customer.label'|trans, relatedCustomer) }}

                {%- set relatedOrder -%}
                    {%- if entity.relatedOrder -%}
                        {% if resource_granted('orocrm_magento_order_view') %}
                            <a href="{{ path('orocrm_magento_order_view', {'id': entity.relatedOrder.id}) }}">
                                {{ entity.relatedOrder.incrementId|oro_format_name|escape }}
                            </a>
                        {% else %}
                            {{ entity.relatedOrder.incrementId|escape }}
                        {% endif %}
                    {%- endif -%}
                {%- endset -%}
                {{ UI.renderHtmlProperty('orocrm.case.caseentity.related_order.label'|trans, relatedOrder) }}

                {%- set relatedCart -%}
                    {%- if entity.relatedCart -%}
                        {% if resource_granted('orocrm_magento_cart_view') %}
                            <a href="{{ path('orocrm_magento_cart_view', {'id': entity.relatedCart.id}) }}">
                                {{ entity.relatedCart|escape }}
                            </a>
                        {% else %}
                            {{ entity.relatedCart|escape }}
                        {% endif %}
                    {%- endif -%}
                {%- endset -%}
                {{ UI.renderHtmlProperty('orocrm.case.caseentity.related_cart.label'|trans, relatedCart) }}

                {%- set relatedLead -%}
                    {%- if entity.relatedLead -%}
                        {% if resource_granted('orocrm_sales_lead_view') %}
                            <a href="{{ path('orocrm_sales_lead_view', {'id': entity.relatedLead.id}) }}">
                                {{ entity.relatedLead|escape }}
                            </a>
                        {% else %}
                            {{ entity.relatedLead|escape }}
                        {% endif %}
                    {%- endif -%}
                {%- endset -%}
                {{ UI.renderHtmlProperty('orocrm.case.caseentity.related_lead.label'|trans, relatedLead) }}

                {%- set relatedOpportunity -%}
                    {%- if entity.relatedOpportunity -%}
                        {% if resource_granted('orocrm_sales_opportunity_view') %}
                            <a href="{{ path('orocrm_sales_opportunity_view', {'id': entity.relatedOpportunity.id}) }}">
                                {{ entity.relatedOpportunity|escape }}
                            </a>
                        {% else %}
                            {{ entity.relatedOpportunity|escape }}
                        {% endif %}
                    {%- endif -%}
                {%- endset -%}
                {{ UI.renderHtmlProperty('orocrm.case.caseentity.related_opportunity.label'|trans, relatedOpportunity) }}
            </div>
            <div class="responsive-block">
                {{ entityConfig.renderDynamicFields(entity) }}
            </div>
        </div>
    {%- endset -%}

    {% set dataBlocks = [
        {
            'title': 'orocrm.case.block.general'|trans,
            'class': 'active',
            'subblocks': [
                {'data' : [caseInformation]}
            ]
        }
    ] %}

    {% set id = 'caseeView' %}
    {% set data = { 'dataBlocks': dataBlocks } %}

    {{ parent() }}
{% endblock content_data %}
