{% import _self as account_contacts %}

<div class="widget-content">
    <div class="contact-box-wrapper">
        {% if defaultContact or contactsWithoutDefault|length %}
            {% if defaultContact %}
                {{ account_contacts.render_contact_box(entity, defaultContact, true) }}
            {% endif %}
            {% for contact in contactsWithoutDefault %}
                {{ account_contacts.render_contact_box(entity, contact, false) }}
            {% endfor %}
        {% else %}
            <div class="no-data">
                {{ "oro.contact.account.no_contacts_exist"|trans }}
            </div>
        {% endif %}
    </div>
</div>

{% macro render_contact_box(account, contact, isDefault) %}
    {% import '@OroUI/macros.html.twig' as UI %}
    {% import '@OroEmail/macros.html.twig' as Email %}
    <div class="contact-box">
        <div class="contact-box-title">
            <a href="{{ path('oro_contact_view',{'id': contact.id }) }}" title="{{ contact|oro_format_name }}" class="contact-box-name-link contact-box-link" >
                {{- contact|oro_format_name -}}
                {% if isDefault %}
                    <span class="label label-info">{{ "oro.account.default_contact.label"|trans }}</span>
                {% endif %}
            </a>
        </div>
        <div class="contact-box-row">
            <span class="contact-element-label">{{ "oro.account.phone.label"|trans }}:</span>
            {% if contact.primaryPhone %}
                {{ UI.renderPhoneWithActions(contact.primaryPhone, contact) }}
            {% else %}
                {{ 'N/A'|trans }}
            {% endif %}
        </div>
        <div class="contact-box-row">
            <span class="contact-element-label">{{ "oro.account.email.label"|trans }}:</span>
            {% if contact.primaryEmail %}
                {{ Email.renderEmailWithActions(contact.primaryEmail.email, contact) }}
            {% else %}
                {{ 'N/A'|trans }}
            {% endif %}
        </div>
    </div>
{% endmacro %}
