{% import '@OroUI/macros.html.twig' as ui %}
{% import '@OroEntityConfig/macros.html.twig' as entityConfig %}
{% import '@OroUser/macros.html.twig' as U %}
{% import _self as contactInfo %}

{% macro renderCollectionWithPrimaryElement(collection, isEmail, entity) %}
    {% import '@OroUI/macros.html.twig' as ui %}
    {% import '@OroEmail/macros.html.twig' as email %}

    {% set primaryElement = null %}
    {% set elements = [] %}

    {% for element in collection %}
        {% if element.primary %}
            {% set primaryElement = element %}
        {% else %}
            {% set elements = elements|merge([element]) %}
        {% endif %}
    {% endfor %}
    {% if primaryElement %}
        {% set elements = [primaryElement]|merge(elements) %}
    {% endif %}

    <ul class="extra-list">
        {%- for element in elements %}
            <li class="contact-collection-element{% if element.primary %} primary{% endif %}">
                {% if isEmail %}
                    {{ email.renderEmailWithActions(element, entity) }}
                {% else %}
                    {{ ui.renderPhoneWithActions(element, entity) }}
                {% endif %}
            </li>
        {% endfor -%}
    </ul>
{% endmacro %}

{%- macro getSocialUrl(type, value) -%}
    {%- if value|slice(0, 5) == 'http:' or value|slice(0, 6) == 'https:' -%}
        {{- value -}}
    {%- else -%}
        {{- oro_social_url(type, value) -}}
    {%- endif -%}
{%- endmacro -%}

<div class="widget-content">
    <div class="row-fluid form-horizontal contact-info">
        <div class="responsive-block">
            {%- set skypeData -%}
                {%- if entity.skype -%}
                    {{ entity.skype }} {{ skype_button(entity.skype) }}
                {%- endif -%}
            {%- endset -%}

            {%- set socialData -%}
                {%- if entity.twitter or entity.facebook or entity.googlePlus or entity.linkedIn -%}
                    <ul class="social-list extra-list">
                        {% if entity.twitter %}
                            <li>
                                <a class="no-hash" href="{{- contactInfo.getSocialUrl('twitter', entity.twitter) -}}" target="_blank" title="Twitter">
                                    <i class="fa-twitter" aria-hidden="true"></i>
                                    <span class="sr-only">Twitter</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if entity.facebook %}
                            <li>
                                <a class="no-hash" href="{{- contactInfo.getSocialUrl('facebook', entity.facebook) -}}" target="_blank" title="Facebook">
                                    <i class="fa-facebook" aria-hidden="true"></i>
                                    <span class="sr-only">Facebook</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if entity.googlePlus %}
                            <li>
                                <a class="no-hash" href="{{- contactInfo.getSocialUrl('google_plus', entity.googlePlus) -}}" target="_blank" title="Google+">
                                    <i class="fa-google-plus" aria-hidden="true"></i>
                                    <span class="sr-only">Google+</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if entity.linkedIn %}
                            <li>
                                <a class="no-hash" href="{{- contactInfo.getSocialUrl('linked_in', entity.linkedIn) -}}" target="_blank" title="LinkedIn">
                                    <i class="fa-linkedin" aria-hidden="true"></i>
                                    <span class="sr-only">LinkedIn</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                {%- endif -%}
            {%- endset -%}

            {{ ui.renderSwitchableHtmlProperty('oro.contact.description.label'|trans, entity.description) }}
            {{ ui.renderHtmlProperty('oro.contact.phones.label'|trans, entity.phones.count ? contactInfo.renderCollectionWithPrimaryElement(entity.phones, false, entity) : null) }}
            {{ ui.renderHtmlProperty('oro.contact.emails.label'|trans, entity.emails.count ? contactInfo.renderCollectionWithPrimaryElement(entity.emails, true, entity) : null) }}
            {% set faxPhone = entity.fax ? ui.renderPhone(entity.fax) : null %}
            {{ ui.renderHtmlProperty('oro.contact.fax.label'|trans, faxPhone, null, null, {'dir': faxPhone ? 'ltr' : null}) }}
            {{ ui.renderHtmlProperty('oro.contact.skype.label'|trans, skypeData) }}
            {{ ui.renderProperty('oro.contact.method.label'|trans, entity.method) }}
            {{ ui.renderHtmlProperty('oro.contact.social.label'|trans, socialData) }}

            {{ entityConfig.renderDynamicFields(entity) }}
        </div>

        <div class="responsive-block">
            {%- set accountsData -%}
                {%- if entity.accounts.count -%}
                    {% set accountViewGranted = is_granted('oro_account_view') %}
                    {%- for account in entity.accounts -%}
                        {%- if accountViewGranted -%}
                            <a href="{{ path('oro_account_view', {'id': account.id}) }}">{{ ui.renderEntityViewLabel(account, 'name', 'oro.account.entity_label') }}</a>
                        {%- else -%}
                            {{ ui.renderEntityViewLabel(account, 'name') }}
                        {%- endif -%}
                        {% if not loop.last %}, {% endif %}
                    {%- endfor -%}
                {%- endif -%}
            {%- endset -%}

            {%- set assignedToData -%}
                {%- if entity.assignedTo -%}
                    {{ U.render_user_name(entity.assignedTo) }}
                    {{ U.user_business_unit_name(entity.assignedTo) }}
                {%- endif -%}
            {%- endset -%}

            {{ ui.renderProperty('oro.contact.job_title.label'|trans, entity.jobTitle) }}
            {{ ui.renderHtmlProperty('oro.contact.accounts.label'|trans, accountsData) }}
            {{ ui.renderProperty('oro.contact.birthday.label'|trans, ui.render_birthday(entity.birthday)) }}
            {{ ui.renderProperty('oro.contact.gender.label'|trans, oro_gender(entity.gender)) }}
            {{ ui.renderProperty('oro.contact.source.label'|trans, entity.source) }}
            {{ ui.renderHtmlProperty('oro.contact.assigned_to.label'|trans, assignedToData) }}
            {{ ui.renderHtmlProperty(
                'oro.contact.reports_to.label'|trans,
                ui.entityViewLink(entity.reportsTo, entity.reportsTo|oro_format_name, 'oro_contact_view')
            ) }}

            {% if entity.groups.count or feature_resource_enabled('Oro\\Bundle\\ContactBundle\\Entity\\Group', 'entities') %}
            {{ ui.renderProperty('oro.contact.groups.label'|trans, entity.groups.count ? entity.groupLabels|join(', ') : null) }}
            {% endif %}
        </div>
    </div>
</div>
