{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}
{% import 'OroSegmentBundle::macros.html.twig' as segmentQD %}

{% oro_title_set({params : {"%entityName%": entity.name|default('N/A') }}) %}

{% block navButtons %}
    {% placeholder marketing_list_nav_buttons with {entity: entity} %}
    {% if entity.type.name == constant('OroCRM\\Bundle\\MarketingListBundle\\Entity\\MarketingListType::TYPE_STATIC') and resource_granted('EDIT', entity) %}
        {{ UI.clientButton({
            'dataUrl': path('orocrm_api_post_marketinglist_segment_run', { 'id': entity.segment.id }) ,
            'aCss':   'no-hash run-button btn',
            'label' : 'orocrm.marketinglist.refresh_list'|trans,
            'iCss':   'icon-refresh',
            'dataAttributes': {
                'page-component-module': 'orosegment/js/app/components/refresh-button',
                'page-component-options': {
                    'successMessage': 'orocrm.marketinglist.refresh_dialog.success',
                    'content': 'orocrm.marketinglist.refresh_dialog.content',
                    'reloadRequired': true
                }|json_encode,
            }
        }) }}
    {% endif %}
    {% if isDesktopVersion() and resource_granted('EDIT', entity) %}
        {{ UI.editButton({
            'path' : path('orocrm_marketing_list_update', { id: entity.id }),
            'entity_label': 'orocrm.marketinglist.entity_label'|trans
        }) }}
    {% endif %}
    {% if isDesktopVersion() and resource_granted('DELETE', entity) %}
        {{ UI.deleteButton({
            'dataUrl': path('orocrm_api_delete_marketinglist', {'id': entity.id}),
            'dataRedirect': path('orocrm_marketing_list_index'),
            'aCss': 'no-hash remove-button',
            'id': 'btn-remove-user',
            'dataId': entity.id,
            'entity_label': 'orocrm.marketinglist.entity_label'|trans
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('orocrm_marketing_list_index'),
        'indexLabel': 'orocrm.marketinglist.entity_plural_label'|trans,
        'entityTitle': entity.name
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {%- set listInformation -%}
        <div class="row-fluid form-horizontal">
            <div class="responsive-block">
                {{ UI.renderProperty('orocrm.marketinglist.name.label'|trans, entity.name) }}
                {{ UI.renderProperty('orocrm.marketinglist.type.label'|trans, entity.type.label|trans) }}
                {{ UI.renderHtmlProperty('orocrm.marketinglist.description.label'|trans, entity.description) }}

                {%- set entityData -%}
                    <i class="{{ config.icon }} hide-text"></i>&nbsp;{{ config.label }}
                {%- endset -%}

                {{ UI.renderHtmlProperty('orocrm.marketinglist.entity.label'|trans, entityData) }}

                {% if entity.segment is not empty %}
                    {%- set segmentData -%}
                        {% if resource_granted('oro_segment_view') %}
                            <a href="{{ path('oro_segment_view', {'id': entity.segment.id}) }}">
                                {{ entity.segment.name }}
                            </a>
                        {% else %}
                            {{ entity.segment.name }}
                        {% endif %}
                    {%- endset -%}

                    {{ UI.renderHtmlProperty('oro.segment.entity_label'|trans, segmentData) }}
                {% endif %}

                {%- set ownerData -%}
                    {%- if entity.owner -%}
                        {% if resource_granted('oro_user_user_view') %}
                            <a href="{{ path('oro_user_view', {'id': entity.owner.id}) }}">
                                {{ entity.owner|oro_format_name|escape }}
                            </a>
                        {% else %}
                            {{ entity.owner|oro_format_name|escape }}
                        {% endif %}
                    {%- endif -%}
                {%- endset -%}
                {{ UI.renderHtmlProperty('orocrm.marketinglist.owner.label'|trans, ownerData) }}
            </div>
            <div class="responsive-block">
                {{ entityConfig.renderDynamicFields(entity) }}
            </div>
        </div>
    {%- endset -%}

    {%- set syncStatusData -%}
        {% placeholder marketing_list_sync_info with {marketingList: entity} %}
    {%- endset -%}

    {% set itemsGridName = gridName ~ '_items' %}
    {% set removedItemsGridName = gridName ~ '_removed_items' %}
    {% set itemsMixin = 'orocrm-marketing-list-items-mixin' %}
    {% set removedItemsMixin = 'orocrm-marketing-list-removed-items-mixin' %}
    {% if entity.manual %}
        {% set itemsMixin = 'orocrm-marketing-list-manual-items-mixin' %}
        {% set removedItemsMixin = 'orocrm-marketing-list-manual-removed-items-mixin' %}
    {% endif %}
    {%- set listData -%}
        {{ dataGrid.renderGrid(itemsGridName, {'grid-mixin': itemsMixin}) }}
    {%- endset -%}
    {%- set removedItemsGrid -%}
        {{  dataGrid.renderGrid(removedItemsGridName, {'grid-mixin': removedItemsMixin}) }}
    {%- endset -%}

    {% set generalSectionBlocks = [{'data' : [listInformation]}]%}
    {% if syncStatusData is not empty %}
        {% set generalSectionBlocks = generalSectionBlocks|merge(
            [{'data': [syncStatusData]}]
        ) %}
    {% endif %}
    {% set dataBlocks = [
        {
            'title': 'orocrm.marketinglist.block.general'|trans,
            'class': 'active',
            'subblocks': generalSectionBlocks
        },
        {
            'title': config.plural_label,
            'subblocks': [
                {'data' : [listData]}
            ]
        },
        {
            'title' : 'orocrm.marketinglist.block.removed'|trans,
            'subblocks': [
                {'data' : [removedItemsGrid]}
            ]
        }
    ] %}

    <div data-page-component-module="orocrmmarketinglist/js/app/components/grid-linker"
         data-page-component-options="{{ [
             {main: itemsGridName, secondary: removedItemsGridName},
             {main: removedItemsGridName, secondary: itemsGridName}
         ]|json_encode }}"></div>

    {% set id = 'marketingListView' %}
    {% set data = { 'dataBlocks': dataBlocks } %}

    {{ parent() }}
{% endblock content_data %}
