{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}
{% import 'OroActivityBundle::macros.html.twig' as AC %}

{% oro_title_set({params : {"%subject%": entity.subject|default('N/A') }}) %}

{% block navButtons %}
    {% if resource_granted('EDIT', entity) %}
        {# Button for add context on the activity list item view page #}
        {{ AC.addContextButton(entity) }}
        {{ UI.editButton({
            'path' : path('orocrm_call_update', { id: entity.id }),
            'entity_label': 'orocrm.call.entity_label'|trans
        })  }}
    {% endif %}
    {% if resource_granted('DELETE', entity) %}
        {{ UI.deleteButton({
            'dataUrl': path('oro_api_delete_call', {'id': entity.id}),
            'dataRedirect': path('orocrm_call_index'),
            'aCss': 'no-hash remove-button',
            'dataId': entity.id,
            'entity_label': 'orocrm.call.entity_label'|trans
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block stats %}
    {# Display contexts targets in the activity view page #}
    <li class="context-data activity-context-activity-block">
        {{ AC.activity_contexts(entity) }}
    </li>
{% endblock %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity':      entity,
        'indexPath':   path('orocrm_call_index'),
        'indexLabel':  'orocrm.call.entity_plural_label'|trans,
        'entityTitle': entity.subject|default('N/A'),
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {% set callInformationWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'title': 'orocrm.call.widget.call_information'|trans,
            'url': path('orocrm_call_widget_info', {id: entity.id, renderContexts: 0})
        }) }}
    {% endset %}

    {% set dataBlocks = [
        {
            'title': 'orocrm.call.sections.general'|trans,
            'class': 'active',
            'subblocks': [
                {'data' : [callInformationWidget]}
            ]
        }
    ] %}

    {% set id = 'callView' %}
    {% set data = { 'dataBlocks': dataBlocks } %}
    {{ parent() }}
{% endblock content_data %}
