<div class="widget-content">
    <div class="contact-box-wrapper">
        {% if defaultContact %}
            {{ _self.render_contact_box(defaultContact, true) }}
            {% for contact in contactsWithoutDefault|slice(0, 5) %}
                {{ _self.render_contact_box(contact, false) }}
            {% endfor %}
        {% endif %}
    </div>
</div>
<script type="text/javascript">
    require(['orocrm/account/contacts-widget'], function(ContactWidget){
                ContactWidget.init();
            });
</script>
{% macro render_contact_box(contact, isDefault) %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    <div class="contact-box">
        <div class="contact-box-row">
            <a class="contact-box-name-link contact-box-link" href="{{ url("orocrm_contact_view",{"id":contact.id}) }}">
                {{ contact|oro_format_name }}
                {% if isDefault %}
                    ({{ "orocrm.account.default_contact.label"|trans }})
                {% endif %}
            </a>
        </div>
        <div class="contact-box-row">
            <span>{{ "orocrm.contact_widget.phone"|trans }}:</span><span>{{ contact.getPrimaryPhone() }}</span>
        </div>
        <div class="contact-box-row">
            <span>{{ "orocrm.contact_widget.email"|trans }}:</span>
            <a class="contact-box-link" data-id="{{ contact.id }}" data-url="{{ path('orocrm_contact_email_create', { 'contactId': contact.id }) }}"
                href="javascript:void(0);"
                {{ UI.renderWidgetElementAttributes({
                    'type' : 'dialog',
                    'reload-event' : 'contactCallLogged',
                    'reload-widget-alias' : 'contact_calls',
                    'options' : {
                        'dialogOptions' : {
                            'title' : 'oro.email.send_email'|trans,
                            'allowMaximize': true,
                            'allowMinimize': true,
                            'dblclick': 'maximize',
                            'maximizedHeightDecreaseBy': 'minimize-bar',
                            'width': 1000
                        }
                    }
               }) }}
            >{{ contact.getPrimaryEmail() }}
            </a>
        </div>
    </div>
{% endmacro %}
