{% macro render_contact_squad(contact, isDefault) %}
    <div class="contact-squad">
        <div class="contact-squad-row">
            <a class="contact-squad-name-link" href="{{ url("orocrm_contact_view",{"id":contact.id}) }}">
                <strong>
                    {{ contact|oro_format_name }}
                    {% if isDefault %}
                        (default)
                    {% endif %}
                </strong>
            </a>
        </div>
        <div class="contact-squad-row">
            <span>{{ "orocrm.contact_widget.phone"|trans }}</span>:&nbsp;<span>{{ contact.phones[0] }}</span>
        </div>
        <div class="contact-squad-row">
            <span>{{ "orocrm.contact_widget.email"|trans }}</span>:&nbsp;
            <a class="contact-squad-email-link view-email-button" data-id="{{ contact.id }}" data-url="{{ path('orocrm_contact_email_create', { 'contactId': contact.id }) }}" href="javascript:void(0);">{{ contact.emails[0] }}</a>
        </div>
    </div>
{% endmacro %}

<div class="widget-content">
    <div class="contact-squads-wrapper">
        {% for contact in entity.contacts %}
            {{ _self.render_contact_squad(contact, true) }}
        {% endfor %}
        {% for contact in entity.contacts %}
            {{ _self.render_contact_squad(contact) }}
        {% endfor %}
        {% for contact in entity.contacts %}
            {{ _self.render_contact_squad(contact) }}
        {% endfor %}
        {% for contact in entity.contacts %}
            {{ _self.render_contact_squad(contact) }}
        {% endfor %}
        {% for contact in entity.contacts %}
            {{ _self.render_contact_squad(contact) }}
        {% endfor %}
        {% for contact in entity.contacts %}
            {{ _self.render_contact_squad(contact) }}
        {% endfor %}
    </div>
</div>
<script type="text/javascript">
    require(['orocrm/account/contacts-widget'], function(ContactWidget){
                ContactWidget.init();
            });
</script>
