<div class="widget-content">
    <div class="contact-box-wrapper">
        {% for contact in entity.contacts|slice(0, 6) %}
            {{ _self.render_contact_squad(contact, loop.first) }}
        {% endfor %}
    </div>
</div>
<script type="text/javascript">
    require(['orocrm/account/contacts-widget'], function(ContactWidget){
                ContactWidget.init();
            });
</script>
{% macro render_contact_squad(contact, isDefault) %}
    <div class="contact-box">
        <div class="contact-box-row">
            <a class="contact-box-name-link contact-box-link" href="{{ url("orocrm_contact_view",{"id":contact.id}) }}">
                {{ contact|oro_format_name }}
                {% if isDefault %}
                    (default)
                {% endif %}
            </a>
        </div>
        <div class="contact-box-row">
            <span>{{ "orocrm.contact_widget.phone"|trans }}:</span><span>{{ contact.getPrimaryPhone() }}</span>
        </div>
        <div class="contact-box-row">
            <span>{{ "orocrm.contact_widget.email"|trans }}:</span>
            <a class="contact-box-link view-email-button" data-id="{{ contact.id }}" data-url="{{ path('orocrm_contact_email_create', { 'contactId': contact.id }) }}" href="javascript:void(0);">{{ contact.getPrimaryEmail() }}</a>
        </div>
    </div>
{% endmacro %}
