<div class="widget-content grid-widget-content">
    {% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}
    {% set gridName = 'account-contacts-update-grid' %}

    {% set params = {
        'account': account ? account.id : null,
        '_parameters' : {
            'data_in':     app.request.get('added') ? app.request.get('added')|split(',') : [],
            'data_not_in': app.request.get('removed') ? app.request.get('removed')|split(','): []
        }
    } %}

    <style type="text/css">
        .grid-widget-content .grid,
        .grid-widget-content .table {
            margin-bottom: 0;
        }
    </style>

    {% block content %}
        {{ dataGrid.renderGrid(gridName, params) }}
        <input type="hidden" name="appendContacts" id="appendContacts" value="{{ app.request.get('added') }}" />
        <input type="hidden" name="removeContacts" id="removeContacts" value="{{ app.request.get('removed') }}" />
    {% endblock %}

    <script type="text/javascript">
        {% set wid = app.request.get('_wid') %}
        require(['jquery', 'routing', 'orodatagrid/js/datagrid/listener/callback-listener', 'oroui/js/widget-manager',
            'oroform/js/multiple-entity/model', 'orolocale/js/formatter/name'],
        function($, routing, CallbackListener, WidgetManager, MultipleEntityModel, nameFormatter) {
            var addedModels = {};
            WidgetManager.getWidgetInstance({{ wid|json_encode|raw }}, function(widget) {
                widget.getAction('select', 'adopted', function(selectBtn) {
                    selectBtn.click(function() {
                        var addedVal = $('#appendContacts').val();
                        var removedVal = $('#removeContacts').val();
                        var appendedIds = addedVal.length ? addedVal.split(',') : [];
                        var removedIds = removedVal.length ? removedVal.split(',') : [];
                        widget.trigger('completeSelection', appendedIds, addedModels, removedIds);
                    });
                });
            });

            var gridName = {{ gridName|json_encode|raw }};

            $(function () {
                /** @type {orodatagrid.datagrid.listener.CallbackListener} */
                new CallbackListener({
                    $gridContainer: $('[data-wid="{{ wid }}"]'),
                    gridName: gridName,
                    dataField: 'id',
                    columnName: 'hasContact',
                    processCallback: function (value, model, listener) {
                        var isActive = model.get(listener.columnName);
                        var id = model.get('id');
                        if (isActive) {
                            addedModels[id] = new MultipleEntityModel({
                                'id': model.get('id'),
                                'link': routing.generate('orocrm_contact_info', {id: model.get('id')}),
                                'label': nameFormatter.format(model.toJSON()),
                                'extraData': [
                                    {
                                        'label': 'Phone',
                                        'value': model.get('primaryPhone')
                                    },
                                    {
                                        'label': 'Email',
                                        'value': model.get('primaryEmail')
                                    }
                                ]
                            });
                        } else if (addedModels.hasOwnProperty(id)) {
                            delete addedModels[id];
                        }
                    }
                });
            });
        });
    </script>

    <div class="widget-actions">
        <button type="reset" class="btn">{{ 'Cancel'|trans }}</button>
        <button type="button" class="btn btn-primary" data-action-name="select">{{ 'Select'|trans }}</button>
    </div>
</div>
