{% import 'OroUIBundle::macros.html.twig' as ui %}
{% import 'OroAddressBundle::macros.html.twig' as address %}
{% import 'OroTagBundle::macros.html.twig' as tag %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

<div class="widget-content">
    <div class="row-fluid row-fluid-divider">
        <div class="responsive-block form-horizontal">
            {{ ui.renderProperty('orocrm.account.name.label'|trans, entity.name) }}
            {{ entityConfig.renderDynamicFields(entity) }}
            {% if entity.billingAddress is not empty %}
                {{ ui.renderProperty('orocrm.account.billing_address.label'|trans, address.renderAddress(entity.billingAddress)) }}
            {% endif %}
            {% if entity.shippingAddress is not empty %}
                {{ ui.renderProperty('orocrm.account.shipping_address.label'|trans, address.renderAddress(entity.shippingAddress)) }}
            {% endif %}

            {% if resource_granted('oro_tag_view_tag_cloud') %}
                {{ ui.renderProperty('oro.tag.entity_plural_label'|trans, tag.renderView(entity)) }}
            {% endif %}
        </div>
        <div class="responsive-block contact-widget-wrapper">
            {% if resource_granted('orocrm_contact_view') %}
                {{ oro_widget_render({
                    'widgetType': 'block',
                    'url': path('orocrm_account_widget_contacts', {id: entity.id}),
                    'title': 'orocrm.account.widgets.contacts.title'|trans
                }) }}
            {% endif %}
        </div>
    </div>

</div>
