{% import 'OroUIBundle::macros.html.twig' as ui %}
{% import 'OroTagBundle::macros.html.twig' as tag %}
{% import 'OroEntityExtendBundle::macros.html.twig' as entityExtend %}

{% macro renderAddress(address) %}
    {% if address.label %}
        <b>{{ address.label }}</b>
        <br />
    {% endif %}
    {{ address|oro_format_address }}
{% endmacro %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ ui.renderProperty('orocrm.account.name.label'|trans, entity.name) }}
            {{ entityExtend.renderDynamicFields(dynamic) }}
        </div>
        <div class="responsive-block">
            {% if entity.billingAddress is not empty %}
                {{ ui.renderProperty('orocrm.account.billing_address.label'|trans, _self.renderAddress(entity.billingAddress)) }}
            {% endif %}
            {% if entity.shippingAddress is not empty %}
                {{ ui.renderProperty('orocrm.account.shipping_address.label'|trans, _self.renderAddress(entity.shippingAddress)) }}
            {% endif %}
        </div>
    </div>

    {% if resource_granted('oro_tag_view_tag_cloud') %}
    <div class="clearfix">
        <label class="title">{{ 'oro.tag.entity_plural_label'|trans  }}</label>
        <div class="clearfix-oro container-fluid">
            {{ tag.renderView(entity) }}
        </div>
    </div>
    {% endif %}
</div>
