{% import 'OroUIBundle::macros.html.twig' as ui %}
{% import 'OroEmailBundle::macros.html.twig' as email %}
{% import 'OroCRMChannelBundle::macros.html.twig' as channel %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ channel.renderChannelProperty(entity, 'orocrm.contactus.contactrequest.data_channel.label') }}

            {{ ui.renderProperty('orocrm.contactus.contactrequest.first_name.label'|trans, entity.firstName) }}
            {{ ui.renderProperty('orocrm.contactus.contactrequest.last_name.label'|trans, entity.lastName) }}
            {{ ui.renderHtmlProperty('orocrm.contactus.contactrequest.email_address.label'|trans, email.renderEmailWithActions(entity.emailAddress, entity)) }}
            {{ ui.renderHtmlProperty('orocrm.contactus.contactrequest.phone.label'|trans, entity.phone ? ui.renderPhoneWithActions(entity.phone, entity) : null) }}
            {{ ui.renderProperty('orocrm.contactus.contactrequest.comment.label'|trans, entity.comment) }}

            {{ entityConfig.renderDynamicFields(entity) }}
        </div>
    </div>
</div>
