<span class="title">{{ item.label|trans }}</span>
<h3 class="value">{{ item.value.value|raw }}</h3>
{% if item.value.deviation is defined %}
<div class="deviation">
    <span class="deviation {% if item.value.isPositive is defined %}{% if item.value.isPositive %}positive{% else %}negative{% endif %}{% endif %}">
        {{ item.value.deviation|raw }}
    </span>
</div>
<div class="deviation">
    <span class="deviation">
        {{ 'orocrm.magento.dashboard.e_commerce_statistic.compare_to.label'|trans }}:
    </span>
    <span class="date-range">{{ item.value.previousRange }}</span>
</div>
{% endif %}
