{% extends 'OroDashboardBundle:Dashboard:widget.html.twig' %}

{% block content %}
    <div id="{{ widgetId }}-chart" class="plot" style="width: 400px; height: 400px">
    </div>

    <script type="text/javascript">
        require(['jquery', 'flotr2'],
        function($, Flotr){
            $(function () {
                var data = [
                    {% for item in items %}
                    { data : [[0, {{ (item.percentage * 100)|json_encode|raw }}]], label : {{ item.source|json_encode|raw }} }{{ loop.last ? '' : ',' }}
                    {% endfor  %}
                ];
                var graph = Flotr.draw(
                        $('#{{ widgetId }}-chart').get(0),
                        data,
                        {
                    HtmlText : false,
                    grid : {
                        verticalLines : false,
                        horizontalLines : false
                    },
                    xaxis : { showLabels : false },
                    yaxis : { showLabels : false },
                    pie : {
                        show : true,
                        explode : 2
                    },
                    mouse : { track : true },
                    legend : {
                        position : 'se',
                        backgroundColor : '#D2E8FF'
                    }
                });
            });
        });
    </script>
{% endblock %}
