{% form_theme form with ['@OroForm/Form/fields.html.twig', _self] %}

{% if saved %}
        {% set widgetResponse = {
            widget: {
                trigger: [{
                    eventBroker: 'widget',
                    name: 'formSave',
                    args: [data],
                }],
            }
        } %}

        {{ widgetResponse|json_encode|raw }}
{% else %}
    <div class="widget-content">
        <div class="form-container">
            <form id="{{ form.vars.id }}" name="{{ form.vars.name }}" action="{{ formAction }}" method="post" class="note-form">
                <fieldset class="form-horizontal">
                    {{ form_errors(form) }}
                    {{ form_row(form.message) }}
                    {{ form_rest(form) }}
                    <div class="widget-actions form-actions" style="display: none;">
                        <button class="btn" type="reset">{{ 'Cancel'|trans }}</button>
                        <button class="btn btn-primary" type="submit">{{ 'Save'|trans }}</button>
                    </div>
                </fieldset>
            </form>
            {{ oro_form_js_validation(form) }}
        </div>
    </div>
{% endif %}
