{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as macros %}

{% oro_title_set({params : {"%lead.name%": entity.name} }) %}

{% block navButtons %}
    {% if resource_granted('EDIT', entity) %}
        {% if (entity.status.name not in "canceled") %}
            {{ UI.button({
                'path':  path('orocrm_sales_lead_disqualify', {'id': entity.id}),
                'aCss':  'btn btn-danger action-button',
                'iCss':  'icon-ban-circle',
                'label': 'Disqualify',
                'title': 'Disqualify',
            }) }}
        {% endif %}
        {{ UI.editButton({
            'path' : path('orocrm_sales_lead_update', { 'id': entity.id }),
            'entity_label': 'orocrm.sales.lead.entity_label'|trans
        }) }}
    {% endif %}
    {% if resource_granted('DELETE', entity) %}
        {{ UI.deleteButton({
            'dataUrl': path('oro_api_delete_lead', {'id': entity.id}),
            'dataRedirect': path('orocrm_sales_lead_index'),
            'aCss': 'no-hash remove-button',
            'id': 'btn-remove-lead',
            'dataId': entity.id,
            'entity_label': 'orocrm.sales.lead.entity_label'|trans
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block stats %}
    <li>{{ 'oro.ui.created_at'|trans }}: {{ entity.createdAt ? entity.createdAt|oro_format_datetime : 'N/A' }}</li>
    <li>{{ 'oro.ui.updated_at'|trans }}: {{ entity.updatedAt ? entity.updatedAt|oro_format_datetime : 'N/A' }}</li>
{% endblock stats %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('orocrm_sales_lead_index'),
        'indexLabel': 'orocrm.sales.lead.entity_plural_label'|trans,
        'entityTitle': entity.name
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block breadcrumbs %}
    {{ parent() }}
    <div class="pull-left">
        {% if entity.status.name != 'canceled' %}
            <div class="badge badge-enabled status-enabled"><i class="icon-status-enabled icon-circle"></i>{{ entity.status.label }}</div>
        {% else %}
            <div class="badge badge-disabled status-disabled"><i class="icon-status-disabled icon-circle"></i>{{ entity.status.label  }}</div>
        {% endif %}
    </div>
{% endblock breadcrumbs %}

{% block content_data %}
    {% set leadInformationWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'url': path('orocrm_sales_lead_info', {id: entity.id}),
            'title': 'Lead Information'|trans
        }) }}
    {% endset %}

    {% set addressBookWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'contentClasses': [],
            'url': path('orocrm_sales_lead_address_book', {id: entity.id}),
            'title': 'Address Book'|trans
        }) }}
    {% endset %}

    {% set dataBlocks = [
        {
            'title': 'General Information'|trans,
            'class': 'active',
            'subblocks': [
                {'data' : [leadInformationWidget] },
                {'data' : [addressBookWidget] },
            ]
        }
    ] %}

    {% set id = 'leadView' %}
    {% set data = {'dataBlocks': dataBlocks} %}
    {{ parent() }}
{% endblock content_data %}
