{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as macros %}

{% oro_title_set({params : {"%lead.name%": entity.name} }) %}
{% set audit_entity_class = 'OroCRM_Bundle_SalesBundle_Entity_Lead' %}

{% block navButtons %}
    {% if resource_granted('orocrm_sales_lead_update') %}
        {{ UI.button({'path' : path('orocrm_sales_lead_update', { 'id': entity.id }), 'iClass' : 'icon-edit ', 'title' : 'Update lead', 'label' : 'Edit'}) }}
    {% endif %}
    {% if resource_granted('orocrm_sales_lead_delete') %}
        {{ UI.deleteButton({
                'dataUrl': path('oro_api_delete_lead', {'id': entity.id}) ,
                'dataRedirect': path('orocrm_sales_lead_index'),
                'aCss': 'no-hash remove-button',
                'id': 'btn-remove-lead',
                'dataId': entity.id,
                'dataMessage': 'Are you sure you want to delete this lead?',
                'title': 'Delete Lead',
                'label': 'Delete'
            })
        }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
            'entity': entity,
            'indexPath': path('orocrm_sales_lead_index'),
            'indexLabel': 'Leads',
            'entityTitle': entity.name
        }
    %}
    {{ parent() }}
{% endblock pageHeader %}

{% block breadcrumbs %}
    {{ parent() }}
    <div class="status-enabled pull-left">
        {% if entity.status.name != 'canceled' %}
            <div class="badge badge-enabled status-enabled"><i class="icon-status-enabled icon-circle"></i>{{ entity.status.label }}</div>
        {% else %}
            <div class="badge badge-disabled status-disabled"><i class="icon-status-disabled icon-circle"></i>{{ entity.status.label  }}</div>
        {% endif %}
    </div>
{% endblock breadcrumbs %}

{% block content_data %}
<div class="contact-info-col-set well-small dark-bg">
    <div class="row-fluid well-small-bottom clearfix">
        <div class="span6 contact-info-col">
            {{
                oro_widget_render({
                    'widgetType': 'block',
                    'url': path('orocrm_sales_lead_info', {id: entity.id}),
                    'title': 'Lead Information'|trans
                })
            }}
        </div>
        <div class="span6 contact-info-col">
            {{
                oro_widget_render({
                    'widgetType': 'block',
                    'contentClasses': [],
                    'url': path('orocrm_sales_lead_address_book', {id: entity.id}),
                    'title': 'Address'|trans
                })
            }}
        </div>
    </div>
</div>
{% endblock content_data %}
