{% import 'OroUIBundle::macros.html.twig' as ui %}
{% import 'OroEmailBundle::macros.html.twig' as email %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ ui.renderProperty('orocrm.magento.cart.email.label'|trans, email.email_address_simple(entity.email)) }}
            {{ ui.renderProperty('orocrm.magento.cart.items_qty.label'|trans, entity.itemsQty) }}
            {{ ui.renderProperty('orocrm.magento.cart.status.label'|trans, entity.status|trans) }}
        </div>

        <div class="responsive-block">
            {{ ui.renderProperty('orocrm.magento.customer.website.label'|trans, entity.store.website.name) }}
            {{ ui.renderProperty('orocrm.magento.cart.store.label'|trans, entity.store.name|nl2br) }}
        </div>
    </div>
</div>

