{% import 'OroUIBundle::macros.html.twig' as macros %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}
{% set params = {} %}
{% set gridName = 'magento-cartitem-grid' %}


{# TODO: Move this to OroUIBundle::macros.html.twig #}
{% macro renderRow(label, value) %}
    {% import 'OroUIBundle::macros.html.twig' as macros %}
    {{ macros.renderAttribute(label, '<p class="control-label">' ~ value|default('N/A'|trans) ~ '</p>') }}
{% endmacro %}

<div class="widget-content cart-info-widget form-horizontal box-content row-fluid">
    <div class="span6">
        {% set email = entity.email %}
        {% if entity.email != null %}
            {% set email = '<a href="mailto: ' ~ email ~ '" title="' ~ email ~ '">' ~ email ~ '</a>'%}
        {% endif %}
        {{ _self.renderRow('Email'|trans, email) }}
        <div class="control-group">
            <label class="control-label">{% trans %}Items qty{% endtrans %}</label>
            <div class="controls">
                <div class="clearfix-oro">
                    <p class="control-label">
                        {{ entity.itemsQty }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="span6">
        {{ _self.renderRow('Website'|trans, entity.store.website.name) }}
        {{ _self.renderRow('Store'|trans, entity.store.name) }}
    </div>
</div>

<div class="clearfix">
    <div class="responsive-cell">
        <div class="box-type1">
            <h4 class="scrollspy-title">Cart items</h4>
            <div id="scroll-4" class="scrollspy-nav-target"></div>
            <div class="row-fluid">
                <div class="form-horizontal">
                    <div class="responsive-cell">
                        {{ dataGrid.renderGrid(gridName, params) }}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
