{% extends bap.layout %}

{% block title %}{% trans %}Search results{% endtrans %}: {{ searchString }} - {{ parent() }}{% endblock %}

{% block content %}
    <h2>{% trans %}Search results{% endtrans %}</h2>

    <form method="get" action="{{ path('oro_search_results') }}" class="form-inline">
        <select name="from">
            <option value="">{% trans %}All{% endtrans %}</option>
            {% for entity in entities %}
                <option value="{{ entity.alias }}" {% if entity.alias == from %}selected="selected"{% endif %}>
                    {{ entity.label }}
                </option>
            {% endfor %}
        </select>
        <input type="text" id="search" class="span2" name="search" value="{{ searchString }}"/>
        <button type="submit" class="btn btn-search">Search</button>
    </form>
    {% if searchResults.count > 0 %}
        {% for searchResult in searchResults %}
            {% set template = searchResult.entityConfig.search_template is defined ? searchResult.entityConfig.search_template : default__result_template %}
            {% include template with {'result' : searchResult} %}
        {% endfor %}
        {{ knp_pagination_render(searchResults) }}
    {% else %}
        <h2>{% trans %}Sorry, where are no results for Your request{% endtrans %}</h2>
    {% endif %}
{% endblock %}
