{% extends bap.layout %}

{% oro_title_set({params : {"%keyword%": searchString} }) %}

{% block head_script %}
    {{ parent() }}
    {% include 'OroGridBundle:Include:javascript.html.twig' with {'datagridView': datagrid, 'selector': '#search-result-grid'} %}
    <script type="text/javascript">
        $(function() {
            // hide header
            var searchDatagrid = Oro.Registry.getElement('datagrid', {{ datagrid.datagrid.name|json_encode|raw }});
            searchDatagrid.header.$el.remove();
        });
    </script>
{% endblock %}

{% block page_container %}
<div class="container-fluid">
    {% block content %}
        <h2>{% trans %}Search results{% endtrans %}</h2>

        <form method="get" action="{{ path('oro_search_results') }}" class="form-inline search-form">
            <select name="from">
                <option value="">{% trans %}All{% endtrans %}</option>
                {% for entity in entities %}
                    <option value="{{ entity.alias }}" {% if entity.alias == from %}selected="selected"{% endif %}>
                        {{ entity.label }}
                    </option>
                {% endfor %}
            </select>
            <input type="text" id="search" class="span2 search" name="search" value="{{ searchString }}"/>
            <button type="submit" class="btn btn-search">Search</button>
        </form>

        <div id="search-result-grid"></div>

    {% endblock %}
</div>
{% endblock %}
