{% import 'OroUIBundle::macros.html.twig' as ui %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}
{% import 'OroCRMChannelBundle::macros.html.twig' as channel %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ ui.renderProperty('orocrm.sales.opportunity.name.label'|trans, entity.name) }}
            {{ ui.renderProperty('orocrm.sales.opportunity.status.label'|trans, entity.status) }}

            {{ channel.renderChannelProperty(entity, 'orocrm.sales.lead.data_channel.label') }}

            {%- if entity.contact and resource_granted('VIEW', entity.contact) -%}
                {% set contactView = ui.renderUrl(path('orocrm_contact_view', {'id': entity.contact.id}), entity.contact|oro_format_name) %}
            {%- else -%}
                {% set contactView = entity.contact ? entity.contact|oro_format_name|escape : '' %}
            {%- endif -%}

            {{ ui.renderHtmlProperty('orocrm.sales.opportunity.contact.label'|trans, contactView) }}

            {%- if resource_granted('orocrm_sales_b2bcustomer_view') and entity.customer -%}
                {% set customerView = '<a href="' ~ path('orocrm_sales_b2bcustomer_view', {'id': entity.customer.id}) ~ '">' ~ entity.customer|escape ~ '</a>' %}
            {%- else -%}
                {% set customerView = entity.customer ? entity.customer|escape : '' %}
            {%- endif -%}

            {%- if resource_granted('orocrm_sales_lead_view') and entity.lead -%}
                {% set leadView = '<a href="' ~ path('orocrm_sales_lead_view', {'id': entity.lead.id}) ~ '">' ~ entity.lead|escape ~ '</a>' %}
            {%- else -%}
                {% set leadView = entity.lead ? entity.lead|escape : '' %}
            {%- endif -%}

            {{ ui.renderHtmlProperty('orocrm.sales.opportunity.lead.label'|trans, leadView) }}
            {{ ui.renderHtmlProperty('orocrm.sales.opportunity.customer.label'|trans, customerView) }}
            {{ ui.renderProperty('orocrm.sales.opportunity.probability.label'|trans, entity.probability|length ? entity.probability|oro_format_percent : '') }}
            {{ ui.renderProperty('orocrm.sales.opportunity.budget_amount.label'|trans, entity.budgetAmount|length ? entity.budgetAmount|oro_format_currency, '') }}

            {{ entityConfig.renderDynamicFields(entity) }}
        </div>
        <div class="responsive-block">
            {{ ui.renderHtmlProperty('orocrm.sales.opportunity.customer_need.label'|trans, entity.customerNeed) }}
            {{ ui.renderHtmlProperty('orocrm.sales.opportunity.proposed_solution.label'|trans, entity.proposedSolution) }}
            {{ ui.renderProperty('orocrm.sales.opportunity.close_reason.label'|trans, entity.closeReason) }}
            {{ ui.renderProperty('orocrm.sales.opportunity.close_revenue.label'|trans, entity.closeRevenue|length ? entity.closeRevenue|oro_format_currency, '') }}
            {{ ui.renderProperty('orocrm.sales.opportunity.close_date.label'|trans, entity.closeDate ? entity.closeDate|oro_format_date : '') }}
            {{ ui.renderHtmlProperty('orocrm.sales.opportunity.notes.label'|trans, entity.notes) }}
        </div>
    </div>
</div>
