{% import 'OroUIBundle::macros.html.twig' as macros %}
{% import 'OroLocaleBundle::macros.html.twig' as Locale %}

{# TODO: Move this to OroUIBundle::macros.html.twig #}
{% macro renderRow(label, value) %}
    {% import 'OroUIBundle::macros.html.twig' as macros %}
    {{ macros.renderAttribute(label, '<p class="control-label">' ~ value|default('N/A'|trans) ~ '</p>') }}
{% endmacro %}

<style>
    .opportunity-info {
        min-height: 200px;
    }
</style>

<div class="widget-content opportunity-info form-horizontal box-content row-fluid">

    <div class="span6">
        {{ _self.renderRow('Opportunity name'|trans, entity.name) }}
        {{ _self.renderRow('Status'|trans, entity.status) }}

        {%- if resource_granted('orocrm_contact_view') and entity.contact -%}
            {% set contactView = '<a href="' ~ path('orocrm_contact_view', {'id': entity.contact.id}) ~ '">' ~ entity.contact ~ '</a>' %}
        {%- else -%}
            {% set contactView = entity.contact ? entity.contact : '' %}
        {%- endif -%}
        {{ _self.renderRow('Contact'|trans, contactView) }}

        {%- if resource_granted('orocrm_account_view') and entity.account -%}
            {% set accountView = '<a href="' ~ path('orocrm_account_view', {'id': entity.account.id}) ~ '">' ~ entity.account.__toString() ~ '</a>' %}
        {%- else -%}
            {% set accountView = entity.account ? entity.account.__toString() : '' %}
        {%- endif -%}
        {{ _self.renderRow('Account'|trans, accountView) }}

        {{ _self.renderRow('Probability'|trans, entity.probability|length ? (entity.probability * 100) ~ '%' : '') }}
        {{ _self.renderRow('Budget amount'|trans, entity.budgetAmount|length ? entity.budgetAmount|number_format(2), '') }}

        {% if dynamic|length %}
            {% for label, item in dynamic %}
                {{ _self.renderRow(label|trans, item) }}
            {% endfor %}
        {% endif %}
    </div>
    <div class="span6">
        {{ _self.renderRow('Customer need'|trans, entity.customerNeed) }}
        {{ _self.renderRow('Proposed solution'|trans, entity.proposedSolution) }}
        {{ _self.renderRow('Close reason'|trans, entity.closeReason) }}
        {{ _self.renderRow('Close revenue'|trans, entity.closeRevenue|length ? entity.closeRevenue|number_format(2), '') }}
        {{ _self.renderRow('Close date'|trans, entity.closeDate ? Locale.date(entity.closeDate) : '') }}
    </div>
</div>
