@name = task_reminder
@entityName = OroCRM\Bundle\TaskBundle\Entity\Task
@subject = {{ entity.subject }} is due on {{ entity.dueDate|oro_format_datetime }}
@isSystem = 1
@isEditable = 1

<h3>{{ entity.subject }}</h3>
<p>
    <i>Description:</i>
    {{ entity.description }}
</p>
<p>
    <i>Priority:</i>
    {{ entity.taskPriority }}
</p>
<p>
    <i>Assigned To:</i>
    <a href="{{ url('oro_user_view', {id: entity.assignedTo.id }) }}">
        {{ entity.assignedTo }}
    </a>
</p>
<p>
    {% if entity.relatedAccount is not empty %}
        <i>Account:</i>
        <a href="{{ url('orocrm_account_view', {id: entity.relatedAccount.id }) }}">
            {{ entity.relatedAccount }}
        </a>
    {% endif %}
</p>

<p>
    {% if entity.relatedContact is not empty %}
        <i>Contact:</i>
        <a href="{{ url('orocrm_contact_view', {id: entity.relatedContact.id }) }}">
            {{ entity.relatedContact }}
        </a>
    {% endif %}
</p>

<p>
    <i>Reporter:</i>
    <a href="{{ url('oro_user_view', {id: entity.owner.id }) }}">
        {{ entity.owner }}
    </a>
</p>

<p>
    <i>Due date:</i>
    {{ entity.dueDate|oro_format_datetime }}
</p>

<p>
    <a href="{{ url('orocrm_task_view', {id: entity.id}) }}">
        Open task
    </a>
</p>
