@name = task_reminder
@entityName = OroCRM\Bundle\TaskBundle\Entity\Task
@subject = {{ entity.subject }} is due on {{ entity.dueDate|oro_format_datetime_user({'user': recipient}) }}
@isSystem = 1
@isEditable = 1

<h3>{{ entity.subject }}</h3>
<p><i>Description:</i> {{ entity.description }}</p>
<p><i>Priority:</i> {{ entity.taskPriority }}</p>
<p><i>Assigned To:</i> {{ entity.owner }}</p>
<p><i>Due date:</i> {{ entity.dueDate|oro_format_datetime_user({'user': recipient}) }}</p>
