@name = task_reminder
@entityName = OroCRM\Bundle\TaskBundle\Entity\Task
@subject = {{ entity.subject }} is due on {{ entity.dueDate|date('F j, Y, g:i A') }}
@isSystem = 1
@isEditable = 1

<style>
    @media (max-width: 480pt) {
        .wrapper{
            width: 100% !important;
        }
    }
    a:hover {
        text-decoration: underline;
    }
</style>
<table class="wrapper" style="border-collapse: collapse; width: 640px; width: 480pt; max-width: 100%; box-sizing: border-box">
    <tr>
        <td style="background-color: #ffffff; padding: 4pt">
            <span style="font-family: Arial, Helvetica, sans-serif; font-size: 14pt; line-height: 14pt; color: #444444">{{ entity.subject }} is due on {{ entity.dueDate|date('F j, Y, g:i A') }}</span>
            <div style="height: 10pt; line-height: 10pt">&nbsp;</div>
            <table class="highlight" style="border-collapse:collapse; background: #FFF9E9; color: #827030; width: 100%; font-family: Arial, Helvetica, sans-serif; font-size: 10pt;">
                <tr>
                    <td colspan="2" style="padding: 9pt 9pt 3pt 9pt; font-family: Arial, Helvetica, sans-serif; font-size: 14pt; line-height: 14pt; vertical-align: top">{{ entity.subject }}</td>
                </tr>
                <tr>
                    <td style="width: 65pt; padding: 0 5pt 0 9pt; line-height: 1.3em; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; vertical-align: top"><strong>Due date:</strong></td>
                    <td style="padding: 0 9pt 0 0; line-height: 1.3em; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; vertical-align: top">{{ entity.dueDate|date('F j, Y, g:i A') }}</td>
                </tr>
                <tr>
                    <td style="width: 65pt; padding: 0 5pt 0 9pt; line-height: 1.3em; height:1em; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; vertical-align: top"><strong>Description:</strong></td>
                    <td style="padding: 0 9pt 0 0; line-height: 1.3em; height:1em; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; vertical-align: top">{{ entity.description }}</td>
                </tr>
                <tr>
                    <td style="width: 65pt; padding: 0 5pt 0 9pt; line-height: 1.3em; height:1em; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; vertical-align: top"><strong>Priority:</strong></td>
                    <td style="padding: 0 9pt 0 0; line-height: 1.3em; height:1em; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; vertical-align: top">{{ entity.taskPriority }}</td>
                </tr>
                <tr>
                    <td style="width: 65pt; padding: 0 5pt 0 9pt; line-height: 1.3em; height:1em; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; vertical-align: top"><strong>Assigned to:</strong></td>
                    <td style="padding: 0 9pt 0 0; line-height: 1.3em; height:1em; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; vertical-align: top">{{ entity.owner }}</td>
                </tr>
                <tr>
                    <td style="width: 65pt; padding: 0 5pt 9pt 9pt; line-height: 1.3em; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; vertical-align: top">&nbsp;</td>
                    <td style="padding: 0 9pt 9pt 0; line-height: 1.3em; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; vertical-align: top">
                        <a href="{{ oro_config_value('oro_ui.application_url') }}{{ path('orocrm_task_view', {'id': entity.id}) }}" target="_blank">more details »</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
