{% extends 'OroUIBundle:actions:update.html.twig' %}
{% form_theme form with ['OroAddressBundle:Include:fields.html.twig', 'OroFormBundle:Form:fields.html.twig'] %}

{% set salesFunnelHint = '' %}
{% if entity %}
    {% set salesFunnelHint = 'oro.sales.salesfunnel.hint'|trans({'%id%' : entity.id}) %}
{% endif %}

{% oro_title_set({params : {"%sales_funnel%": salesFunnelHint} }) %}
{% set formAction = form.vars.value.id ? path('oro_sales_salesfunnel_update', { 'id': form.vars.value.id }) : path('oro_sales_salesfunnel_create')  %}

{% block head_script %}
    {{ parent() }}

    {% block stylesheets %}
        {{ form_stylesheet(form) }}
    {% endblock %}
{% endblock %}

{% block navButtons %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}

    {% if form.vars.value.id and is_granted('DELETE', form.vars.value) %}
        {{ UI.deleteButton({
            'dataUrl': path('oro_api_delete_salesfunnel', {'id': form.vars.value.id}),
            'dataRedirect': path('oro_sales_salesfunnel_index'),
            'aCss': 'no-hash remove-button',
            'id': 'btn-remove-sales-funnel',
            'dataId': form.vars.value.id,
            'entity_label': 'oro.sales.salesfunnel.entity_label'|trans
        }) }}
        {{ UI.buttonSeparator() }}
    {% endif %}
    {{ UI.cancelButton(path('oro_sales_salesfunnel_index')) }}
    {% set html = UI.saveAndCloseButton({
        'route': 'oro_sales_salesfunnel_view',
        'params': {'id': '$id'}
    }) %}
    {% if form.vars.value.id or is_granted('oro_sales_salesfunnel_update') %}
        {% set html = html ~ UI.saveAndStayButton({
            'route': 'oro_sales_salesfunnel_update',
            'params': {'id': '$id'}
        }) %}
    {% endif %}
    {{ UI.dropdownSaveButton({'html': html}) }}
{% endblock %}

{% block pageHeader %}
    {% if form.vars.value.id %}
        {% set breadcrumbs = {
            'entity':      form.vars.value,
            'indexPath':   path('oro_sales_salesfunnel_index'),
            'indexLabel': 'oro.sales.salesfunnel.entity_plural_label'|trans,
            'entityTitle': salesFunnelHint
        } %}
        {{ parent() }}
    {% else %}
        {% include 'OroUIBundle::page_title_block.html.twig' with { title: 'oro.sales.salesfunnel.new_entity'|trans } %}
    {% endif %}
{% endblock pageHeader %}

{% block stats %}
    <li>{{ 'oro.ui.created_at'|trans }}: {{ entity.createdAt ? entity.createdAt|oro_format_datetime : 'N/A' }}</li>
    <li>{{ 'oro.ui.updated_at'|trans }}: {{ entity.updatedAt ? entity.updatedAt|oro_format_datetime : 'N/A' }}</li>
{% endblock stats %}

{% block content_data %}
    {% set id = 'sales-funnel-management' %}

    {% set formFields = [] %}
    {% if form.owner is defined %}
        {% set formFields = formFields|merge([form_row(form.owner)]) %}
    {% endif %}
    {% set formFields = formFields|merge([
        form_row(form.startDate),
    ]) %}

    {% set dataBlocks = [{
            'title': 'General'|trans,
            'subblocks': [
                {
                    'data': formFields
                }
            ]
        }]
    %}

    {% set dataBlocks = dataBlocks|merge(oro_form_additional_data(form, 'Additional'|trans)) %}

    {% set data = {
        'formErrors': form_errors(form)? form_errors(form) : null,
        'dataBlocks': dataBlocks,
    } %}
    {{ parent() }}
{% endblock content_data %}
