{% import 'OroUIBundle::macros.html.twig' as ui %}
{% import 'OroAddressBundle::macros.html.twig' as address %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}
{% import 'OroCRMChannelBundle::macros.html.twig' as channel %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ channel.renderChannelProperty(entity, 'orocrm.magento.order.data_channel.label') }}

            {{ ui.renderProperty('orocrm.magento.order.status.label'|trans, entity.status|trans) }}
            {{ ui.renderProperty('orocrm.magento.order.currency.label'|trans, entity.currency) }}
            {{ ui.renderProperty('orocrm.magento.order.subtotal_amount.label'|trans, entity.subtotalAmount|oro_format_currency({'currency': entity.currency})) }}
            {{ ui.renderProperty('orocrm.magento.order.total_amount.label'|trans, entity.totalAmount|oro_format_currency({'currency': entity.currency})) }}
            {{ ui.renderProperty('orocrm.magento.order.discount_amount.label'|trans, entity.discountAmount|oro_format_currency({'currency': entity.currency})) }}
            {{ ui.renderProperty('orocrm.magento.order.coupon_code.label'|trans, entity.couponCode) }}
            {{ ui.renderProperty('orocrm.magento.order.tax_amount.label'|trans, entity.taxAmount|oro_format_currency({'currency': entity.currency})) }}
            {{ ui.renderProperty('orocrm.magento.order.shipping_amount.label'|trans, entity.shippingAmount|oro_format_currency({'currency': entity.currency})) }}
            {{ ui.renderProperty('orocrm.magento.order.total_paid_amount.label'|trans, entity.totalPaidAmount|oro_format_currency({'currency': entity.currency})) }}
            {{ ui.renderProperty('orocrm.magento.order.total_invoiced_amount.label'|trans, entity.totalInvoicedAmount|oro_format_currency({'currency': entity.currency})) }}
            {{ ui.renderProperty('orocrm.magento.order.total_refunded_amount.label'|trans, entity.totalRefundedAmount|oro_format_currency({'currency': entity.currency})) }}
            {{ ui.renderProperty('orocrm.magento.order.total_canceled_amount.label'|trans, entity.totalCanceledAmount|oro_format_currency({'currency': entity.currency})) }}
            {{ ui.renderProperty('orocrm.magento.order.payment_method.label'|trans, entity.paymentMethod|trans|capitalize) }}
            {{ ui.renderProperty('orocrm.magento.order.payment_details.label'|trans, entity.paymentDetails) }}
            {{ ui.renderProperty('orocrm.magento.order.imported_at.label'|trans, entity.importedAt|oro_format_datetime) }}
            {{ ui.renderProperty('orocrm.magento.order.synced_at.label'|trans, entity.syncedAt|oro_format_datetime) }}
            {%- if entity.isGuest -%}
                {{ ui.renderProperty('orocrm.magento.order.is_guest.label'|trans, 'orocrm.magento.order.is_guest.yes'|trans) }}
            {%- endif -%}
            {{ entityConfig.renderDynamicFields(entity) }}
        </div>

        <div class="responsive-block">
            {{ ui.renderProperty('orocrm.magento.order.shipping_method.label'|trans, entity.shippingMethod|trans|capitalize) }}
            {{ ui.renderProperty('orocrm.magento.order.remote_ip.label'|trans, entity.remoteIp) }}
            {{ ui.renderProperty('orocrm.magento.order.gift_message.label'|trans, entity.giftMessage) }}
            {{ ui.renderProperty('orocrm.magento.order.store_name.label'|trans, entity.store.website.name) }}
            {{ ui.renderHtmlProperty('orocrm.magento.order.store.label'|trans, entity.store.name|escape|nl2br) }}
            {{ ui.renderProperty('orocrm.magento.order.customer_email.label'|trans, entity.customerEmail) }}

            {% set customerData %}
                {% if entity.customer %}
                    {% set customerViewGranted = resource_granted('orocrm_magento_customer_view') %}
                    {%- if customerViewGranted -%}
                        <a href="{{ path('orocrm_magento_customer_view', {'id': entity.customer.id}) }}">{{ entity.customer|oro_format_name|default('N/A'|trans)|escape }}</a>
                    {%- else -%}
                        {{ entity.customer|oro_format_name|default('N/A'|trans)|escape }}
                    {%- endif -%}
                {% else %}
                    {% trans %}N/A{% endtrans %}
                {% endif %}
            {% endset %}
            {{ ui.renderHtmlProperty('orocrm.magento.order.customer.label'|trans, customerData) }}

            {% set cartData %}
                {% set cartViewGranted = resource_granted('orocrm_magento_cart_view') %}
                {% if entity.cart and cartViewGranted %}
                    <a href="{{ path('orocrm_magento_cart_view', {'id': entity.cart.id}) }}">
                        {{ 'orocrm.magento.cart.entity_label'|trans ~ ' ' ~  entity.cart.originId }}
                    </a>
                {% else %}
                    {% trans %}N/A{% endtrans %}
                {% endif %}
            {% endset %}
            {{ ui.renderHtmlProperty('orocrm.magento.order.cart.label'|trans, cartData) }}

            {% if entity.addresses is not empty %}
                {% for orderAddress in entity.addresses %}
                    {% set title = orderAddress.types.first and orderAddress.types.first.name == 'billing'
                        ? 'orocrm.magento.cart.billing_address.label'|trans
                        : 'orocrm.magento.cart.shipping_address.label'|trans %}
                    {{ ui.renderHtmlProperty(title, address.renderAddress(orderAddress)) }}
                {% endfor %}
            {% endif %}

            {% if entity.feedback is not empty %}
                {{ ui.renderHtmlProperty('orocrm.magento.order.feedback.label'|trans, entity.feedback|escape|nl2br) }}
            {% endif %}

            {% if entity.notes is not empty %}
                {{ ui.renderHtmlProperty('orocrm.magento.order.notes.label'|trans, entity.notes) }}
            {% endif %}
        </div>
    </div>
</div>
