{% import 'OroUIBundle::macros.html.twig' as ui %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            <div class="control-group">
                {{ ui.renderProperty('orocrm.magento.order.status.label'|trans, entity.status|trans) }}
                {{ ui.renderProperty('orocrm.magento.order.currency.label'|trans, entity.currency|trans) }}

                {{ ui.renderProperty('orocrm.magento.order.total_amount.label'|trans, entity.totalAmount|oro_format_decimal) }}
                {{ ui.renderProperty('orocrm.magento.order.discount_amount.label'|trans, entity.discountAmount|oro_format_decimal) }}
                {{ ui.renderProperty('orocrm.magento.order.tax_amount.label'|trans, entity.taxAmount|oro_format_decimal) }}
                {{ ui.renderProperty('orocrm.magento.order.shipping_amount.label'|trans, entity.shippingAmount|oro_format_decimal) }}
                {{ ui.renderProperty('orocrm.magento.order.total_paid_amount.label'|trans, entity.totalPaidAmount|oro_format_decimal) }}
                {{ ui.renderProperty('orocrm.magento.order.total_invoiced_amount.label'|trans, entity.totalInvoicedAmount|oro_format_decimal) }}
                {{ ui.renderProperty('orocrm.magento.order.total_refunded_amount.label'|trans, entity.totalRefundedAmount|oro_format_decimal) }}
                {{ ui.renderProperty('orocrm.magento.order.total_canceled_amount.label'|trans, entity.totalCanceledAmount|oro_format_decimal) }}
            </div>
        </div>

        <div class="responsive-block">
            {{ ui.renderProperty('orocrm.magento.order.remote_ip.label'|trans, entity.remoteIp) }}
            {{ ui.renderProperty('orocrm.magento.order.payment_method.label'|trans, entity.paymentMethod|trans|capitalize) }}
            {{ ui.renderProperty('orocrm.magento.order.payment_details.label'|trans, entity.paymentDetails) }}
            {{ ui.renderProperty('orocrm.magento.order.shipping_method.label'|trans, entity.shippingMethod|trans|capitalize) }}
            {{ ui.renderProperty('orocrm.magento.order.gift_message.label'|trans, entity.giftMessage) }}
            {{ ui.renderProperty('orocrm.magento.order.store_name.label'|trans, entity.store.website.name) }}
            {{ ui.renderProperty('orocrm.magento.order.store.label'|trans, entity.store.name|nl2br) }}

            {% set customerData %}
                {% if entity.customer %}
                    {% set customerViewGranted = resource_granted('orocrm_magento_customer_view') %}
                    {%- if customerViewGranted -%}
                        <a href="{{ path('orocrm_magento_customer_view', {'id': entity.customer.id}) }}">{{ entity.customer|oro_format_name|default('N/A'|trans) }}</a>
                    {%- else -%}
                        {{ entity.customer|oro_format_name|default('N/A'|trans) }}
                    {%- endif -%}
                {% else %}
                    {% trans %}N/A{% endtrans %}
                {% endif %}
            {% endset %}
            {{ ui.renderProperty('orocrm.magento.order.customer.label'|trans, customerData) }}

            {% set cartData %}
                {% set cartViewGranted = resource_granted('orocrm_magento_cart_view') %}
                {% if entity.cart and cartViewGranted %}
                    <a href="{{ path('orocrm_magento_cart_view', {'id': entity.cart.id}) }}">{{ 'Cart #' ~ entity.cart.originId |trans }}</a>
                {% else %}
                    {% trans %}N/A{% endtrans %}
                {% endif %}
            {% endset %}
            {{ ui.renderProperty('orocrm.magento.order.cart.label'|trans, cartData) }}
        </div>
    </div>
</div>
