{% import 'OroUIBundle::macros.html.twig' as macros %}

{# TODO: Move this to OroUIBundle::macros.html.twig #}
{% macro renderRow(label, value) %}
    {% import 'OroUIBundle::macros.html.twig' as macros %}
    {{ macros.renderAttribute(label, '<p class="control-label">' ~ value|default('N/A'|trans) ~ '</p>') }}
{% endmacro %}

<style>
    .lead-info {
        min-height: 280px;
    }
</style>
<div class="widget-content form-horizontal lead-info box-content row-fluid">
    <div class="span6">
        {{ _self.renderRow('First Name'|trans, entity.firstName) }}
        {{ _self.renderRow('Last Name'|trans, entity.lastName) }}

        {%- if resource_granted('orocrm_contact_view') and entity.contact -%}
            {% set contactView = '<a href="' ~ path('orocrm_contact_view', {'id': entity.contact.id}) ~ '">' ~ entity.contact ~ '</a>' %}
        {%- else -%}
            {% set contactView = entity.contact ? entity.contact : '' %}
        {%- endif -%}
        {{ _self.renderRow('Contact'|trans, contactView) }}

        {{ _self.renderRow('Job Title'|trans, entity.jobTitle) }}
        {{ _self.renderRow('Company Name'|trans, entity.companyName) }}
        {{ _self.renderRow('Industry'|trans, entity.industry) }}
        {{ _self.renderRow('Number Of Employees'|trans, entity.numberOfEmployees) }}

        {% if dynamic|length %}
            {% for label, item in dynamic %}
                {{ _self.renderRow(label|trans, item) }}
            {% endfor %}
        {% endif %}
    </div>
    <div class="span6">
        {{ _self.renderRow('Email'|trans, entity.email ? '<a href="mailto:' ~ entity.email ~ '">' ~ entity.email ~ '</a>' : '') }}
        {{ _self.renderRow('Phone'|trans, entity.phoneNumber ? '<a href="tel:' ~ entity.phoneNumber ~ '">' ~ entity.phoneNumber ~ '</a>' : '') }}
        {{ _self.renderRow('Website'|trans, entity.website ? '<a href="' ~ entity.website ~ '" class="no-hash">' ~ entity.website ~ '</a>' : '') }}
    </div>
</div>
