{% import 'OroUIBundle::macros.html.twig' as ui %}
{% import 'OroEmailBundle::macros.html.twig' as email %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ ui.renderProperty('orocrm.sales.lead.first_name.label'|trans, entity.firstName) }}
            {{ ui.renderProperty('orocrm.sales.lead.last_name.label'|trans, entity.lastName) }}

            {%- if resource_granted('orocrm_contact_view') and entity.contact -%}
                {% set contactView = '<a href="' ~ path('orocrm_contact_view', {'id': entity.contact.id}) ~ '">' ~ entity.contact|oro_format_name|escape ~ '</a>' %}
            {%- else -%}
                {% set contactView = entity.contact ? entity.contact : '' %}
            {%- endif -%}

            {{ ui.renderHtmlProperty('orocrm.sales.lead.contact.label'|trans, contactView) }}
            {{ ui.renderProperty('orocrm.sales.lead.job_title.label'|trans, entity.jobTitle) }}

            {%- if resource_granted('orocrm_account_view') and entity.account -%}
                {% set accountView = '<a href="' ~ path('orocrm_account_view', {'id': entity.account.id}) ~ '">' ~ entity.account|escape ~ '</a>' %}
            {%- else -%}
                {% set accountView = entity.account ? entity.account|escape : '' %}
            {%- endif -%}

            {{ ui.renderHtmlProperty('orocrm.sales.lead.account.label'|trans, accountView) }}
            {{ ui.renderProperty('orocrm.sales.lead.company_name.label'|trans, entity.companyName) }}
            {{ ui.renderProperty('orocrm.sales.lead.industry.label'|trans, entity.industry) }}
            {{ ui.renderProperty('orocrm.sales.lead.number_of_employees.label'|trans, entity.numberOfEmployees) }}

            {{ entityConfig.renderDynamicFields(entity) }}
        </div>

        <div class="responsive-block">
            {{ ui.renderHtmlProperty('orocrm.sales.lead.email.label'|trans, entity.email ? email.email_address_simple(entity.email) : null) }}
            {{ ui.renderHtmlProperty('orocrm.sales.lead.phone_number.label'|trans, entity.phoneNumber ? ui.renderPhone(entity.phoneNumber) : null) }}
            {{ ui.renderHtmlProperty('orocrm.sales.lead.website.label'|trans, entity.website ? ui.renderUrl(entity.website, entity.website, 'no-hash') : null) }}
            {{ ui.renderHtmlProperty('orocrm.sales.lead.notes.label'|trans, entity.notes|escape|nl2br) }}
        </div>
    </div>
</div>
