{% import 'OroUIBundle::macros.html.twig' as macros %}

<style>
    .lead-info {
        min-height: 280px;
    }
</style>
<div class="widget-content form-horizontal lead-info box-content row-fluid">
    <div class="responsive-block">
        {{ macros.renderProperty('First Name'|trans, entity.firstName) }}
        {{ macros.renderProperty('Last Name'|trans, entity.lastName) }}

        {%- if resource_granted('orocrm_contact_view') and entity.contact -%}
            {% set contactView = '<a href="' ~ path('orocrm_contact_view', {'id': entity.contact.id}) ~ '">' ~ entity.contact|oro_format_name ~ '</a>' %}
        {%- else -%}
            {% set contactView = entity.contact ? entity.contact : '' %}
        {%- endif -%}
        {{ macros.renderProperty('Contact'|trans, contactView) }}

        {{ macros.renderProperty('Job Title'|trans, entity.jobTitle) }}

        {%- if resource_granted('orocrm_account_view') and entity.account -%}
            {% set accountView = '<a href="' ~ path('orocrm_account_view', {'id': entity.account.id}) ~ '">' ~ entity.account ~ '</a>' %}
        {%- else -%}
            {% set accountView = entity.account ? entity.account : '' %}
        {%- endif -%}
        {{ macros.renderProperty('Account'|trans, accountView) }}
        {{ macros.renderProperty('Company Name'|trans, entity.companyName) }}
        {{ macros.renderProperty('Industry'|trans, entity.industry) }}
        {{ macros.renderProperty('Number Of Employees'|trans, entity.numberOfEmployees) }}

        {% if dynamic|length %}
            {% for label, item in dynamic %}
                {% if item is iterable %}
                    {% set data = '' %}
                    {% for value in item.values %}
                        {% if value.link is defined and value.link != false  %}
                            {% set data = data ~ '<a href="' ~ value.link ~ '">' ~ value.title ~ '</a>' %}
                        {% else %}
                            {% set data = data ~ value.title %}
                        {% endif %}
                        {% if not loop.last %}
                            {% set data = data ~ ', ' %}
                        {% endif %}
                    {% endfor %}

                    {% set item = data %}
                {% endif %}
                {{ macros.renderProperty(label|trans, item) }}
            {% endfor %}
        {% endif %}
    </div>
    <div class="responsive-block">
        {{ macros.renderProperty('Email'|trans, entity.email ? '<a href="mailto:' ~ entity.email ~ '">' ~ entity.email ~ '</a>' : '') }}
        {{ macros.renderProperty('Phone'|trans, entity.phoneNumber ? '<a href="tel:' ~ entity.phoneNumber ~ '">' ~ entity.phoneNumber ~ '</a>' : '') }}
        {{ macros.renderProperty('Website'|trans, entity.website ? '<a href="' ~ entity.website ~ '" class="no-hash">' ~ entity.website ~ '</a>' : '') }}
    </div>
</div>
