{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as macros %}

{% oro_title_set({params : {"%b2bcustomer.name%": entity.name} }) %}

{% block navButtons %}
    {% if resource_granted('EDIT', entity) %}
        {{ UI.editButton({
            'path' : path('orocrm_sales_b2bcustomer_update', { 'id': entity.id }),
            'entity_label': 'orocrm.sales.b2bcustomer.entity_label'|trans
        }) }}
    {% endif %}
    {% if resource_granted('DELETE', entity) %}
        {{ UI.deleteButton({
            'dataUrl': path('oro_api_delete_b2bcustomer', {'id': entity.id}),
            'dataRedirect': path('orocrm_sales_b2bcustomer_index'),
            'aCss': 'no-hash remove-button',
            'id': 'btn-remove-b2bcustomer',
            'dataId': entity.id,
            'entity_label': 'orocrm.sales.b2bcustomer.entity_label'|trans
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
    'entity':      entity,
    'indexPath':   path('orocrm_sales_b2bcustomer_index'),
    'indexLabel': 'orocrm.sales.b2bcustomer.entity_plural_label'|trans,
    'entityTitle': entity.name|default('N/A')
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block stats %}
    {{ parent() }}
    <li>
        <div class="label label-info orocrm-channel-lifetime-value-label">
            {{ 'orocrm.sales.b2bcustomer.lifetime.label'|trans}}: {{ entity.lifetime|oro_format_currency }}
        </div>
    </li>
{% endblock stats %}

{% block content_data %}
    {% set b2bcustomerInformationWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'title': 'orocrm.sales.widgets.b2bcustomer_information'|trans,
            'url': path('orocrm_sales_b2bcustomer_widget_info', {id: entity.id})
        }) }}
    {% endset %}

    {% set generalSectionBlocks = [{'data' : [b2bcustomerInformationWidget]}]%}

    {% set dataBlocks = [{
        'title': 'orocrm.sales.sections.general'|trans,
        'class': 'active',
        'subblocks': generalSectionBlocks
    }] %}

    {% if resource_granted('orocrm_sales_lead_view') %}
        {% set leadsInformationWidget %}
            {{ oro_widget_render({
                'widgetType': 'block',
                'url': path('orocrm_sales_b2bcustomer_widget_leads', {id: entity.id}),
                'title': ''
            }) }}
        {% endset %}

        {% set dataBlocks = dataBlocks|merge([{
            'title': 'orocrm.sales.sections.leads'|trans,
            'subblocks': [
                {'data' : [leadsInformationWidget]}
            ]
        }]) %}
    {% endif %}

    {% if resource_granted('orocrm_sales_opportunity_view') %}
        {% set opportunitiesInformationWidget %}
            {{ oro_widget_render({
                'widgetType': 'block',
                'url': path('orocrm_sales_b2bcustomer_widget_opportunities', {id: entity.id}),
                'title': ''
            }) }}
        {% endset %}

        {% set dataBlocks = dataBlocks|merge([{
            'title': 'orocrm.sales.sections.opportunities'|trans,
            'subblocks': [
                {'data' : [opportunitiesInformationWidget]}
            ]
        }]) %}
    {% endif %}

    {% set id = 'b2bcustomerView' %}
    {% set data = {'dataBlocks': dataBlocks} %}

    {{ parent() }}
{% endblock content_data %}
