{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as macros %}

{% oro_title_set({params : {"%cart.id%":  entity.originId} }) %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('oro_magento_cart_index'),
        'indexLabel': 'oro.magento.cart.entity_plural_label'|trans,
        'entityTitle': 'oro.magento.entity_number'|trans({'%entityName%': 'oro.magento.cart.entity_label'|trans, '%entityNumber%': entity.originId})
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block breadcrumbMessage %}
    {% if entity.statusMessage %}
        <div class="bg-danger mess-pos pull-left">
            <div class="badge badge-pill badge-warning">{{ entity.statusMessage|trans }}</div>
        </div>
    {% endif %}
{% endblock breadcrumbMessage %}

{% block navButtons %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}

    {{ UI.button({
        'path':  path('oro_magento_cart_actualize', {'id': entity.id}),
        'label': 'oro.magento.cart.refresh_label'|trans,
        'title': 'oro.magento.cart.refresh_label'|trans,
        'iCss': 'fa-refresh'
    }) }}
{% endblock navButtons %}

{% block content_data %}
    {% set generalSubblocks = [] %}

    {% set cartInformationWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'url': path('oro_magento_cart_widget_info', {id: entity.id}),
            'title': 'oro.magento.cart_information'|trans
        }) }}
    {% endset %}
    {% set generalSubblocks = generalSubblocks|merge([{'data' : [cartInformationWidget] }]) %}

    {% if entity.customer %}
        {% set customerInformationWidget %}
            {{ oro_widget_render({
                'widgetType': 'block',
                'url': path('oro_magento_customer_info', {id: entity.customer.id}),
                'title': 'oro.magento.customer_information'|trans
            }) }}
        {% endset %}
        {% set generalSubblocks = generalSubblocks|merge([{'data' : [customerInformationWidget] }]) %}
    {% endif %}

    {% if entity.opportunity %}
        {% set opportunityInfoWidget %}
            {{ oro_widget_render({
                'widgetType': 'block',
                'url': path('oro_sales_opportunity_info', { id: entity.opportunity.id }),
                'title': 'Opportunity Information'
            }) }}
        {% endset %}
        {% set generalSubblocks = generalSubblocks|merge([{'data' : [opportunityInfoWidget] }]) %}
    {% endif %}

    {% set itemsTabsWidget %}
        <div class="responsive-cell customer-without-border-tabs">
            {% set tabs = [
                {
                    'alias': 'oro_magento_cart_items_active',
                    'widgetType': 'block',
                    'label': "oro.magento.cart.active_cart_items.label"|trans,
                    'url': path(
                            'oro_magento_cart_widget_items',
                            { id: entity.id, isRemoved: 0 }
                    )
                },
                {
                    'alias': 'oro_magento_cart_items_deleted',
                    'widgetType': 'block',
                    'label': "oro.magento.cart.deleted_cart_items.label"|trans,
                    'url': path(
                        'oro_magento_cart_widget_items',
                        { id: entity.id, isRemoved: 1 }
                    )
                }
            ] %}
            {{ tabPanel(tabs) }}
        </div>
    {% endset %}

    {% set dataBlocks = [
        {
            'title': 'oro.magento.general_information'|trans,
            'subblocks': generalSubblocks
        },
        {
            'title': 'oro.magento.cart.cart_items.label'|trans,
            'subblocks': [
                {'data' : [itemsTabsWidget] }
            ]
        }
    ] %}

    {% set id = 'magentoCartView' %}
    {% set data = {'dataBlocks': dataBlocks} %}
    {{ parent() }}
{% endblock content_data %}
