<script type="text/html" id="{{ id|e('html_attr')|raw }}">
    <div class="accordion-group">
        <div class="accordion-heading collapse<% if (!collapsed) { %> show<% } %>">
            <div class="title-item">
                <a href="#accordion-item<%- id %>" class="no-hash accordion-toggle<% if (collapsed) { %> collapsed<% } %>"></a>
                <span class="visual">
                    <% if (createdBy) { %>
                        <span class="avatar">
                            <% if (createdBy.avatarPicture && createdBy.avatarPicture.src) { %>
                                <picture>
                                    <% _.each(createdBy.avatarPicture.sources, function(source) { %>
                                        <source srcset="<%- source.srcset %>" type="<%- source.type %>">
                                    <% }); %>
                                    <img src="<%- createdBy.avatarPicture.src %>"/>
                                </picture>
                            <% } else { %>
                                <span class="avatar-placeholder" aria-hidden="true"></span>
                            <% } %>
                        </span>

                        <% if (createdBy.url) { %>
                            <a class="user" href="<%- createdBy.url %>"><%- createdBy.fullName %></a>
                        <% } else { %>
                            <span class="user"><%- createdBy %></span>
                        <% } %>
                    <% } %>
                </span>
            </div>
            <div class="message-item">
                <div class="message"><%- briefMessage %></div>
            </div>
            <div class="labels">
                <% if (!public) { %>
                    <span class="label"><%- _.__("oro.case.private") %></span>
                <% } %>
            </div>
            <div class="details">
                <span class="date"><%- createdAt %></span>
            </div>
            <div class="actions">
                <button class="btn btn-icon btn-lighter item-edit-button<% if (!permissions.edit) { %> disabled<% } %>"
                    <% if (!permissions.edit) { %> disabled="disabled"<% } %> title="{{ 'oro.case.casecomment.action.edit'|trans|e('html_attr')|raw }}">
                        <span class="action-button-icon fa-pencil-square-o" aria-label="{{ 'oro.case.casecomment.action.edit'|trans|e('html')|raw }}"></span>
                {# Deleted extra space between elements #}
                </button><button
                     class="btn btn-icon btn-lighter item-remove-button<% if (!permissions.delete) { %> disabled<% } %>"
                     <% if (!permissions.delete) { %> disabled="disabled"<% } %> title="{{ 'oro.case.casecomment.action.delete'|trans|e('html_attr')|raw }}">
                        <span class="action-button-icon fa-trash-o" aria-label="{{ 'oro.case.casecomment.action.delete'|trans|e('html')|raw }}"></span>
                </button>
            </div>
        </div>
        <div class="accordion-body collapse<% if (!collapsed) { %> show<% } %>" id="accordion-item<%- id %>">
            <div class="message">
                <%- message %>
                <% if (updatedBy) { %>
                <div class="details">
                    <div>
                        <%= _.template(
                        {{ 'oro.case.casecomment.message.updated_by'|trans|json_encode|raw }},
                        { interpolate: /\{\{(.+?)\}\}/g }
                        )({
                        user: updatedBy.url
                        ? '<a class="user" href="' + updatedBy.url + '">' + _.escape(updatedBy.fullName) + '</a>'
                        : (updatedBy ? '<i class="user">' + _.escape(updatedBy) + '</i>' : ''),
                        date: '<span class="date">' + updatedAt + '</span>'
                        }) %>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</script>
