{% if tasks|length > 0 %}
    {% for task in tasks %}
        <div class="task-widget-row {{ task.dueDateExpired ? 'task-expired' : '' }} {{ loop.first ? 'first' : '' }} {{ loop.last ? 'last' : '' }}"
            data-url="{{ path("orocrm_task_view", {'id':task.id}) }}">
            <span class="task-subject">{{ task.subject }}</span>
            <span class="task-date-time">{{ task.dueDate|oro_format_datetime }}</span>
        </div>
    {% endfor %}
{% else %}
    <p class="no_tasks">
        {{ "orocrm.task.assigned_tasks_widget.no_task_exist"|trans }}
    </p>
{% endif %}
