{% extends bap.layout %}

{% macro renderColumn(urls, isEven) %}
    {% if (not isEven and urls|length) or (isEven and urls|length > 1) %}
    <div class="responsive-block">
        {% set index = 1 %}
        {% for url in urls %}
            {% if (isEven and index is even) or (not isEven and index is odd) %}
            {{
                oro_widget_render({
                    'widgetType': 'block',
                    'url': url
                })
            }}
            {% endif %}
            {% set index = index + 1 %}
        {% endfor %}
    </div>
    {% endif %}
{% endmacro %}
{% import _self as __ %}

{% block content %}
    <div class="scrollable-container launchpad-container responsive-section">
        <div class="container">
            <h3>{{ 'Quick Launchpad'|trans }}</h3>

            {% set urls = [
                path('oro_dashboard_widget', {'bundle': 'OroCRMAccountBundle', 'name': 'accountLaunchpad'}),
                path('oro_dashboard_widget', {'bundle': 'OroCRMContactBundle', 'name': 'contactLaunchpad'}),
                path('oro_dashboard_widget', {'bundle': 'OroCRMSalesBundle', 'name': 'leadLaunchpad'}),
                path('oro_dashboard_widget', {'bundle': 'OroCRMSalesBundle', 'name': 'opportunityLaunchpad'}),
            ] %}

            {{ __.renderColumn(urls, false) }}
            {{ __.renderColumn(urls, true) }}
        </div>
        <div class="version-container">
            Version: {{ constant('Oro\\Bundle\\PlatformBundle\\OroPlatformBundle::VERSION') }}
        </div>
    </div>
{% endblock %}
