{% extends "OroUIBundle:Default:index.html.twig" %}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/oroui/lib/underscore.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/oroui/lib/backbone.js') }}"></script>

    <link rel="stylesheet" href="{{ asset('bundles/orowindows/css/jquery.dialog.extended.css') }}" media="all" />
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/orowindows/js/jquery.dialog.extended.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/orowindows/js/views/dialog.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/orowindows/js/models/state.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/orowindows/js/collections/state.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/orowindows/js/views/dialog.js') }}"></script>

    <script type="text/javascript">
        Oro.widget.StateModel.prototype.urlRoot = {{ path('oro_api_get_windows')|json_encode|raw }};
    </script>
{% endblock head %}
{% block header %}
{% endblock %}
{% block content %}

    <div class="row-fluid">
        <div class="container-fluid" style="min-height: 900px; background-color:#d0def1;" id="window-container">
            <button type="button" id="my-button" class="btn btn-large btn-primary">Open new window</button>
            <hr />
            <div class="btn-toolbar">
                <div class="btn-group">
                    <button id="opener1" class="btn">Extended</button>
                    <button id="opener2" class="btn">Minimize only</button>
                    <button id="opener3" class="btn">Classic dialog</button>
                </div>
            </div>
            <div id="opener-content1" style="display: none;" title="Dima’s Address">
                {% render url('acme_demowindows_forms_test') %}
            </div>
            <div id="opener-content2" style="display: none;" title="Dima’s Address2">
                <p>Fusce hendrerit lacinia ligula.</p>
                <p>Donec a tincidunt nisi.</p>
                <p> Cras eu velit sed nibh feugiat congue lacinia ut urna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
            </div>
            <div id="opener-content3" style="display: none;" title="Dima’s Address3">
                <p>v quam eu pellentesque. Nam euismod, lectus sit amet tristique imperdiet, metus ligula gravida felis, non dapibus nulla sem a magna.</p>
                <p>habitasse platea dictumst. Donec elementum vulputate imperdiet. Fusce sed lectus odio. Etiam cursus fermentum ornare. Phasellus facilisis t</p>
                <p> Quisque nec lobortis leo.</p>
            </div>
        </div>
    </div>

    <div style="display: none">
        <div id="widget-restored-state-1">
            {% render url('acme_demowindows_forms_test') %}
        </div>
    </div>

    <script>
        $(function(){
            Oro.widget.States.fetch({
                success: function(data) {
                    data.each(function(windowState) {
                        new Oro.widget.DialogView({
                            model: windowState
                        }).render();
                    });
                }
            });

            var pos = 0;
            $("#my-button").click(function(){
                pos++;
                new Oro.widget.DialogView({
                    el: $("<div>Some text if you need will be here</div>"),
                    dialogOptions: {
                        allowMaximize: true,
                        allowMinimize: true,
                        dblclick: 'maximize',
                        title: "dialog window title long long long " + pos,
                        width: 400,
                        height: 400
                    }
                }).render();
            });
            $("#opener1").click(function(){
                new Oro.widget.DialogView({
                    el: '#opener-content1',
                    dialogOptions: {
                        allowMaximize: true,
                        allowMinimize: true,
                        dblclick: 'maximize',
                        maximizedHeightDecreaseBy: 'minimize-bar',
                        appendTo: '#main .row-fluid',
                        width : 400,
                        height : 305
                    }
                }).render();
            });
            $("#opener2").click(function(){
                new Oro.widget.DialogView({
                    el: '#opener-content2',
                    dialogOptions: {
                        allowMinimize: true,
                        dblclick: 'collapse',
                        width : 400,
                        height : 300
                    }
                }).render();
            });
            $("#opener3").click(function(){
                new Oro.widget.DialogView({
                    el: '#opener-content3',
                    dialogOptions: {
                        width : 400,
                        height : 300
                    }
                }).render();
            });
        });
    </script>
{% endblock content %}