{% extends "OroUIBundle:Default:index.html.twig" %}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/oroui/lib/underscore.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/oroui/lib/backbone.js') }}"></script>

    <link rel="stylesheet" href="{{ asset('bundles/orowindows/css/jquery.dialog.extended.css') }}" media="all" />
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/orowindows/js/jquery.dialog.extended.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/orowindows/js/views/dialog.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/orowindows/js/models/state.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/orowindows/js/collections/state.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/orowindows/js/views/dialog.js') }}"></script>
{% endblock head %}
{% block header %}
{% endblock %}
{% block content %}

    <div class="row-fluid">
        <div class="container-fluid" style="min-height: 900px; background-color:#d0def1;" id="window-container">
            <button type="button" id="my-button" class="btn btn-large btn-primary">Open new window</button>
            <hr />
            <div class="btn-toolbar">
                <div class="btn-group">
                    <button id="opener1" class="btn">Extended</button>
                    <button id="opener2" class="btn">Minimize only</button>
                    <button id="opener3" class="btn">Classic dialog</button>
                </div>
            </div>
            <div id="opener-content1" style="display: none;" title="Dima’s Address">
                    <form action="/app_dev.php/menu/form" class="form form-horizontal" id="testForm" method="post">
                        <fieldset>
                            <div class="scroll-holder">
                                <div class="control-group">
                                    <label class="control-label" for="inputAddress">Address</label>
                                    <div class="controls">
                                        <input type="text" id="inputAddress" name="inputAddress" placeholder="Address">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputAddress2">Address2</label>
                                    <div class="controls">
                                        <input type="text" id="inputAddress2" name="inputAddress2" placeholder="Address2">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="City">City</label>
                                    <div class="controls">
                                        <input type="text" id="City" name="City" placeholder="City">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="States">States</label>
                                    <div class="controls">
                                        <input type="text" id="States" name="State" placeholder="States">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="Zip">Zip</label>
                                    <div class="controls">
                                        <input type="text" id="Zip" name="Zip" placeholder="Zip">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="Country">Country</label>
                                    <div class="controls">
                                        <select name="Country" id="Country">
                                            <option>us</option>
                                            <option>uk</option>
                                            <option>rus</option>
                                            <option>tt</option>
                                            <option>dd</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="tell">tell</label>
                                    <div class="controls">
                                        <input type="text" id="tell" name="tell" placeholder="tell">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="email">email</label>
                                    <div class="controls">
                                        <input type="text" id="email" name="email" placeholder="email">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="checkbox">
                                            <input type="checkbox" name="remember_me"> Remember me
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-action widget-actions">
                                <div class="pull-right">
                                    <button type="reset" class="btn">Cancel</button>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>

            </div>
            <div id="opener-content2" style="display: none;" title="Dima’s Address2">
                <p>Fusce hendrerit lacinia ligula.</p>
                <p>Donec a tincidunt nisi.</p>
                <p> Cras eu velit sed nibh feugiat congue lacinia ut urna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
            </div>
            <div id="opener-content3" style="display: none;" title="Dima’s Address3">
                <p>v quam eu pellentesque. Nam euismod, lectus sit amet tristique imperdiet, metus ligula gravida felis, non dapibus nulla sem a magna.</p>
                <p>habitasse platea dictumst. Donec elementum vulputate imperdiet. Fusce sed lectus odio. Etiam cursus fermentum ornare. Phasellus facilisis t</p>
                <p> Quisque nec lobortis leo.</p>
            </div>
        </div>
    </div>

    <div style="display: none">
        <div id="widget-restored-state-1">
            {% render url('oro_menu_form', { 'name': "Test User" }) %}
        </div>
    </div>

    <script>
        $(function(){
            Oro.widget.States.fetch({
                success: function(data) {
                    data.each(function(windowState) {
                        new Oro.widget.DialogView({
                            model: windowState
                        }).render();
                    });
                }
            });

            var pos = 0;
            $("#my-button").click(function(){
                pos++;
                new Oro.widget.DialogView({
                    el: $("<div>Some text if you need will be here</div>"),
                    dialogOptions: {
                        allowMaximize: true,
                        allowMinimize: true,
                        dblclick: 'maximize',
                        title: "dialog window title long long long " + pos,
                        width: 400,
                        height: 400
                    }
                }).render();
            });
            $("#opener1").click(function(){
                new Oro.widget.DialogView({
                    el: '#opener-content1',
                    dialogOptions: {
                        allowMaximize: true,
                        allowMinimize: true,
                        dblclick: 'maximize',
                        maximizedHeightDecreaseBy: 'minimize-bar',
                        appendTo: '#main .row-fluid',
                        width : 400,
                        height : 305,
                        snapshot: {
                            config: {
                                draggable: true,
                                resizable: true
                            },
                            position: {
                                left: 138,
                                top: 69
                            },
                            size: {
                                height: 336,
                                maxHeight: null,
                                width: 400
                            }
                        }
                    },
                    isForm: true
                }).render();
            });
            $("#opener2").click(function(){
                new Oro.widget.DialogView({
                    el: '#opener-content2',
                    dialogOptions: {
                        allowMinimize: true,
                        dblclick: 'collapse',
                        width : 400,
                        height : 300
                    }
                }).render();
            });
            $("#opener3").click(function(){
                new Oro.widget.DialogView({
                    el: '#opener-content2',
                    dialogOptions: {
                        width : 400,
                        height : 300
                    }
                }).render();
            });
        });
    </script>
{% endblock content %}