<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <title>{% block title %}Dashboard{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript"> localStorage.clear();</script>
        <link rel="stylesheet/less" href="{{ asset('bundles/oroui/css/less/main.less') }}" media="all" />
        <script src="{{ asset('bundles/oroui/lib/less-1.3.1.min.js') }}"></script>
        <link href="{{ asset('bundles/oroui/css/all.css') }}" rel="stylesheet" media="all">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript" src="{{ asset('bundles/oroui/lib/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/oroui/js/layout.js') }}"></script>
        <!--[if lte IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <link href="{{ asset('bundles/oroui/css/ie.css') }}" rel="stylesheet" media="all" />
        <script src="{{ asset ('bundles/oroui/js/jquery.placeholder.js') }}"></script>
        <script type="text/javascript">
            jQuery(document).ready(function() {
                jQuery('input, textarea').placeholder();
            });
        </script>
        <![endif]-->
        <!--[if lte IE 7]>
            <script src="{{ asset ('bundles/oroui/js/ie.js') }}"></script>
        <![endif]-->
    {% endblock %}
</head>
<body class="{% block bodyClass %}{% endblock %}">
<div id="page">
    <div id="top-page">
        {% block header %}
        <header class="navbar">
            <div class="navbar-inner"><div class="container">

            <h1 class="logo "><a href="#">ORO</a></h1>
            <div class="navbar-responsive-collapse">
            <ul class="nav pull-left shortcuts">
                <li class="divider-vertical extra-divider"></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shortcuts</a>
                    <ul class="dropdown-menu">
                        <li class="nav-header nav-header-title">Shortcuts</li>
                        <li class="divider"></li>
                        <li class="dark">
                            <form class="form-inline">
                                <input type="text" placeholder="Enter shortcut action" class="input-large">
                                <button class="btn btn-primary" type="submit">Go</button>
                                <div class="clearfix">
                                    <div class="extra-small">Example: Create New Customer, Search 'John Doe' <a href="#">Learn more</a></div>
                                </div>
                            </form>
                        </li>
                        <li class="divider"></li>
                        <div class="nav-header">Your custom actions</div>
                        <li><a href="#">New Customer</a></li>
                        <li class="border-t"><a href="#">New Order</a></li>
                        <li class="border-t"><a href="#">New Lead</a></li>
                        <li class="border-t"><a href="#">New Calendar Event</a></li>
                        <li class="border-t"><a href="#">New Task</a></li>
                    </ul>
                </li>
            </ul>
            <div class="input-append input-prepend pull-left header-search">
                <div class="btn-group">
                    <button data-toggle="dropdown" class="btn dropdown-toggle">
                        All
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">category</a></li>
                        <li><a href="#">just project</a></li>
                    </ul>
                </div>
                <input type="text" id="appendedDropdownButton" class="span2" />
                <button type="button" class="btn btn-search">Search</button>
                <div class="custom-dropdown">
                    <ul>
                        <li>
                            <span class="name">John Doe</span>
                            <img class="avatar" src="{{ asset('bundles/oroui/img/person.png') }}" alt="">
                        </li>
                        <li>
                            <span class="name">John Smith</span>
                            <img class="avatar" src="{{ asset('bundles/oroui/img/person.png') }}" alt="">
                        </li>
                    </ul>
                </div>
            </div>
            <script type="text/javascript">
                jQuery(document).ready(function() {
                    jQuery('div.header-search > input:text').focusin(function(){
                        jQuery(this).parent().addClass('header-search-focused');
                    }).focusout(function(){
                        jQuery(this).parent().removeClass('header-search-focused');
                    });
                });
            </script>
            <ul class="nav pull-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">bettyusser <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Account</a></li>
                        <li><a href="#">Admin</a></li>
                        <li><a href="#">Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Log out</a></li>
                    </ul>
                </li>
                <li class="divider-vertical small-divider"></li>
                <li><a class="notifications" href="#"><span class="badge badge-important">1</span></a></li>
                <li class="divider-vertical small-divider"></li>
                <li><a class="help" href="#">Help</a></li>
            </ul>

            </div>
            </div>
            </div>

        </header>
        {% endblock header %}
        {% block content %}

        <div class="container" style="background: #fff">
            <div class="row">
                <div class="span4">
                    <hr />
                    <h3>Layout pages</h3>
                    <ul>
                        <li><a href="{{ path('oro_ui_1column') }}">1 column </a></li>
                        <li><a href="{{ path('oro_ui_1column_toolbar') }}">1 column with toolbar</a></li>
                        <li><a href="{{ path('oro_ui_1column_menu') }}">1 column with menu</a></li>
                        <li><a href="{{ path('oro_ui_grid_page') }}">grid page</a></li>
                        <li><a href="{{ path('oro_ui_2columns_left') }}">2 columns - left</a></li>
                        <li><a href="{{ path('oro_ui_2columns_right') }}">2 columns - right</a></li>
                        <li><a href="{{ path('oro_ui_3columns') }}">3 columns</a></li>
                    </ul>
                    <h3>Static pages</h3>
                    <ul>
                        <li><a href="{{ path('oro_ui_forgot_password') }}">Forgot password</a></li>
                        <li><a href="{{ path('oro_ui_login') }}">Login page</a></li>
                        <li><a href="{{ path('oro_ui_registration') }}">Registration page</a></li>
                        <li><a href="{{ path('oro_ui_404') }}">404</a></li>
                        <li><a href="{{ path('oro_ui_503') }}">503</a></li>
                    </ul>
                    <h3>Example pages</h3>
                    <ul>
                        <li><a href="{{ path('oro_ui_form_elements') }}">Form elements</a></li>
                        <li><a href="{{ path('oro_ui_messages') }}">System messages</a></li>
                        <li><a href="{{ path('oro_ui_buttons') }}">Buttons</a></li>
                        <li><a href="#">Print page</a></li>
                        <li><a href="{{ path('oro_ui_tables') }}">Tables</a></li>
                        <li><a href="{{ path('oro_ui_general_elements') }}">General elements</a></li>
                    </ul>
                    <h3>Js use page</h3>
                    <ul>
                        <li><a href="{{ path('oro_ui_dialog') }}">jQuery DialogExtend</a></li>
                        <li><a href="{{ path('oro_ui_dialog_styled') }}">jQuery DialogExtend styled</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% endblock content %}
    </div>
</div>

</body>
</html>