<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <title>{% block title %}Dashboard{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript"> localStorage.clear();</script>
        <link rel="stylesheet/less" href="{{ asset('bundles/oroui/css/less/main.less') }}" media="all" />
        <script src="{{ asset('bundles/oroui/lib/less-1.3.1.min.js') }}"></script>
        <link href="{{ asset('bundles/oroui/css/all.css') }}" rel="stylesheet" media="all">
        {% block head_script %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript" src="{{ asset('bundles/oroui/lib/jquery.numeric.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/oroui/lib/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/oroui/js/layout.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/oroui/lib/bootstrap/js/bootstrap-tooltip.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/oroui/lib/bootstrap/js/bootstrap-popover.js') }}"></script>
        <!--[if lte IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <link href="{{ asset('bundles/oroui/css/ie.css') }}" rel="stylesheet" media="all" />
        <script src="{{ asset ('bundles/oroui/js/jquery.placeholder.js') }}"></script>
        <script type="text/javascript">
            jQuery(document).ready(function() {
                jQuery('input, textarea').placeholder();
            });
        </script>
        <![endif]-->
        <!--[if lte IE 7]>
            <script src="{{ asset ('bundles/oroui/js/ie.js') }}"></script>
        <![endif]-->
        {% endblock %}
    {% endblock %}
</head>
<body class="{% block bodyClass %}{% endblock %}">
<div id="page">
    <div id="top-page">
        {% block header %}
        <header class="navbar">
            <div class="navbar-inner"><div class="container">

            {% block logo %}
            <h1 class="logo "><a href="#">ORO</a></h1>
            {% endblock logo %}
            <div class="navbar-responsive-collapse">
            {% block shortcuts %}
            <ul class="nav pull-left shortcuts">
                <li class="divider-vertical extra-divider"></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shortcuts</a>
                    <ul class="dropdown-menu">
                        <li class="nav-header nav-header-title">Shortcuts</li>
                        <li class="divider"></li>
                        <li class="dark">
                            <form class="form-inline">
                                <input type="text" placeholder="Enter shortcut action" class="input-large">
                                <button class="btn btn-primary" type="submit">Go</button>
                                <div class="clearfix">
                                    <div class="extra-small">Example: Create New Customer, Search 'John Doe' <a href="#">Learn more</a></div>
                                </div>
                            </form>
                        </li>
                        <li class="divider"></li>
                        <div class="nav-header">Your custom actions</div>
                        <li><a href="#">New Customer</a></li>
                        <li class="border-t"><a href="#">New Order</a></li>
                        <li class="border-t"><a href="#">New Lead</a></li>
                        <li class="border-t"><a href="#">New Calendar Event</a></li>
                        <li class="border-t"><a href="#">New Task</a></li>
                    </ul>
                </li>
            </ul>
            {% endblock shortcuts %}
            {% block searchbar %}
            <div class="input-append input-prepend pull-left header-search">
                <div class="btn-group">
                    <button data-toggle="dropdown" class="btn dropdown-toggle">
                        All
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">category</a></li>
                        <li><a href="#">just project</a></li>
                    </ul>
                </div>
                <input type="text" id="appendedDropdownButton" class="span2" />
                <button type="button" class="btn btn-search">Search</button>
                <div class="custom-dropdown">
                    <ul>
                        <li>
                            <span class="name">John Doe</span>
                            <img class="avatar" src="{{ asset('bundles/oroui/img/person.png') }}" alt="">
                        </li>
                        <li>
                            <span class="name">John Smith</span>
                            <img class="avatar" src="{{ asset('bundles/oroui/img/person.png') }}" alt="">
                        </li>
                    </ul>
                </div>
            </div>
            <script type="text/javascript">
                jQuery(document).ready(function() {
                    jQuery('div.header-search > input:text').focusin(function(){
                        jQuery(this).parent().addClass('header-search-focused');
                    }).focusout(function(){
                        jQuery(this).parent().removeClass('header-search-focused');
                    });
                });
            </script>
            {% endblock searchbar %}
            {% block section_top_right %}
            <ul class="nav pull-right">
                {% block user_menu %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">bettyusser <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Account</a></li>
                            <li><a href="#">Admin</a></li>
                            <li><a href="#">Settings</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Log out</a></li>
                        </ul>
                    </li>
                {% endblock user_menu %}
                {% block notifications %}
                <li class="divider-vertical small-divider"></li>
                <li><a class="notifications" href="#"><i class="icon-bullhorn"></i><span class="badge badge-important">1</span></a></li>
                {% endblock notifications %}
                {% block help %}
                <li class="divider-vertical small-divider"></li>
                <li><a class="help" href="#"><i class="icon-question-sign">help</i></a></li>
                {% endblock help %}
            </ul>
            {% endblock section_top_right %}

            </div>
            </div>
            </div>

        </header>
        {% endblock header %}
        {% block main %}
        <div id="main" class="container-fluid">
            {% block right_panel %}{% endblock right_panel %}
            {% block left_panel %}{% endblock left_panel %}
                {% block pin_bar %}
                    <div class="clearfix">
                        <div class="pin-bar clearfix">
                            <div class="pin-menus">
                                <span>...</span>
                                <div class="drop-down">
                                    <div class="tabbable tabs-left">
                                        <ul class="nav nav-tabs">
                                            <li class="active" ><a data-toggle="tab"href="#lA"><i class="icon-folder-close"></i>Tabs</a></li>
                                            <li><a data-toggle="tab"  href="#lB"><i class="icon-time"></i>History</a></li>
                                            <li><a data-toggle="tab"  href="#lC"><i class="icon-star-empty"></i>Most Viewed</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div id="lA" class="tab-pane active">
                                                <ul class="extra-list">
                                                    <li><button data-dismiss="alert" class="close" type="button">&times;</button><a href="#">Sales filtered Wednesday</a></li>
                                                    <li><button data-dismiss="alert" class="close" type="button">&times;</button><a href="#">Sales filtered Tuesday</a></li>
                                                    <li><button data-dismiss="alert" class="close" type="button">&times;</button><a href="#">Sales filtered Thursday</a></li>
                                                    <li><button data-dismiss="alert" class="close" type="button">&times;</button><a href="#">Sales filtered Friday</a></li>
                                                    <li><button data-dismiss="alert" class="close" type="button">&times;</button><a href="#">Sales filtered Saturday</a></li>
                                                    <li><button data-dismiss="alert" class="close" type="button">&times;</button><a href="#">Sales filtered Tuesday</a></li>
                                                    <li><button data-dismiss="alert" class="close" type="button">&times;</button><a href="#">Sales filtered Thursday</a></li>
                                                    <li><button data-dismiss="alert" class="close" type="button">&times;</button><a href="#">Sales filtered Friday</a></li>
                                                    <li><button data-dismiss="alert" class="close" type="button">&times;</button><a href="#">Sales filtered Saturday</a></li>
                                                </ul>
                                            </div>
                                            <div id="lB" class="tab-pane">
                                                <p>I'm in Section b.</p>
                                            </div>
                                            <div id="lC" class="tab-pane">
                                                <p>I'm in Section AC.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-bar">
                                <ul class="">
                                    <li>
                                        <div class="pin-holder">
                                            <a class="btn-close" href="#">close</a>
                                            <div><a href="#" title="Yoav asked to do this">Yoav asked to do this</a></div>
                                        </div>
                                    </li>
                                    <li class="active">
                                        <div class="pin-holder">
                                            <a class="btn-close" href="#">close</a>
                                            <div><a href="#" title="Finish this before lea">Finish this before lea</a></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="pin-holder">
                                            <a class="btn-close" href="#">close</a>
                                            <div><a href="#" title="Jary asked to do this">Jary asked to do this</a></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="pin-holder">
                                            <a class="btn-close" href="#">close</a>
                                            <div><a href="#" title="Yoav asked to do this">Yoav asked to do this</a></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="pin-holder">
                                            <a class="btn-close" href="#">close</a>
                                            <div><a href="#" title="Portland Office">Portland Office</a></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="pin-holder">
                                            <a class="btn-close" href="#">close</a>
                                            <div><a href="#" title="Yoav asked to do this">Yoav asked to do this</a></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="pin-holder">
                                            <a class="btn-close" href="#">close</a>
                                            <div><a href="#" title="Finish this before lea">Finish this before lea</a></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="pin-holder">
                                            <a class="btn-close" href="#">close</a>
                                            <div><a href="#" title="Yoav asked to do this">Yoav asked to do this</a></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="pin-holder">
                                            <a class="btn-close" href="#">close</a>
                                            <div><a href="#" title="Portland Office">Portland Office</a></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="pin-holder">
                                            <a class="btn-close" href="#">close</a>
                                            <div><a href="#" title="Yoav asked to do this">Yoav asked to do this</a></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="pin-holder">
                                            <a class="btn-close" href="#">close</a>
                                            <div><a href="#" title="Portland Office">Portland Office</a></div>
                                        </div>
                                    </li>


                                </ul>
                                <script type="text/javascript">
                                    $(document).ready(function() {
                                        function trueWidthPinBar(){
                                            jQuery('div.list-bar li').each(function(){
                                                var _tempWidth = "auto";
                                                jQuery(this).find('div.pin-holder div').width(_tempWidth);
                                            });
                                            var _sizeStart = jQuery(window).width() -30 - 55;
                                            var _sizeEnd = jQuery('div.list-bar').width();
                                            if(_sizeStart < _sizeEnd){
                                                var _qty = jQuery('div.list-bar li').size();
                                                var _sizePaddings = (23 + 15) * _qty;
                                                var _mainPadding = jQuery('#main').innerWidth() - jQuery('#main').width();
                                                if(jQuery(window).width() < 980){
                                                    var _size = 980 -30 - _mainPadding  - _sizePaddings;
                                                }else{
                                                    var _size = jQuery(window).width() -30 - _mainPadding  - _sizePaddings;
                                                }
                                                var _tempWidth = _size / _qty;
                                                _tempWidth = _tempWidth < 40 ? 40 : _tempWidth;
                                                jQuery('div.list-bar li').each(function(){
                                                    jQuery(this).find('div.pin-holder div').width(_tempWidth);
                                                    jQuery(this).find('div.pin-holder div').addClass('pin-frame');
                                                });
                                            }
                                        }
                                        trueWidthPinBar()
                                        jQuery(window).resize(function() {
                                            trueWidthPinBar()
                                        });
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                {% endblock pin_bar %}
                {% block application_menu %}
                {% endblock application_menu %}
                {% block content %}
                    <div class="container" style="background: #fff">
                        <div class="row">
                            <div class="span4">
                                <hr />
                                <h3>Layout pages</h3>
                                <ul>
                                    <li><a href="{{ path('oro_ui_1column') }}">1 column </a></li>
                                    <li><a href="{{ path('oro_ui_1column_toolbar') }}">1 column with toolbar</a></li>
                                    <li><a href="{{ path('oro_ui_1column_menu') }}">1 column with menu</a></li>
                                    <li><a href="{{ path('oro_ui_grid_page') }}">grid page</a></li>
                                    <li><a href="{{ path('oro_ui_grid_without_bar_page') }}">grid page without bar</a></li>
                                    <li><a href="{{ path('oro_ui_2columns_left') }}">2 columns - left</a></li>
                                    <li><a href="{{ path('oro_ui_2columns_right') }}">2 columns - right</a></li>
                                    <li><a href="{{ path('oro_ui_3columns') }}">3 columns</a></li>
                                </ul>
                                <h3>Static pages</h3>
                                <ul>
                                    <li><a href="{{ path('oro_ui_forgot_password') }}">Forgot password</a></li>
                                    <li><a href="{{ path('oro_ui_login') }}">Login page</a></li>
                                    <li><a href="{{ path('oro_ui_registration') }}">Registration page</a></li>
                                    <li><a href="{{ path('oro_ui_404') }}">404</a></li>
                                    <li><a href="{{ path('oro_ui_503') }}">503</a></li>
                                </ul>
                                <h3>Example pages</h3>
                                <ul>
                                    <li><a href="{{ path('oro_ui_form_elements') }}">Form elements</a></li>
                                    <li><a href="{{ path('oro_ui_messages') }}">System messages</a></li>
                                    <li><a href="{{ path('oro_ui_buttons') }}">Buttons</a></li>
                                    <li><a href="#">Print page</a></li>
                                    <li><a href="{{ path('oro_ui_tables') }}">Tables</a></li>
                                    <li><a href="{{ path('oro_ui_general_elements') }}">General elements</a></li>
                                </ul>
                                <h3>Js use page</h3>
                                <ul>
                                    <li><a href="{{ path('oro_ui_dialog') }}">jQuery DialogExtend</a></li>
                                    <li><a href="{{ path('oro_ui_dialog_styled') }}">jQuery DialogExtend styled</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endblock content %}
        </div>
        {% endblock main %}
    </div>
</div>

</body>
</html>
