{% import 'OroUIBundle::macros.html.twig' as ui %}
{% import _self as website_metrics %}

{% set metrics = data.metrics %}

{% macro renderEventDate(eventDate) %}
    {% if eventDate %}
        {% set now = date() %}
        {% set difference = date(eventDate).diff(now) %}

        {{ eventDate|oro_format_datetime }}
        ({{ 'oro.magento.website_activity.days_ago'|trans({'%count%': difference.days}) }})
    {% else %}
        {{ 'oro.ui.empty'|trans }}
    {% endif %}
{% endmacro %}

<div class="responsive-cell">
    <div class="box-type1">
        <div class="title">
            <span class="widget-title">{{ 'oro.magento.website_activity.metrics.label'|trans }}</span>
        </div>
        <div class="row-fluid">
            {{ ui.renderProperty(
                'oro.magento.website_activity.metrics.data.site_visit_count.label'|trans,
                metrics.visit_count
            ) }}
            {{ ui.renderProperty(
                'oro.magento.website_activity.metrics.data.last_visit_date.label'|trans,
                website_metrics.renderEventDate(metrics.last_visit)
            ) }}
            {{ ui.renderProperty(
                'oro.magento.website_activity.metrics.data.average_monthly_visits.label'|trans,
                metrics.average_visit_monthly|oro_format_decimal({attributes: { fraction_digits: 1 }})
            ) }}
            {{ ui.renderProperty(
                'oro.magento.website_activity.metrics.data.page_view_count.label'|trans,
                metrics.page_view_count
            ) }}
            {{ ui.renderHtmlProperty(
                'oro.magento.website_activity.metrics.data.most_viewed_page.label'|trans,
                metrics.most_viewed_page
                    ? ui.renderUrl(metrics.most_viewed_page.url, metrics.most_viewed_page.title)
                    : 'oro.ui.empty'|trans
            ) }}
            {{ ui.renderHtmlProperty(
                'oro.magento.website_activity.metrics.data.last_viewed_page.label'|trans,
                metrics.last_viewed_page
                    ? ui.renderUrl(metrics.last_viewed_page.url, metrics.last_viewed_page.title)
                    : 'oro.ui.empty'|trans
            ) }}
            {{ ui.renderProperty(
                'oro.magento.website_activity.metrics.data.average_visit_views.label'|trans,
                metrics.average_visit_views|oro_format_decimal({attributes: { fraction_digits: 1 }})
            ) }}
            {{ ui.renderProperty(
                'oro.magento.website_activity.metrics.data.last_login_date.label'|trans,
                website_metrics.renderEventDate(metrics.last_login)
            ) }}
            {{ ui.renderProperty(
                'oro.magento.website_activity.metrics.data.item_added_count.label'|trans,
                metrics.item_added_count
            ) }}
            {{ ui.renderProperty(
                'oro.magento.website_activity.metrics.data.last_item_date.label'|trans,
                website_metrics.renderEventDate(metrics.last_item)
            ) }}
            {{ ui.renderProperty(
                'oro.magento.website_activity.metrics.data.average_visit_items.label'|trans,
                metrics.average_visit_items|oro_format_decimal({attributes: { fraction_digits: 1 }})
            ) }}
            {{ ui.renderProperty(
                'oro.magento.website_activity.metrics.data.checkout_count.label'|trans,
                metrics.checkout_count
            ) }}
            {{ ui.renderProperty(
                'oro.magento.website_activity.metrics.data.last_checkout_date.label'|trans,
                website_metrics.renderEventDate(metrics.last_checkout)
            ) }}
            {{ ui.renderProperty(
                'oro.magento.website_activity.metrics.data.average_visit_checkouts.label'|trans,
                metrics.average_visit_checkouts|oro_format_decimal({attributes: { fraction_digits: 1 }})
            ) }}
        </div>
    </div>
</div>
