{% if form is defined and form.recency is defined or form.frequency is defined or form.monetary is defined %}
    {% set options = {rfm_enable_id: form.rfm_enabled.vars.id} %}
    {% set rfmEnabled = form.vars.value.data.rfm_enabled is defined and form.vars.value.data.rfm_enabled %}
    <div class="rfm-settings {% if rfmEnabled %}rfm-enabled{% endif %}"
        data-page-component-module="oroanalytics/js/app/components/rfm-settings"
        data-page-component-options="{{ options|json_encode }}">

        <h4>{{ 'oro.analytics.form.rfm_setting.title'|trans }}</h4>

        {{ form_row(form.rfm_enabled) }}

        <div class="control-group rfm-settings-data">
            <div class="controls">
                <div class="hide">
                    {% if form.recency is defined %}
                        {{ form_widget(form.recency) }}
                    {% endif %}
                    {% if form.frequency is defined %}
                        {{ form_widget(form.frequency) }}
                    {% endif %}
                    {% if form.monetary is defined %}
                        {{ form_widget(form.monetary) }}
                    {% endif %}
                </div>

                {% if form.recency.vars.errors|length > 0 or form.frequency.vars.errors|length > 0 or form.monetary.vars.errors|length > 0 %}
                    <div class="alert alert-error" role="alert">
                        <ul>
                            {% if form.recency.vars.errors|length > 0 %}
                                <li>
                                    <strong>{{ 'oro.analytics.rfm.recency.label'|trans }}</strong>
                                    {{ form_errors(form.recency) }}
                                </li>
                            {% endif %}

                            {% if form.frequency.vars.errors|length > 0 %}
                                <li>
                                    <strong>{{ 'oro.analytics.rfm.frequency.label'|trans }}</strong>
                                    {{ form_errors(form.frequency) }}
                                </li>
                            {% endif %}

                            {% if form.monetary.vars.errors|length > 0 %}
                                <li>
                                    <strong>{{ 'oro.analytics.rfm.monetary.label'|trans }}</strong>
                                    {{ form_errors(form.monetary) }}
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}

                <table class="grid grid-main-container table-hover table table-bordered table-condensed">
                    <thead>
                    <tr>
                        <th><label>{{ 'oro.analytics.form.score.title'|trans }}</label></th>
                        <th>
                            {{ form_label(form.recency) }}
                            {{ 'oro.analytics.form.hint.recency'|trans }}
                        </th>
                        <th>
                            {{ form_label(form.frequency) }}
                            {{ 'oro.analytics.form.hint.frequency'|trans }}
                        </th>
                        <th>
                            {{ form_label(form.monetary) }}
                            {{ 'oro.analytics.form.hint.monetary'|trans }}
                        </th>
                        <th class="action-column"><label>{{ 'oro.analytics.form.actions.title'|trans }}</label></th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>

                <button type="button" class="btn action-add">
                    {{ 'oro.analytics.title.add_row'|trans }}
                </button>
            </div>
        </div>
    </div>
{% endif %}
