{% extends 'OroUIBundle:actions:update.html.twig' %}
{% set name = entity.opportunity.name|default('N/A') %}
{% oro_title_set({params : {"%sales_flow_opportunity.name%": name} }) %}
{% set audit_entity_class = 'OroCRM_Bundle_SalesBundle_Entity_Opportunity' %}
{% set title = form.vars.value.id
    ? name ~ ' - ' ~ 'Update'|trans ~ ' ' ~ 'orocrm.sales.salesflowopportunity.entity_label'|trans
    : 'New'|trans ~ ' ' ~ 'orocrm.sales.salesflowopportunity.entity_label'|trans
%}

{% set formAction = form.vars.value.id
    ? path('orocrm_sales_sales_flow_opportunity_update', { 'id': form.vars.value.id })
    : path('orocrm_sales_sales_flow_opportunity_create')
%}

{% block head_script %}
    {{ parent() }}
    {% block stylesheets %}
        {{ form_stylesheet(form) }}
    {% endblock %}
{% endblock %}

{% block navButtons %}
    {% if form.vars.value.id and resource_granted('DELETE', entity) %}
        {{ UI.deleteButton({
            'dataUrl': path('oro_api_delete_sales_flow_opportunity', {'id': form.vars.value.id}),
            'dataRedirect': path('orocrm_sales_sales_flow_opportunity_index'),
            'aCss': 'no-hash remove-button',
            'id': 'btn-remove-oppotunity',
            'dataId': form.vars.value.id,
            'entity_label': 'orocrm.sales.salesflowopportunity.entity_label'|trans,
        }) }}
        {{ UI.buttonSeparator() }}
    {% endif %}
    {{ UI.button({'path' : path('orocrm_sales_sales_flow_opportunity_index'), 'title' : 'Cancel', 'label' : 'Cancel'}) }}
    {{ UI.saveAndStayButton('orocrm_sales_opportunity_update') }}
    {{ UI.saveAndCloseButton() }}
{% endblock %}

{% block pageHeader %}
    {% if form.vars.value.id %}
        {% set breadcrumbs = {
            'entity':      form.vars.value,
            'indexPath':   path('orocrm_sales_sales_flow_opportunity_index'),
            'indexLabel': 'orocrm.sales.salesflowopportunity.entity_plural_label'|trans,
            'entityTitle': name
        } %}
        {{ parent() }}
    {% else %}
        {% include 'OroUIBundle::page_title_block.html.twig' %}
    {% endif %}
{% endblock pageHeader %}

{% block stats %}
    <li>{{ 'orocrm.sales.salesflowopportunity.created_at.label'|trans }}: {{ entity.createdAt ? entity.createdAt|oro_format_datetime : 'N/A' }}</li>
    <li>{{ 'orocrm.sales.salesflowopportunity.updated_at.label'|trans }}: {{ entity.updatedAt ? entity.updatedAt|oro_format_datetime : 'N/A' }}</li>
{% endblock stats %}

{% block content_data %}
    {% set id = 'sales-flow-opportunity-profile' %}

    {% set formFields = [] %}
    {% if form.owner is defined %}
        {% set formFields = formFields|merge([form_row(form.owner, {label: 'orocrm.sales.salesflowopportunity.owner.label'|trans})]) %}
    {% endif %}
    {% if form.opportunity is defined %}
        {% set formFields = formFields|merge([form_row(form.opportunity)]) %}
    {% endif %}

    {% set dataBlocks = [{
        'title': 'General',
        'class': 'active',
        'subblocks': [
            {
                'title': 'Sales Flow Opportunity Information',
                'data': formFields
            }
        ]
    }] %}

    {% if form.additional is defined and form.additional.children|length > 0 %}
        {% set additionalData = [] %}
        {% for value in form.additional %}
            {% set additionalData = additionalData|merge([form_row(value)]) %}
        {% endfor %}

        {% set dataBlocks = dataBlocks|merge([{
            'title': 'Additional',
            'subblocks': [{
                'title': '',
                'useSpan': false,
                'data' : additionalData
            }]
        }] ) %}
    {% endif %}

    {% set data = {
        'formErrors': form_errors(form) ? form_errors(form) : null,
        'dataBlocks': dataBlocks,
    } %}
    {{ parent() }}
{% endblock content_data %}
