{% extends 'OroUIBundle:actions:view.html.twig' %}
{% set name = entity.opportunity.name|default('N/A') %}
{% oro_title_set({params : {"%sales_flow_opportunity.name%": name} }) %}
{% set audit_entity_class = 'OroCRM_Bundle_SalesBundle_Entity_SalesFlowOpportunity' %}

{% block navButtons %}
    {% if resource_granted('EDIT', entity) %}
        {{ UI.editButton({
            'path' : path('orocrm_sales_sales_flow_opportunity_update', { 'id': entity.id }),
            'entity_label': 'orocrm.sales.salesflowopportunity.entity_label'|trans
        }) }}
    {% endif %}
    {% if resource_granted('DELETE', entity) %}
        {{ UI.deleteButton({
            'dataUrl': path('oro_api_delete_sales_flow_opportunity', {'id': entity.id}),
            'dataRedirect': path('orocrm_sales_sales_flow_opportunity_index'),
            'aCss': 'no-hash remove-button',
            'id': 'btn-remove-contact',
            'dataId': entity.id,
            'entity_label': 'orocrm.sales.salesflowopportunity.entity_label'|trans
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity':      entity,
        'indexPath':   path('orocrm_sales_opportunity_index'),
        'indexLabel': 'orocrm.sales.salesflowopportunity.entity_plural_label'|trans,
        'entityTitle': name
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block stats %}
    <li>{{ 'orocrm.sales.salesflowopportunity.created_at.label'|trans }}: {{ entity.createdAt ? entity.createdAt|oro_format_datetime : 'N/A' }}</li>
    <li>{{ 'orocrm.sales.salesflowopportunity.updated_at.label'|trans }}: {{ entity.updatedAt ? entity.updatedAt|oro_format_datetime : 'N/A' }}</li>
{% endblock stats %}

{% block content_data %}
    {% set salesFlowOpportunityInfoWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'url': path('orocrm_sales_sales_flow_opportunity_info', { id: entity.id }),
            'title': 'Sales Flow Opportunity Information'
        }) }}
    {% endset %}

    {% set opportunityInfoWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'url': path('orocrm_sales_opportunity_info', { id: entity.opportunity.id }),
            'title': 'Opportunity Information'
        }) }}
    {% endset %}

    {% set dataBlocks = [
        {
            'title': 'General Information'|trans,
            'class': 'active',
            'subblocks': [
                {'data' : [salesFlowOpportunityInfoWidget] },
                {'data' : [opportunityInfoWidget] },
            ]
        }
    ] %}

    {% set id = 'salesFlowOpportunityView' %}
    {% set data = {'dataBlocks': dataBlocks} %}
    {{ parent() }}
{% endblock content_data %}
