{#
    Prepares options for channel form and initialize page component
    params:
        form                        - Symfony\Component\Form\FormView
        entitiesMetadata            - array of entities metadata
#}
{% macro initializeChannelForm(form, entitiesMetadata, customerIdentity) %}
    {% set options = {
        channelTypeEl:     '#' ~ form.channelType.vars.id,
        channelEntitiesEl: '#' ~ form.entities.vars.id,
        customerIdentity:  customerIdentity,
        entitiesMetadata:  entitiesMetadata,
        fields: {
            name:        '#' ~ form.name.vars.id,
            channelType: '#' ~ form.channelType.vars.id,
            tokenEl:     '#' ~ form._token.vars.id
        }
    } %}

    <div data-page-component-module="orochannel/js/app/components/channel"
         data-page-component-options="{{ options|json_encode }}"></div>
{% endmacro %}

{#
    Renders and initialize entity list compoenent in view mode
    params:
        channel - Oro\Bundle\ChannelBundle\Entity\Channel
#}
{% macro inializeEntitiesViewComponent(channel) %}
    {% set containerIdentifier = 'entities-list-view' %}

    <div id="{{ containerIdentifier }}"></div>
    <script type="text/javascript">
        require(['jquery', 'orochannel/js/entity-management/entity-component-view'],
        function ($, EntityComponentView) {
            var entityComponentView = new EntityComponentView({
                data:     {{ channel.entities|json_encode|raw }},
                mode:     EntityComponentView.prototype.MODES.VIEW_MODE,
                metadata: {{ oro_channel_entities_metadata()|json_encode|raw }}
            });

            entityComponentView.render();
            $({{ ('#' ~ containerIdentifier)|json_encode|raw }}).append(entityComponentView.$el);
        });
    </script>
{% endmacro %}

{#
    Renders channel property for entities that aware of it. Check wheter view of channel is allowed then renders
    link to channel view page.
    params:
        entity - entity instanse of Oro\Bundle\ChannelBundle\Model\ChannelAwareInterface
        params - set of params required for render(e.g. label etc..)
#}
{% macro renderChannelProperty(entity, params = {}) %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}

    {% set label = params.label is defined
        ? params.label
        :  oro_entity_config_value('Oro\\Bundle\\ChannelBundle\\Entity\\Channel', 'label')
    %}

    {%- if entity.dataChannel and is_granted('VIEW', entity.dataChannel) -%}
        {% set channelView = '<a href="' ~ path('oro_channel_view', {'id': entity.dataChannel.id}) ~ '">' ~ entity.dataChannel.name|escape ~ '</a>' %}
    {%- else -%}
        {% set channelView = entity.dataChannel ? entity.dataChannel : '' %}
    {%- endif -%}
    {{ UI.renderHtmlProperty(label|trans, channelView) }}
{% endmacro %}
