{% set entityClass = 'OroCRM\\Bundle\\TaskBundle\\Entity\\Task' %}
{% set entityName = oro_entity_config_value(entityClass, 'label')|trans %}
<script type="text/html" id="{{ id|e('html_attr')|raw }}">
    <div class="accordion-group">
        <div class="accordion-heading collapse<% if (!collapsed) { %> in<% } %>">
            <div class="title-item">
                <a href="#accordion-item<%= id %>" class="no-hash accordion-toggle<% if (collapsed) { %> collapsed<% } %>"></a>
                <span class="icon">
                    <i class="{{ oro_entity_config_value(entityClass, 'icon')|raw }}"></i>
                </span>
                <span class="visual">
                    <span class="details">
                        {{ entityName|raw }}
                        <% var template = (verb == 'create')
                            ? {{ 'orocrm.task.created_by'|trans|json_encode|raw }}
                            : {{ 'orocrm.task.changed_by'|trans|json_encode|raw }};
                        %>
                        <%= _.template(
                            template,
                            {
                                user: '<a class="user" href="' + owner_url + '">' +  _.escape(owner) + '</a>',
                                date: '<i class="date">' + createdAt + '</i>',
                                editor: '<a class="user" href="' + editor_url + '">' +  _.escape(editor) + '</a>',
                                editor_date: '<i class="date">' + updatedAt + '</i>'
                            },
                            { interpolate: /\{\{(.+?)\}\}/g }
                        ) %>
                    </span>
                    <span class="message-item message">
                        <a href="#" class="no-hash accordion-toggle"><%= subject %></a>
                    </span>
                </span>
            </div>
            <div class="actions">
                <div class="more-bar-holder">
                    <div class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="javascript:void(0);">...</a>
                        <ul class="dropdown-menu pull-right launchers-dropdown-menu">
                            <li>
                                <ul class="nav nav-pills icons-holder launchers-list">
                                    <li class="launcher-item">
                                        <a href="javascript:void(0);" class="action no-hash item-edit-button" title="{{ 'orocrm.task.update_task'|trans({'{{ entity }}': entityName})|raw }}">
                                            <i class="icon-edit hide-text">{{ 'orocrm.task.update_task'|trans({'{{ entity }}': entityName})|raw }}</i>
                                        </a>
                                    </li>
                                    <li class="launcher-item">
                                        <a href="javascript:void(0);" class="action no-hash item-remove-button" title="{{ 'orocrm.task.delete_task'|trans({'{{ entity }}': entityName})|raw }}">
                                            <i class="icon-trash hide-text">{{ 'orocrm.task.delete_task'|trans({'{{ entity }}': entityName})|raw }}</i>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-body collapse<% if (!collapsed) { %> in<% } %>" id="accordion-item<%= id %>">
            <div class="subject">
                <a href="#" class="no-hash accordion-toggle"><%= subject %></a>
            </div>
            <div class="message">
                <!-- Do NOT remove. Placeholder for activity view -->
            </div>
        </div>
    </div>
</script>
