{% extends 'OroActivityListBundle:ActivityList/js:activityItemTemplate.js.twig' %}
{% set entityClass = 'OroCRM\\Bundle\\TaskBundle\\Entity\\Task' %}
{% set entityName = oro_entity_config_value(entityClass, 'label')|trans %}

{% block activityDetails %}
    {{ entityName|raw }}
    <% var template = (verb == 'create')
        ? {{ 'orocrm.task.created_by'|trans|json_encode|raw }}
        : {{ 'orocrm.task.changed_by'|trans|json_encode|raw }};
    %>
    <%= _.template(template, { interpolate: /\{\{(.+?)\}\}/g })({
        user: '<a class="user" href="' + owner_url + '">' +  _.escape(owner) + '</a>',
        date: '<i class="date">' + createdAt + '</i>',
        editor: '<a class="user" href="' + editor_url + '">' +  _.escape(editor) + '</a>',
        editor_date: '<i class="date">' + updatedAt + '</i>'
    }) %>
{% endblock %}

{% block activityActions %}
    {% set action %}
    <a href="#" class="action item-edit-button"
       title="{{ 'orocrm.task.update_task'|trans({'{{ entity }}': entityName})|raw }}">
        <i class="icon-edit hide-text">{{ 'orocrm.task.update_task'|trans({'{{ entity }}': entityName})|raw }}</i>
    </a>
    {% endset %}
    {% set actions = [action] %}

    {% set action %}
    <a href="#" class="action item-remove-button"
       title="{{ 'orocrm.task.delete_task'|trans({'{{ entity }}': entityName})|raw }}">
        <i class="icon-trash hide-text">{{ 'orocrm.task.delete_task'|trans({'{{ entity }}': entityName})|raw }}</i>
    </a>
    {% endset %}
    {% set actions = actions|merge([action]) %}

    {{ parent() }}
{% endblock %}
