{% extends 'OroActivityListBundle:ActivityList/js:activityItemTemplate.js.twig' %}
{% set entityClass = 'OroCRM\\Bundle\\TaskBundle\\Entity\\Task' %}
{% set entityName = oro_entity_config_value(entityClass, 'label')|trans %}

{% block activityDetails %}
    {{ entityName|raw }}
    <% var template = (verb == 'create')
        ? {{ 'orocrm.task.created_by'|trans|json_encode|raw }}
        : {{ 'orocrm.task.changed_by'|trans|json_encode|raw }};
    %>
    <%= _.template(template, { interpolate: /\{\{(.+?)\}\}/g })({
        user: owner_url ? '<a class="user" href="' + owner_url + '">' +  _.escape(owner) + '</a>' :  '<span class="user">' + _.escape(owner) + '</span>',
        date: '<i class="date">' + createdAt + '</i>',
        editor: editor_url ? '<a class="user" href="' + editor_url + '">' +  _.escape(editor) + '</a>' : _.escape(editor),
        editor_date: '<i class="date">' + updatedAt + '</i>'
    }) %>
{% endblock %}

{% block activityActions %}
    {% set action %}
        {# Add button for add context in the activity list item #}
        {% if resource_granted('orocrm_task_update') %}
            <a href="#" title="{{ 'oro.activity.contexts.placeholder'|trans|raw }}"
               data-url="<%= routing.generate('oro_activity_context', {'id': relatedActivityId, 'activity': '{{ entityClass }}' }) %>"
                    {{ UI.renderWidgetDataAttributes({
                        'type' : 'dialog',
                        'multiple' : true,
                        'refresh-widget-alias': 'activity-list-widget',
                        'options' : {
                            'alias': 'activity-context-dialog',
                            'dialogOptions' : {
                                'title' : 'oro.activity.contexts.add_context_entity.label'|trans,
                                'allowMaximize': true,
                                'allowMinimize': true,
                                'modal': true,
                                'dblclick': 'maximize',
                                'maximizedHeightDecreaseBy': 'minimize-bar',
                                'width': 1000,
                                'height': 600
                            }
                        }
                    }) }}><i class="icon-link hide-text">{{ 'oro.activity.contexts.placeholder'|trans|raw }}</i></a>
        {% endif %}
    {% endset %}
    {% set actions = [action] %}

    {% set action %}
        <% if (editable) { %>
        <a href="#" class="action item-edit-button"
           title="{{ 'orocrm.task.update_task'|trans({'{{ entity }}': entityName})|raw }}">
            <i class="icon-edit hide-text">{{ 'orocrm.task.update_task'|trans({'{{ entity }}': entityName})|raw }}</i>
        </a>
        <% } %>
    {% endset %}
    {% set actions = actions|merge([action]) %}

    {% set action %}
        <% if (removable) { %>
        <a href="#" class="action item-remove-button"
           title="{{ 'orocrm.task.delete_task'|trans({'{{ entity }}': entityName})|raw }}">
            <i class="icon-trash hide-text">{{ 'orocrm.task.delete_task'|trans({'{{ entity }}': entityName})|raw }}</i>
        </a>
        <% } %>
    {% endset %}
    {% set actions = actions|merge([action]) %}

    {{ parent() }}
{% endblock %}
