{#
    Available variables:
    * entity       - user entity OroCRM\Bundle\ContactBundle\Entity\Contact
    * indexer_item - indexer item Oro\Bundle\SearchBundle\Query\Result\Item
#}
{% set contact = entity %}
{% set format = get_user_value('oro_user.name_format') %}

{% import 'OroUIBundle::macros.html.twig' as macros %}

<div class="span9">
    <div class="customer-info well-small">
        {% if contact %}
            <div class="visual">
                <a href="{{ indexer_item.recordUrl }}">
                    <img src="{{ asset('bundles/oroui/img/info-usser.png') }}" alt="{{ contact.__toString }}"/>
                </a>
            </div>
            <div class="customer-content pull-left">
                <div class="clearfix">
                    <div class="pull-left">
                        <h1 class="usser-name">
                            <div class="sub-title">{{ 'Contact'|trans }}</div>
                            <span class="separator">/</span>
                            <a href="{{ indexer_item.recordUrl }}">{{ contact.__toString }}</a>
                        </h1>
                    </div>
                </div>
                <div class="clearfix">
                    <ul class="inline">
                        <li>{{ 'Created'|trans }}: {{ contact.createdAt ? macros.time(contact.createdAt) : 'N/A' }}</li>
                        <li>{{ 'Updated'|trans }}: {{ contact.updatedAt ? macros.time(contact.updatedAt) : 'N/A' }}</li>
                    </ul>
                </div>
            </div>
        {% else %}
            <div class="visual">
                <img src="{{ asset('bundles/oroui/img/info-usser.png') }}" alt="{{ indexer_item.recordTitle }}"/>
            </div>
            <div class="customer-content pull-left">
                <div class="clearfix">
                    <div class="pull-left">
                        <h1 class="usser-name">
                            <div class="sub-title">{{ 'Contact'|trans }}</div>
                            <span class="separator">/</span>
                            {{ indexer_item.recordTitle }}
                        </h1>
                    </div>
                </div>
                <div class="clearfix">
                    <ul class="inline">
                        <li>{{ 'Created'|trans }}: N/A</li>
                        <li>{{ 'Updated'|trans }}: N/A</li>
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>
</div>

