{% extends 'OroContactBundle::layout.html.twig' %}
{% import 'OroUserBundle::macros.html.twig' as macros %}
{% oro_title_set({params : {"%contact.name%": contact.first_name ~ " " ~ contact.last_name} }) %}

{% block head_script %}
    {{ parent() }}

    {% javascripts
    '@OroUIBundle/Resources/public/lib/bootstrap/js/bootstrap-scrollspy.js'
    '@OroUIBundle/Resources/public/lib/backbone.bootstrap-modal.js'

    filter='?yui_js'
    output='js/oro.contact.js'
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}

    {% include 'OroAccountBundle:Account:remove.confirm.js.twig' %}
{% endblock %}

{% block content %}


<div class="layout-content">
    <div class="navigation clearfix navbar-extra navbar-extra-right">
        <div class="row">
                <div class="pull-right">
                    <div class="pull-right">
                        <div class="btn-group icons-holder ">
                            <a href="{{ app.session.get('back') ? app.session.get('back') : path('oro_contact_index') }}"
                               class="btn" title="{{ 'Back'|trans }}"><i class="icon-chevron-left hide-text">{{ 'Back'|trans }}</i></a>
                            {% if resource_granted('oro_contact_contact_edit') %}
                                <a href="{{ path('oro_contact_edit', { id: contact.id }) }}"
                                   class="btn" title="{{ 'Edit contact'|trans }}"><i class="icon-edit hide-text">{{ 'Edit'|trans }}</i></a>
                            {% endif %}
                            {% if resource_granted('oro_contact_contact_remove') %}
                                <a href="javascript: void(0);" class="btn icons-holder-text remove-button"
                                   data-url="{{ path('oro_api_delete_contact', {'id': contact.id}) }}"
                                   data-redirect="{{ path('oro_contact_index') }}"
                                   data-message="{{ 'Are you sure you want to delete this contact?'|trans }}"
                                   title="{{ 'Delete contact'|trans }}"><i class="icon-trash hide-text">{{ 'Remove'|trans }}</i>Delete</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="pull-left">
                    <div class="customer-info well-small">
                        <div class="customer-content pull-left">
                            <div class="clearfix-oro">
                                <div class="sub-title">{{ 'Contact'|trans }}</div>
                                <span class="separator">/</span>
                                <h1 class="usser-name">{{ contact.first_name }} {{ contact.last_name }}</h1>
                            </div>
                            <ul class="inline">
                                <li>{{ 'Created'|trans }}: {{ contact.createdAt ? macros.time(contact.createdAt) : 'N/A' }}</li>
                                <li>{{ 'Updated'|trans }}: {{ contact.updatedAt ? macros.time(contact.updatedAt) : 'N/A' }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="layout-content">
        <div id="navbar-profile" class="navbar navbar-static scrollspy-nav">
            <div class="navbar-inner">
                <div class="container-fluid" style="width: auto;">
                    <ul class="nav">
                        <li class="active"><a href="#scroll-main">{{ 'Overview'|trans }}</a></li>
                        <li class="clearfix"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clearfix-oro">
            <div data-spy="scroll" data-target="#navbar-profile" data-offset="50" class="scrollspy container-fluid">
                <h4 id="scroll-main" class="scrollspy-title">{{ 'Overview'|trans }}</h4>
                <div class="row-fluid">
                    <div class="form-horizontal">
                        {% for attr in contact.values %}
                        <div class="control-group">
                            <label class="control-label">{{ attr.attribute.code|title }}</label>
                            <div class="controls">
                                <div class="clearfix-oro">
                                    <p class="control-label">{{ attr.__toString }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
