{% extends 'OroContactBundle::layout.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as macros %}
{% oro_title_set({params : {"%contact.name%": contact.__toString} }) %}

{% block head_script %}
    {{ parent() }}

    {% javascripts
    '@OroUIBundle/Resources/public/lib/bootstrap/js/bootstrap-scrollspy.js'
    '@OroUIBundle/Resources/public/lib/backbone.bootstrap-modal.js'

    filter='?yui_js'
    output='js/oro.contact.js'
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}

    {% include 'OroAccountBundle:Account:remove.confirm.js.twig' %}
{% endblock %}

{% block content %}


<div class="layout-content">
    <div class="navigation clearfix navbar-extra navbar-extra-right">
        <div class="row">
            <div class="pull-right">
                <div class="pull-right">
                    <div class="pull-left btn-group icons-holder ">
                        <a href="{{ app.session.get('back') ? app.session.get('back') : path('oro_contact_index') }}"
                           class="btn back icons-holder-text" title="{{ 'Back'|trans }}"><i class="icon-chevron-left hide-text">{{ 'Back'|trans }}</i>{{ 'Back'|trans }}</a>
                    </div>

                    {% if resource_granted('oro_contact_update') %}
                    <div class="pull-left btn-group icons-holder ">
                            <a href="{{ path('oro_contact_update', { id: contact.id, back: app.request.uri }) }}"
                               class="btn icons-holder-text" title="{{ 'Update contact'|trans }}"><i class="icon-edit hide-text">{{ 'Update'|trans }}</i>{{ 'Edit'|trans }}</a>
                    </div>
                    {% endif %}
                    {% if resource_granted('oro_contact_delete') %}
                    <div class="pull-left btn-group icons-holder ">
                        <a href="javascript: void(0);" class="btn icons-holder-text no-hash remove-button"
                           id="btn-remove-contact"
                           data-id="{{ contact.id }}"
                           data-url="{{ path('oro_api_delete_contact', {'id': contact.id}) }}"
                           data-redirect="{{ path('oro_contact_index') }}"
                           data-message="{{ 'Are you sure you want to delete this contact?'|trans }}"
                           title="{{ 'Delete Contact'|trans }}"><i class="icon-trash hide-text">{{ 'Remove'|trans }}</i>{{ 'Delete'|trans }}</a>
                    </div>
                    {% endif %}
                </div>
                <div class="pull-right usser-info-state">
                    <ul class="inline-decorate">
                        <li><a class="no-hash" href="{{ path('oro_dataaudit_history', {entity:'Oro\\Bundle\\ContactBundle\\Entity\\Contact', id: contact.id}) }}" id="view-activity-btn" title="{{ contact }} - {{ 'Change History'|trans }}">{{ 'Activity Log'|trans }}</a></li>
                    </ul>
                </div>
            </div>
            <div class="span9">
                <div class="customer-info well-small">
                    <div class="visual"><img src="{{ asset('bundles/oroui/img/info-usser.png') }}" alt="{{ contact.__toString }}"/></div>
                    <div class="customer-content pull-left">
                        <div class="clearfix">
                            <div class="pull-left">
                                <div class="sub-title"><a href="{{ path('oro_contact_index') }}">{{ 'Contact'|trans }}</a></div>
                                <span class="separator">/</span>
                                <h1 class="usser-name">{{ contact.__toString }}</h1>
                            </div>
                        </div>
                        <div class="clearfix">
                            <ul class="inline">
                                <li>{{ 'Created'|trans }}: {{ contact.createdAt ? macros.time(contact.createdAt) : 'N/A' }}</li>
                                <li>{{ 'Updated'|trans }}: {{ contact.updatedAt ? macros.time(contact.updatedAt) : 'N/A' }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layout-content">
        <div id="navbar-profile" class="navbar navbar-static scrollspy-nav">
            <div class="navbar-inner">
                <div class="container-fluid" style="width: auto;">
                    <ul class="nav">
                        <li class="active"><a href="#scroll-main">{{ 'General'|trans }}</a></li>
                        <li class="clearfix"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <div data-spy="scroll" data-target="#navbar-profile" data-offset="50" class="scrollspy container-fluid scrollable-container">
                <div class="usser-row">
                    <h4 id="scroll-main" class="scrollspy-title">{{ 'General'|trans }}</h4>
                    <div class="row-fluid row-fluid-divider oro-form-contains-address">
                        <div class="form-horizontal span6 pull-right">
                            <h5 class="usser-fiedset"><span>{{ 'Address'|trans }}</span></h5>
                            {% for attr in contact.values %}
                                {% if attr.attribute.code == 'address' %}
                                    {% set address = attr.data %}
                                    <div class="control-group">
                                        <label class="control-label">{{ 'Street'|trans }}</label>
                                        <div class="controls">
                                            <div class="clearfix-oro">
                                                <p class="control-label">{{ address.street }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">{{ 'Street 2'|trans }}</label>
                                        <div class="controls">
                                            <div class="clearfix-oro">
                                                <p class="control-label">{{ address.street2|default('N/A') }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">{{ 'Country'|trans }}</label>
                                        <div class="controls">
                                            <div class="clearfix-oro">
                                                <p class="control-label">{{ address.country }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">{{ 'State'|trans }}</label>
                                        <div class="controls">
                                            <div class="clearfix-oro">
                                                <p class="control-label">{{ address.state.__toString }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">{{ 'Postal code'|trans }}</label>
                                        <div class="controls">
                                            <div class="clearfix-oro">
                                                <p class="control-label">{{ address.postalCode }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">{{ 'Mark'|trans }}</label>
                                        <div class="controls">
                                            <div class="clearfix-oro">
                                                <p class="control-label">{{ address.mark|default('N/A') }}</p>
                                            </div>
                                        </div>
                                    </div>

                                    {% for attr in address.values %}
                                    <div class="control-group">
                                        <label class="control-label">{{ attr.attribute.label|trans|title }}</label>
                                        <div class="controls">
                                            <div class="clearfix-oro">
                                                <p class="control-label">{{ attr.__toString|default('N/A') }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </div>

                        <div class="form-horizontal span6 pull-left">
                            <h5 class="usser-fiedset"><span>{{ 'Basic Information'|trans }}</span></h5>
                            {% for attr in contact.values %}
                                {% if attr.attribute.code != 'address' %}
                                <div class="control-group">
                                    <label class="control-label">{{ attr.attribute.label|trans|title }}</label>
                                    <div class="controls">
                                        <div class="clearfix-oro">
                                            <p class="control-label">{{ attr.__toString|default('N/A') }}</p>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
