{% import 'OroUIBundle::macros.html.twig' as ui %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}
{% import 'OroActivityBundle::macros.html.twig' as AC %}

<div class="widget-content form-horizontal box-content box-split-content row-fluid">
    <div class="responsive-block">
        {# Display contexts targets in the activity list item view #}
        {% if renderContexts is defined and renderContexts %}
            <div class="activity-context-activity-list">
                {{ AC.activity_contexts(entity, target, true) }}
            </div>
        {% endif %}
        {{ ui.renderProperty('orocrm.call.subject.label'|trans, entity.subject) }}
        {#{{ ui.renderProperty('orocrm.call.call_status.label'|trans, entity.callStatus ? entity.callStatus.label : null) }}#}
        {{ ui.renderSwitchableHtmlProperty('orocrm.call.notes.label'|trans, entity.notes) }}
        {{ ui.renderProperty('orocrm.call.call_date_time.label'|trans, entity.callDateTime|oro_format_datetime) }}
    </div>
    <div class="responsive-block">
        {{ ui.renderHtmlProperty('orocrm.call.phone_number.label'|trans, ui.renderPhoneWithActions(entity.phoneNumber, entity)) }}
        {{ ui.renderProperty('orocrm.call.direction.label'|trans, entity.direction ? entity.direction.label : null) }}
        {# Don't use time formatting here because it's a time interval #}
        {{ ui.renderProperty('orocrm.call.duration.label'|trans, entity.duration|oro_format_duration) }}
    </div>
    <div class="responsive-block">
        {{ entityConfig.renderDynamicFields(entity) }}
    </div>
</div>
