<div class="widget-content">
    {% if saved is defined and saved %}
        <script type="text/javascript">
            require(['underscore', 'orotranslation/js/translator', 'oroui/js/widget-manager',
                'oroui/js/messenger', 'oroui/js/mediator'],
            function(_, __, widgetManager, messenger, mediator) {
                widgetManager.getWidgetInstance({{ app.request.get('_wid')|json_encode|raw }}, function(widget) {
                    messenger.notificationFlashMessage('success', __('Call logged successfully'));
                    mediator.trigger('widget_success:' + widget.getAlias());
                    mediator.trigger('widget_success:' + widget.getWid());
                    widget.remove();
                });
            });
        </script>
    {% else %}
        {% if not form.vars.valid and form.vars.errors|length %}
            <div class="alert alert-error">
                <div class="message">
                    {{ form_errors(form) }}
                </div>
            </div>
        {% endif %}
        <div class="form-container">
            <form id="{{ form.vars.id }}" name="{{ form.vars.name }}" action="{{ formAction }}" method="post">
                <fieldset class="form form-horizontal">
                    <div class="span6">
                        {% if form.owner is defined %}{{ form_row(form.owner) }}{% endif %}
                        {{ form_row(form.subject) }}
                        {{ form_row(form.notes) }}
                    </div>
                    <div class="span6">
                        {{ form_row(form.callDateTime) }}
                        {{ form_row(form.phoneNumber) }}
                        {{ form_row(form.direction) }}
                        {{ form_row(form.duration) }}
                        <div class="hide">
                            {{ form_row(form.callStatus) }}
                        </div>
                    </div>
                    <div class="span6">
                        {{ form_rest(form) }}
                    </div>
                    <div class="span6">
                        {% placeholder call_log_widget_additional_properties with {entity: entity, form: form, formAction: formAction, saved: saved} %}
                    </div>
                    <div class="widget-actions form-actions">
                        <button class="btn" type="reset">{{ 'Cancel'|trans }}</button>
                        {% if form.vars.value.id %}
                        <button class="btn btn-primary" type="submit">{{ 'orocrm.call.update_log_call'|trans }}</button>
                        {% else %}
                        <button class="btn btn-primary" type="submit">{{ 'orocrm.call.log_call'|trans }}</button>
                        {% endif %}
                        {% placeholder call_log_widget_update_actions with {entity: entity, form: form, formAction: formAction, saved: saved} %}
                    </div>
                </fieldset>
            </form>
            {{ oro_form_js_validation(form) }}
        </div>
    {% endif %}
</div>
