<li>
    {{ 'oro.ui.created_at'|trans }}:
    {{ entity.createdAt ? entity.createdAt|oro_format_datetime : 'N/A'|trans }}
    {% if entity.createdBy %}
        {% if is_granted('oro_user_user_view') %}
            <a href="{{ path('oro_user_view', {'id': entity.createdBy.id}) }}">{{ entity.createdBy|oro_format_name }}</a>
        {% else %}
            {{ entity.createdBy|oro_format_name }}
        {% endif %}
    {% endif %}
</li>
<li>
    {{ 'oro.ui.updated_at'|trans }}:
    {{ entity.updatedAt ? entity.updatedAt|oro_format_datetime : 'N/A'|trans }}
    {% if entity.updatedBy %}
        {% if is_granted('oro_user_user_view') %}
            <a href="{{ path('oro_user_view', {'id': entity.updatedBy.id}) }}">{{ entity.updatedBy|oro_format_name }}</a>
        {% else %}
            {{ entity.updatedBy|oro_format_name }}
        {% endif %}
    {% endif %}
</li>
