{% extends bap.layout is defined ? bap.layout : 'OroUserBundle::layout.html.twig' %}
{% import 'OroUserBundle::macros.html.twig' as macros %}
{% set format = get_user_value('oro_user.name_format') %}
{% form_theme form with 'OroUIBundle:Form:fields.html.twig' %}

{% set title = form.vars.value.id ? form.vars.value.fullname(format)|default('N/A') ~ ' - ' ~ 'Edit profile'|trans : 'New profile'|trans %}
{% oro_title_set({params : {"%username%": form.vars.value.fullname(format)|default('N/A') }}) %}

{% block page_container %}
<div class="container-fluid">
    {% block content %}
    <form action="{{ form.vars.value.id ? path('oro_user_edit', { id: form.vars.value.id, back: app.request.get('back') }) : path('oro_user_create', { back: app.request.get('back') }) }}" {{ form_enctype(form) }} method="post">
        <div class="navigation clearfix navbar-extra navbar-extra-right">
            <div class="row">
                {% if form.vars.value.id %}
                <div class="pull-right">
                    <div class="pull-left switch" data-off="danger">
                        {{ form_widget(form.enabled) }}
                    </div>
                    <div class="btn-group icons-holder">
                        {% if resource_granted('oro_user_profile_remove') %}
                        <a href="{{ path('oro_user_remove', { id: form.vars.value.id }) }}" class="btn"><i class="icon-trash hide-text">{{ 'Remove'|trans }}</i></a>
                        {% endif %}
                    </div>
                </div>
                <div class="pull-left">
                    <div class="customer-info well-small">
                        <div class="visual"><img src="{{ form.vars.value.imagePath ? form.vars.value.imagePath | imagine_filter('avatar_med') : asset('bundles/oroui/img/info-usser.png') }}" alt="{{ form.vars.value.fullname(format) }}"/></div>
                        <div class="customer-content">
                            <div class="sub-title">{{ 'User'|trans }}</div>
                            <h1 class="usser-name">{{ form.vars.value.fullname(format)|default('N/A') }}</h1>
                            <ul class="inline">
                                <li>{{ 'Created'|trans }}: {{ form.vars.value.createdAt ? macros.time(form.vars.value.createdAt) : 'N/A' }}</li>
                                <li>{{ 'Updated'|trans }}: {{ form.vars.value.updatedAt ? macros.time(form.vars.value.updatedAt) : 'N/A' }}</li>
                                <li>{{ 'Last logged in'|trans }}: {{ form.vars.value.lastLogin ? macros.time(form.vars.value.lastLogin) : 'N/A' }}</li>
                                <li>{{ 'Login count'|trans }}: {{ form.vars.value.loginCount|default(0) }}</li>
                           </ul>
                       </div>
                   </div>
                </div>
                {% else %}
                <div class="pull-left">
                    <div class="customer-info well-small">
                        <div class="customer-content">
                            <h1 class="usser-name">{{ title }}</h1>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="layout-content">
            <div id="navbarExample" class="navbar navbar-static scrollspy-nav">
                <div class="navbar-inner">
                    <div class="container-fluid" style="width: auto;">
                        <ul class="nav">
                            <li class="active"><a href="#scroll-main">{{ 'Overview'|trans }}</a></li>
                            {#<li><a href="#scroll-attributes">{{ 'Additional data'|trans }}</a></li>#}

                            {% if form.groups is defined %}
                            <li><a href="#scroll-groups">{{ 'Groups'|trans }}</a></li>
                            {% endif %}

                            {% if form.rolesCollection is defined %}
                            <li><a href="#scroll-roles">{{ 'Roles'|trans }}</a></li>
                            {% endif %}

                            {% if form.attributes is defined %}
                            <li><a href="#scroll-attributes">{{ 'Additional data'|trans }}</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix-oro">
                <div class="customer-info-actions container-fluid well-small">
                    <div class="pull-right">
                        <a href="{{ app.request.get('back') ? app.request.get('back') : path('oro_user_index') }}" class="btn">{{ 'Cancel'|trans }}</a>
                        <button type="submit" class="btn btn-primary">{{ 'Save'|trans }}</button>
                    </div>
                    {% if form_errors(form) %}
                    <div class="pull-left alert alert-error">
                        <button class="close" type="button" data-dismiss="alert">×</button>
                        {{ form_errors(form) }}
                    </div>
                    {% endif %}
                </div>
                <div data-spy="scroll" data-target="#navbarExample" data-offset="50" class="scrollspy container-fluid">
                    <h4 id="scroll-main" class="scrollspy-title">{{ 'Overview'|trans }}</h4>
                    <div class="row-fluid">
                        <fieldset class="form-horizontal span6">
                            {{ form_row(form.username) }}
                            {% if form.plainPassword is defined %}
                                {{ form_row(form.plainPassword) }}
                            {% endif %}
                            {{ form_row(form.firstName) }}
                            {{ form_row(form.lastName) }}
                            {{ form_row(form.birthday) }}
                            {{ form_row(form.imageFile) }}
                        </fieldset>
                        <fieldset class="form-horizontal span6">
                            {{ form_row(form.email) }}

                            <div class="control-group">
                                <label for="selectAccountName" class="control-label">{{ 'Additional emails'|trans }}:</label>
                                <div class="controls">
                                    <div class="row-oro">
                                        <div id="email-fields-list" data-prototype="{{ macros.collection_prototype(form.emails)|escape }}">
                                            {% for emailField in form.emails.children %}
                                                {{ macros.collection_prototype(emailField) }}
                                            {% endfor %}
                                        </div>
                                        <a class="btn" href="javascript: void(0);" id="add-another-email">{{ 'Add another email'|trans }}</a>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    {% if form.groups is defined %}
                    <h4 id="scroll-groups" class="scrollspy-title">{{ 'Groups'|trans }}</h4>
                    <div class="row-fluid">
                        <fieldset class="form-horizontal">
                            {{ form_row(form.groups, { attr: { class: 'horizontal' } }) }}
                        </fieldset>
                    </div>
                    {% endif %}

                    {% if form.rolesCollection is defined %}
                    <h4 id="scroll-roles" class="scrollspy-title">{{ 'Roles'|trans }}</h4>
                    <div class="row-fluid">
                        <fieldset class="form-horizontal" id="roles-list">
                            {{ form_row(form.rolesCollection, { attr: { class: 'horizontal' } }) }}
                        </fieldset>
                    </div>
                    {% endif %}

                    {% if form.attributes is defined %}
                    <h4 id="scroll-attributes" class="scrollspy-title">{{ 'Additional data'|trans }}</h4>
                    <div class="row-fluid">
                        <fieldset class="form-horizontal" id="attributes-list">
                            {{ form_row(form.attributes) }}
                        </fieldset>
                    </div>
                    {% endif %}

                    <div class="hide">
                        {{ form_rest(form) }}
                    </div>
                </div>
            </div>
        </div>
    </form>
    {% endblock content %}
</div>
{% endblock %}

