{% extends bap.layout is defined ? bap.layout : 'OroUserBundle::layout.html.twig' %}
{% import 'OroUserBundle::macros.html.twig' as macros %}
{% form_theme form with 'OroUserBundle:Form:fields.html.twig' %}

{% set title = form.vars.value.id ? 'Edit profile' : 'Add profile' %}

{% block title %}{{ title }} - {{ parent() }}{% endblock %}

{% block content %}
<form action="{{ form.vars.value.id ? path('oro_user_edit', { id: form.vars.value.id }) : path('oro_user_create') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
    <fieldset>
        <legend>{{ title }}</legend>

        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.middlename) }}
        {{ form_row(form.birthday) }}
        {{ form_row(form.image) }}

        {% if form.enabled is defined %}
            {{ form_row(form.enabled) }}
        {% endif %}

        {% if form.groups is defined %}
            {{ form_row(form.groups) }}
        {% endif %}

        {% if form.rolesCollection is defined %}
            {{ form_row(form.rolesCollection) }}
        {% endif %}

        <br />
        <legend>Additional information</legend>

        <div class="control-group">
            <label class="control-label">Created at</label>
            <div class="controls">
                <span class="label">{{ form.vars.value.createdAt ? macros.time(form.vars.value.createdAt) : 'N/A' }}</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Updated at</label>
            <div class="controls">
                <span class="label">{{ form.vars.value.updatedAt ? macros.time(form.vars.value.updatedAt) : 'N/A' }}</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Last login</label>
            <div class="controls">
                <span class="label">{{ form.vars.value.lastLogin ? macros.time(form.vars.value.lastLogin) : 'N/A' }}</span>
            </div>
        </div>

        <div>
            {{ form_rest(form) }}
        </div>
        <div class="form-row">
            <button class="btn btn-large btn-primary" type="submit">Save</button>
        </div>
    </fieldset>
</form>
{% endblock %}
