{% extends bap.layout is defined ? bap.layout : 'OroUserBundle::layout.html.twig' %}

{% block title %}{{ user.username }} - {{ 'profile'|trans }} - {{ parent() }}{% endblock %}

{% block content %}
<div>
    <p>{{ 'Username'|trans }}: {{ user.username }}</p>
    <p>{{ 'Email'|trans }}: {{ user.email }}</p>
</div>
{% endblock content %}
