{% extends 'OroUIBundle:actions:update.html.twig' %}
{% import 'OroCRMChannelBundle::macros.html.twig' as channelMacro %}

{% set entity = form.vars.value %}
{% set formAction = entity.id ? path('orocrm_channel_update', { id: entity.id }) : path('orocrm_channel_create') %}

{% if entity.id %}
    {% oro_title_set({params : {"%channel.name%": entity.name } }) %}
{% endif %}

{% block pageHeader %}
    {% if entity.id %}
        {% set breadcrumbs = {
            'entity':      entity,
            'indexPath':   path('orocrm_channel_index'),
            'indexLabel':  'orocrm.channel.entity_plural_label'|trans,
            'entityTitle': entity.name|default('N/A')
        } %}
        {{ parent() }}
    {% else %}
        {% set title = 'oro.ui.create_entity'|trans({'%entityName%': 'orocrm.channel.entity_label'|trans}) %}
        {% include 'OroUIBundle::page_title_block.html.twig' with { title: title }%}
    {% endif %}
{% endblock pageHeader %}

{% block navButtons %}
    {% if entity.id and resource_granted('EDIT', entity) %}
        {% if entity.status %}
            {{ UI.button({
                'aCss':  'btn-danger',
                'iCss':  'icon-remove',
                'label': 'orocrm.channel.button.deactivate.label'|trans,
                'path':  path('orocrm_channel_change_status', {'id' : entity.id}),
                'title': 'orocrm.channel.button.deactivate.label'|trans,
            }) }}
        {% else %}
            {{ UI.button({
                'aCss':  'btn-success',
                'iCss':  'icon-ok',
                'label': 'orocrm.channel.button.activate.label'|trans,
                'path':  path('orocrm_channel_change_status', {'id' : entity.id}),
                'title': 'orocrm.channel.button.activate.label'|trans,
            }) }}
        {% endif %}

        {{ UI.buttonSeparator() }}
    {% endif %}

    {% if entity.id and resource_granted('DELETE', entity) %}
        {{ UI.deleteButton({
            'dataUrl': path('orocrm_api_delete_channel', {'id': entity.id}),
            'dataRedirect': path('orocrm_channel_index'),
            'aCss': 'no-hash remove-button',
            'id': 'btn-remove-channel',
            'dataId': entity.id,
            'entity_label': 'orocrm.channel.entity_label'|trans,
        }) }}
        {{ UI.buttonSeparator() }}
    {% endif %}

    {{ UI.cancelButton(path('orocrm_channel_index')) }}

    {% set html = UI.saveAndCloseButton() %}
    {% if form.vars.value.id or resource_granted('orocrm_channel_update') %}
        {% set html = html ~ UI.saveAndStayButton() %}
    {% endif %}
    {{ UI.dropdownSaveButton({'html': html}) }}
{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <div class="pull-left">
        {% if entity.status %}
            <div class="badge badge-enabled status-enabled">
                <i class="icon-status-enabled icon-circle"></i>{{ 'orocrm.channel.active.label'|trans }}</div>
        {% else %}
            <div class="badge badge-disabled status-disabled">
                <i class="icon-status-disabled icon-circle"></i>{{ 'orocrm.channel.inactive.label'|trans }}</div>
        {% endif %}
    </div>
{% endblock breadcrumbs %}

{% block content_data %}
    {% set id = 'channel-update' %}
    {% set dataBlocks = [
        {
            'title': 'General'|trans,
            'subblocks': [{
                'title': '',
                'data':  [
                    form_row(form.name),
                    form_row(form.channelType),
                    form_row(form.status),
                    form.dataSource is defined ? form_row(form.dataSource) : '',
                ]
            }]
        }
    ] %}

    {% if form.vars.value.entities|length > 0 %}
        {% set dataBlocks = dataBlocks|merge([{
            'title': 'Entities'|trans,
            'subblocks': [{
                'title': '',
                'data':  [ form_row(form.entities) ]
            }]
        }]) %}
    {% endif %}

    {% set additional %}{% placeholder orocrm_channel_additional_block with {entity: entity, form: form} %}{% endset %}
    {% if additional|trim %}
        {% set dataBlocks = dataBlocks|merge([{
            'title': 'Additional'|trans,
            'subblocks': [{
                'title': '',
                'data':  [ additional ]
            }]
        }]) %}
    {% endif %}

    {% set data = {
        'formErrors': form_errors(form)? form_errors(form) : null,
        'dataBlocks': dataBlocks,
    } %}

    {{ parent() }}

    {{ channelMacro.initializeChannelForm(form, orocrm_channel_entities_metadata(), entity.customerIdentity) }}
{% endblock %}
