{% block _oro_integration_channel_form_transport_check_widget %}
    <div class="control-group">
        <div class="controls">
            {{ form_widget(form, {attr: {class: 'btn btn-primary' }}) }}
            <script type="text/javascript">
                require(['orocrm/magento/soap-checker'], function (SoapChecker) {
                    "use strict";

                    new SoapChecker({
                        el:                     '#{{ form.vars.id }}',
                        transportEntityId:      {{ form.parent.vars.value ? form.parent.vars.value.id|json_encode|raw : 'null' }},
                        websiteSelectEl:        '#{{ form.parent.websiteId.vars.id }}',
                        websitesListEl:         '#{{ form.parent.websites.vars.id }}',
                        isExtensionInstalledEl: '#{{ form.parent.isExtensionInstalled.vars.id }}'
                    });
                });
            </script>
        </div>
    </div>
{% endblock %}