{% extends "OroWorkflowBundle:WorkflowStep:edit.html.twig" %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}
{% import 'OroEmailBundle::macros.html.twig' as Email %}

{% oro_title_set({
    params : {
        '%section%': 'orocrm.magento.cart.entity_plural_label'|trans,
        '%entity%':  'orocrm.magento.cart.entity_label'|trans ~ ' ' ~  workflowItem.data.shopping_cart.id,
        '%workflow_data%': workflow.label ~ ' (' ~ currentStep.label ~ ')',
    }
}) %}

{% block breadcrumb %}
    {% set breadcrumbs = [
        {label: 'Customers'|trans},
        {label: 'Сhanells'|trans},
        {label: 'Magento Сarts'|trans}
    ] %}
    {{ parent() }}
{% endblock %}

{% block workflow_title %}
    {% set titleParts = {
        'indexPath':   path('orocrm_magento_cart_index', {id: workflowItem.data.shopping_cart.channel.id}),
        'indexLabel': 'orocrm.magento.cart.entity_plural_label'|trans,
        'additional': [
            {
                'indexPath': path('orocrm_magento_cart_view', {id: workflowItem.data.shopping_cart.id}),
                'indexLabel': 'orocrm.magento.cart.entity_label'|trans ~ ' ' ~ workflowItem.data.shopping_cart.id
            }
        ],
        'entityTitle': workflow.label ~ ' (' ~ currentStep.label ~ ')'
    } %}
    {{ parent() }}
{% endblock %}

{% block workflow_entities %}
    <div class="clearfix">
        <div class="responsive-cell contact-info-col">
            {{
                oro_widget_render({
                    'widgetType': 'block',
                    'url': path('orocrm_magento_cart_widget_info', { id: workflowItem.data.shopping_cart.id }),
                    'title': 'Cart Information'|trans,
                    'alias': 'shopping_cart_info',
                    'contentClasses': ['form-horizontal']
                })
            }}

            {%- if resource_granted('orocrm_magento_cart_view') -%}
                <script type="text/javascript">
                    require(['jquery', 'oro/widget-manager', 'oro/navigation'],
                    function($, widgetManager, Navigation){
                        widgetManager.getWidgetInstanceByAlias('shopping_cart_info', function(widget) {
                            var viewLink = $('<a href="{{ path('orocrm_magento_cart_view', {id:  workflowItem.data.shopping_cart.id}) }}" class="btn btn-small">{{ 'View'|trans }}</a>');
                            Navigation.getInstance().processClicks(viewLink);
                            widget.addAction('view', 'default', viewLink);
                        });
                    });
                </script>
            {% endif %}
        </div>
    </div>

    {% if workflowItem.data.shopping_cart.customer %}
        <div class="clearfix">
            <div class="responsive-cell contact-info-col">
                {{
                    oro_widget_render({
                        'widgetType': 'block',
                        'url': path('orocrm_magento_customer_info', {id: workflowItem.data.shopping_cart.customer.id}),
                        'title': 'Customer Information'|trans,
                        'alias': 'cart_customer_info'
                    })
                }}

                {%- if resource_granted('orocrm_magento_customer_view') -%}
                    <script type="text/javascript">
                        require(['jquery', 'oro/widget-manager', 'oro/navigation'],
                        function($, widgetManager, Navigation){
                            widgetManager.getWidgetInstanceByAlias('cart_customer_info', function(widget) {
                                var viewLink = $('<a href="{{ path('orocrm_magento_customer_view', {id:  workflowItem.data.shopping_cart.customer.id}) }}" class="btn btn-small">{{ 'View'|trans }}</a>');
                                Navigation.getInstance().processClicks(viewLink);
                                widget.addAction('view', 'default', viewLink);
                            });
                        });
                    </script>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block workflow_toolbox %}
    <style type="text/css">
        .workflow-data .box-type1 .grid {
            background-color: white;
        }
    </style>
    <div class="container-fluid" style="padding: 20px;">
    {% if resource_granted('oro_email_view') %}
        <div class="clearfix">
            <div class="responsive-cell contact-info-col">
                <div class="box-type1">
                    <div class="title">
                        <span class="widget-title">{{ 'Emails'|trans }}</span>
                    </div>
                    <div class="row-fluid">
                        {% if workflowItem.data.email_collection is defined %}
                            <table class="grid table-hover table table-bordered table-condensed">
                                <thead>
                                <tr>
                                    <th style="width: 30%">
                                        <span>{{ 'Subject'|trans }}</span></span>
                                    </th>
                                    <th>
                                        <span>{{ 'Recipient'|trans }}</span>
                                    </th>
                                    <th class="descending" style="width: 30%">
                                        <span>{{ 'Sent'|trans }}</span> &nbsp; <span class="caret"></span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for email in workflowItem.data.email_collection|reverse %}
                                    <tr>
                                        <td>
                                            {{ oro_workflow_render_view_attribute_value(workflowItem, {'path': email, 'view_type': 'email', 'label': 'Email info'}) }}
                                        </td>
                                        <td>
                                            {% set recipients = [] %}
                                            {% for recipient in email.recipients %}
                                                {% set recipients = recipients|merge([recipient.emailAddress.email]) %}
                                            {% endfor %}
                                            {{ recipients|join(', ') }}
                                        </td>
                                        <td>{{ email.sentAt|oro_format_datetime }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <div class="no-data">
                                <span>{{ 'No emails were sent'|trans }}</span>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if resource_granted('orocrm_call_view') %}
        <div class="clearfix">
            <div class="responsive-cell contact-info-col">
                <div class="box-type1">
                    <div class="title">
                        <span class="widget-title">{{ 'Calls'|trans }}</span>
                    </div>
                    <div class="row-fluid">
                        {% if workflowItem.data.call_collection is defined %}
                        <table class="grid table-hover table table-bordered table-condensed">
                            <thead>
                            <tr>
                                <th style="width: 30%">
                                    <span>{{ 'Subject'|trans }}</span></span>
                                </th>
                                <th>
                                    <span>{{ 'Phone'|trans }}</span>
                                </th>
                                <th class="descending" style="width: 30%">
                                    <span>{{ 'Call date'|trans }}</span> &nbsp; <span class="caret"></span>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for call in workflowItem.data.call_collection|reverse %}
                                    <tr>
                                        <td>
                                            {{ oro_workflow_render_view_attribute_value(workflowItem, {'path': call, 'view_type': 'call', 'label': 'Call info'}) }}
                                        </td>
                                        <td>{{ call.phoneNumber }}</td>
                                        <td>{{ call.callDateTime|oro_format_datetime }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <div class="no-data">
                            <span>{{ 'No calls were logged'|trans }}</span>
                        </div>
                        {% endif %}
                    </div>
                </div>
             </div>
        </div>
    {% endif %}
    </div>
{% endblock %}
