<li>
    {{ 'Created'|trans }}:
    {{ entity.createdAt ? Locale.time(entity.createdAt) : 'N/A'|trans }}
    {% if entity.createdBy %}
        {% if resource_granted('oro_user_user_view') %}
         <a href="{{ path('oro_user_view', {'id': entity.createdBy.id}) }}">{{ entity.createdBy.fullname }}</a>
        {% else %}
            {{ entity.createdBy.fullname }}
        {% endif %}
    {% endif %}
</li>
<li>
    {{ 'Updated'|trans }}:
    {{ entity.updatedAt ? Locale.time(entity.updatedAt) : 'N/A'|trans }}
    {% if entity.updatedBy %}
        {% if resource_granted('oro_user_user_view') %}
            <a href="{{ path('oro_user_view', {'id': entity.updatedBy.id}) }}">{{ entity.updatedBy.fullname }}</a>
        {% else %}
            {{ entity.updatedBy.fullname }}
        {% endif %}
    {% endif %}
</li>
