{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroTagBundle::macros.html.twig' as _tag %}
{% import 'OroUIBundle::macros.html.twig' as macros %}
{% set format = oro_config_value('oro_crm_contact.name_format') %}
{% set fullname = entity.fullname(format)|default('N/A'|trans) %}
{% oro_title_set({params : {"%contact.name%": fullname} }) %}
{% set gridId = 'accounts-grid' %}
{% block head_script %}
    {{ parent() }}
    {% placeholder prepare_grid with {'datagrid': datagrid, 'selector': '#' ~ gridId} %}
{% endblock %}

{% block navButtons %}
    {% if resource_granted('orocrm_contact_update') %}
        {{ UI.button({'path' : path('orocrm_contact_update', { 'id': entity.id }), 'iClass' : 'icon-edit ', 'title' : 'Update contact', 'label' : 'Edit'}) }}
    {% endif %}
    {% if resource_granted('orocrm_contact_delete') %}
        {{ UI.deleteButton({
                'dataUrl': path('oro_api_delete_contact', {'id': entity.id}) ,
                'dataRedirect': path('orocrm_contact_index'),
                'aCss': 'no-hash remove-button',
                'id': 'btn-remove-contact',
                'dataId': entity.id,
                'dataMessage': 'Are you sure you want to delete this contact?',
                'title': 'Delete Contact',
                'label': 'Delete'
            })
        }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {'entity': entity, 'indexPath': path('orocrm_contact_index'), 'indexLabel': 'Contacts', 'entityTitle': fullname } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block stats %}
    {% include 'OroCRMContactBundle:Contact:headerStats.html.twig' with {'entity': entity} %}
{% endblock stats %}

{% block pageActions %}
    {{ parent() }}
    <div class="pull-right user-info-state">
        <ul class="inline-decorate">
            <li>
                {{ 'Owner'|trans }}:
                {% if entity.owner %}
                    {% if resource_granted('oro_user_user_view') %}
                        <a href="{{ path('oro_user_view', {'id': entity.owner.id}) }}">{{ entity.owner.fullname }}</a>
                    {% else %}
                        {{ entity.owner.fullname }}
                    {% endif %}
                {% else %}
                    {{ 'N/A'|trans  }}
                {% endif %}
            </li>
        </ul>
    </div>
{% endblock pageActions %}

{% block content_data %}
    <div class="well-small form-horizontal dark-bg">
        <div class="clearfix">
            <div class="row-fluid well-small-bottom">
                <div class="span6">
                    {{
                        oro_widget_render({
                            'widgetType': 'block',
                            'url': path('orocrm_contact_info', {id: entity.id}),
                            'title': 'Contact Information'
                        })
                    }}
                </div>
                <div class="span6">
                    {{
                        oro_widget_render({
                            'widgetType': 'block',
                            'contentClasses': [],
                            'url': path('orocrm_contact_address_book', {id: entity.id}),
                            'title': 'Address Book'
                        })
                    }}
                </div>
            </div>
        </div>
    </div>
{% endblock content_data %}
