{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroTagBundle::macros.html.twig' as _tag %}
{% import 'OroUIBundle::macros.html.twig' as macros %}

{% set fullname = entity|oro_format_name|default('N/A'|trans) %}
{% oro_title_set({params : {"%contact.name%": fullname} }) %}
{% set audit_entity_class = 'OroCRM_Bundle_ContactBundle_Entity_Contact' %}

{% block navButtons %}
    {% if resource_granted('oro_email_create') %}
        {{ UI.clientButton({
            'dataUrl': path('orocrm_contact_email_create', { 'contactId': entity.id }) ,
            'aCss': 'no-hash view-email-button',
            'iCss': 'icon-envelope',
            'dataId': entity.id,
            'title' : 'Send email'|trans,
            'label' : 'Send email'|trans
        }) }}
    {% endif %}
    {% if resource_granted('orocrm_call_create') %}
        {{ UI.clientButton({
            'dataUrl': path('orocrm_call_create', { 'contactId': entity.id }) ,
            'aCss': 'no-hash log-call-button',
            'iCss': 'icon-phone',
            'dataId': entity.id,
            'title' : 'Log call'|trans,
            'label' : 'Log call'|trans
        }) }}
    {% endif %}
    {% if resource_granted('orocrm_contact_update') %}
        {{ UI.editButton({
            'path' : path('orocrm_contact_update', { 'id': entity.id }),
            'entity_label': 'orocrm.contact.entity_label'|trans
        }) }}
    {% endif %}
    {% if resource_granted('orocrm_contact_delete') %}
        {{ UI.deleteButton({
                'dataUrl': path('oro_api_delete_contact', {'id': entity.id}) ,
                'dataRedirect': path('orocrm_contact_index'),
                'aCss': 'no-hash remove-button',
                'id': 'btn-remove-contact',
                'dataId': entity.id,
                'entity_label': 'orocrm.contact.entity_label'|trans,
        }) }}
    {% endif %}

    {# Open dialog to log a call #}
    <script type="text/javascript">
        require(['jquery', 'underscore', 'oro/dialog-widget', 'oro/widget-manager'],
        function($, _, DialogWidget, WidgetManager) {
            'use strict';
            $(function () {
                $(document).on('click', '.log-call-button', function (e) {
                    var element = $(this);
                    var url = element.data('url');
                    if (_.isUndefined(url)) {
                        url = element.attr('href');
                    }

                    // only one instance of widget is allowed
                    if (element.data('widget-opened')) {
                        return;
                    } else {
                        element.data('widget-opened', true);
                    }

                    // create and open widget
                    var widget = new DialogWidget({
                        url: url,
                        dialogOptions: {
                            allowMaximize: true,
                            allowMinimize: true,
                            dblclick: 'maximize',
                            maximizedHeightDecreaseBy: 'minimize-bar',
                            width: 1000,
                            title: element.attr('title')
                        }
                    });

                    // reload widget with list of contact calls
                    widget.on('contactCallLogged', function() {
                        WidgetManager.getWidgetInstanceByAlias('contact_calls', function(contactCallsWidget) {
                            contactCallsWidget.loadContent();
                        });
                    });

                    widget.on('widgetRemove', function() {
                        element.data('widget-opened', false);
                    });

                    widget.render();

                    e.preventDefault();
                });
            });
        });
    </script>
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('orocrm_contact_index'),
        'indexLabel': 'orocrm.contact.entity_plural_label'|trans,
        'entityTitle': fullname
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block stats %}
    {% include 'OroCRMContactBundle:Contact:headerStats.html.twig' with {'entity': entity} %}
{% endblock stats %}

{% block content_data %}
    <div class="contact-info-col-set well-small dark-bg">
        <div class="clearfix">
            <div class="responsive-cell contact-info-col">
                {{
                    oro_widget_render({
                        'widgetType': 'block',
                        'url': path('orocrm_contact_info', {id: entity.id}),
                        'title': 'Contact Information'|trans
                    })
                }}
            </div>
            <div class="responsive-cell contact-info-col">
                {{
                    oro_widget_render({
                        'widgetType': 'block',
                        'contentClasses': [],
                        'url': path('orocrm_contact_address_book', {id: entity.id}),
                        'title': 'Address Book'|trans
                    })
                }}
            </div>

            {% if resource_granted('oro_email_view') %}
                <div class="responsive-cell contact-info-col">
                    {{
                        oro_widget_render({
                            'widgetType': 'block',
                            'url': path('orocrm_contact_widget_email', {contactId: entity.id}),
                            'title': 'Emails'|trans,
                            'alias': 'contact_emails'
                        })
                    }}
                </div>
            {% endif %}

            {% if resource_granted('orocrm_call_view') %}
                <div class="responsive-cell contact-info-col">
                    {{
                        oro_widget_render({
                            'widgetType': 'block',
                            'url': path('orocrm_call_widget_calls', {contactId: entity.id}),
                            'title': 'orocrm.call.entity_plural_label'|trans,
                            'alias': 'contact_calls'
                        })
                    }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content_data %}
