<div class="responsive-cell clearfix">
    <div class="span6">
        <h4>{{ 'oro.analytics.form.rfm_setting.title'|trans }}</h4>
        <div class="rfm-settings rfm-enabled">
            <div class="rfm-settings-data">
                {% if rfmCategoriesCount > 1 %}
                <table class="grid grid-main-container table-hover table table-bordered table-condensed">
                    <thead>
                    <tr>
                        <th><label>{{ 'oro.analytics.form.score.title'|trans }}</label></th>
                        <th>
                            <label>{{ 'oro.analytics.form.recency.label'|trans }}</label>
                            {{ 'oro.analytics.form.hint.recency'|trans }}
                        </th>
                        <th>
                            <label>{{ 'oro.analytics.form.frequency.label'|trans }}</label>
                            {{ 'oro.analytics.form.hint.frequency'|trans }}
                        </th>
                        <th>
                            <label>{{ 'oro.analytics.form.monetary.label'|trans }}</label>
                            {{ 'oro.analytics.form.hint.monetary'|trans }}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="rfm-cell-index">1
                                <br><small>{{ 'oro.analytics.best'|trans }}</small>
                            </td>
                            <td class="rfm-cell-recency">
                                <span>{{ 'oro.analytics.less'|trans }} </span>
                                <strong>{{ rfmCategories.recency[0].maxValue }}</strong>
                            </td>
                            <td class="rfm-cell-frequency">
                                <span>{{ 'oro.analytics.more'|trans }} </span>
                                <strong>{{ rfmCategories.frequency[0].minValue }}</strong>
                            <td class="rfm-cell-monetary">
                                <span>{{ 'oro.analytics.more'|trans }} </span>
                                <strong>{{ rfmCategories.monetary[0].minValue }}</strong>
                            </td>
                        </tr>

                        {% if rfmCategoriesCount > 2 %}
                            {% for rfmCategory in rfmCategories.recency|slice(1, -1) %}
                                <tr>
                                    <td class="rfm-cell-index">{{ loop.index + 1 }}</td>
                                    <td class="rfm-cell-recency">
                                        <span>{{ 'oro.analytics.from'|trans }}</span>
                                        <strong>{{ rfmCategories.recency[loop.index].minValue }}</strong>
                                        <br><span>{{ 'oro.analytics.to'|trans }}</span>
                                        <strong>{{ rfmCategories.recency[loop.index].maxValue }}</strong>
                                    </td>
                                    <td class="rfm-cell-frequency">
                                        <span>{{ 'oro.analytics.from'|trans }}</span>
                                        <strong>{{ rfmCategories.frequency[loop.index].minValue }}</strong>
                                        <br><span>{{ 'oro.analytics.to'|trans }}</span>
                                        <strong>{{ rfmCategories.frequency[loop.index].maxValue }}</strong>
                                    <td class="rfm-cell-monetary">
                                        <span>{{ 'oro.analytics.from'|trans }}</span>
                                        <strong>{{ rfmCategories.monetary[loop.index].minValue }}</strong>
                                        <br><span>{{ 'oro.analytics.to'|trans }}</span>
                                        <strong>{{ rfmCategories.monetary[loop.index].maxValue }}</strong>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}

                        <tr>
                            <td class="rfm-cell-index">{{ rfmCategoriesCount }}
                                <br><small>{{ 'oro.analytics.worst'|trans }}</small>
                            </td>
                            <td class="rfm-cell-recency">
                                <span>{{ 'oro.analytics.more'|trans }} </span>
                                <strong>{{ rfmCategories.recency[rfmCategoriesCount - 1].minValue }}</strong>
                            </td>
                            <td class="rfm-cell-frequency">
                                <span>{{ 'oro.analytics.less'|trans }} </span>
                                <strong>{{ rfmCategories.frequency[rfmCategoriesCount - 1].maxValue }}</strong>
                            <td class="rfm-cell-monetary">
                                <span>{{ 'oro.analytics.less'|trans }} </span>
                                <strong>{{ rfmCategories.monetary[rfmCategoriesCount - 1].maxValue }}</strong>
                            </td>
                        </tr>
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
    </div>
</div>
