{% block orocrm_channel_form_widget %}
    {{ form_row(form.name) }}

    {{ form_row(form.channelType) }}

    {% if form.entities is defined %}
        {{ form_row(form.entities) }}
    {% endif %}

    {% if form.dataSource is defined %}
        {{ form_row(form.dataSource) }}
    {% endif %}

    {% if form.customerIdentity is defined %}
        {{ form_row(form.customerIdentity) }}
    {% endif %}

    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}

{% block orocrm_channel_datasource_form_row %}
    {{ block('form_row') }}
{% endblock %}

{% block orocrm_channel_datasource_form_widget %}
    {% set containerElementId = form.vars.id ~ '-el' %}

    <div id="{{ containerElementId }}"></div>
    {{ form_widget(form) }}

    <script type="text/javascript">
        require(['jquery', 'orocrmchannel/js/integration-widget-handler'],
        function ($, IntegrationWidgetHandlerView) {
            var view = new IntegrationWidgetHandlerView({
                el: {{ ('#' ~ containerElementId)|json_encode|raw }},
                idEl: {{ ('#' ~ form.identifier.vars.id)|json_encode|raw }},
                dataEl: {{ ('#' ~ form.data.vars.id)|json_encode|raw }},
                typeEl: {{ ('#' ~ form.type.vars.id)|json_encode|raw }},
                nameEl: {{ ('#' ~ form.name.vars.id)|json_encode|raw }}
            });
            view.render();
        });
    </script>
{% endblock %}
