{% block orocrm_channel_datasource_form_row %}
    {{ block('form_row') }}
{% endblock %}

{% block orocrm_channel_datasource_form_widget %}
    {% set attr = attr|merge({'class': (attr.class is defined ? attr.class ~ ' ' : '') ~ 'orocrm-channel-datasource-field' }) %}
    {{ form_widget(form, { 'attr': attr }) }}

    {% set options = {
        el:             '#' ~ form.vars.id,
        idEl:           '#' ~ form.identifier.vars.id,
        dataEl:         '#' ~ form.data.vars.id,
        typeEl:         '#' ~ form.type.vars.id,
        nameEl:         '#' ~ form.name.vars.id,
        channelNameEl:  '#' ~ form.parent.name.vars.id
    } %}

    <div data-page-component-module="orocrmchannel/js/app/components/integration-widget"
         data-page-component-options="{{ options|json_encode }}"></div>
{% endblock %}

{% block orocrm_channel_entity_choice_form_row %}
    {{ form_row(form) }}
{% endblock %}

{% block _orocrm_channel_form_channelType_widget %}
    {% if form.vars.disabled %}
        {% for choice in choices %}
            {% if choice is selectedchoice(value) %}
                <span class="inline-text" id="{{ form.vars.id }}" data-value="{{ form.vars.value }}" data-disabled>{{ choice.label|trans }}</span>
            {% endif %}
        {% endfor %}
    {% else %}
        {{ form_widget(form) }}
    {% endif %}
{% endblock %}

{% block oro_multiple_entity_js_channel_aware %}
    var $channelSelector = $('select[name="' + {{ channel_field_name|json_encode|raw }} + '"]'),
        presetChannelId = {{ channel_id|json_encode|raw }},
        changeHandler = function($el) {
            var channelIds = [$el.val()];

            if (presetChannelId) {
                channelIds.push(presetChannelId);
            }

            widget.options.selectionRouteParams.channelIds = channelIds.join(',');
        };

        $channelSelector.change(function() {
            changeHandler($(this));
            widget.removeAll();
        });
        changeHandler($channelSelector);
{% endblock %}

{% block oro_entity_create_or_select_inline_js_autocomplete_channel_aware %}
    {{ block('oro_entity_create_or_select_inline_js_channel_aware') }}
{% endblock %}

{% block oro_entity_create_or_select_inline_js_grid_channel_aware %}
    {{ block('oro_entity_create_or_select_inline_js_channel_aware') }}
{% endblock %}

{% block oro_entity_create_or_select_inline_js_channel_aware %}
    <script type="text/javascript">
        require(['jquery', 'oroform/js/select-create-inline-type-handler'],
        function ($, handler) {
            $(function() {
                var presetChannelId = {{ channel_id|json_encode|raw }};
                var $formEl = $('#{{ id }}');
                var $formElContainer = $('#{{ id }}-el');

                {% set urlParts = {
                    grid: {
                        route: 'oro_datagrid_widget',
                        parameters: {
                            gridName     : form.vars.grid_name,
                            params       : form.vars.grid_parameters,
                            renderParams : form.vars.grid_render_parameters
                        }
                    }
                } %}

                {% if form.vars.create_enabled|default(false) is sameas(true) %}
                {% set urlParts = urlParts|merge({
                    create: {
                        route:      form.vars.create_form_route,
                        parameters: form.vars.create_form_route_parameters
                    }
                }) %}
                {% endif %}

                var configurator = handler(
                    $formElContainer,
                    $formEl,
                    {{ label|trans|json_encode|raw }},
                    {{ urlParts|json_encode(constant('JSON_FORCE_OBJECT'))|raw }},
                    {{ form.vars.existing_entity_grid_id|default('id')|json_encode|raw }},
                    {{ form.vars.create_enabled|default(false)|json_encode|raw }}
                ),
                changeHandler = function($el) {
                    var parts = configurator.getUrlParts(),
                        channelIds = [],
                        currentVal = $el.val();

                    if (currentVal) {
                        channelIds.push(currentVal);
                    }
                    if (presetChannelId) {
                        channelIds.push(presetChannelId);
                    }

                    if ({{ form.vars.channel_required|json_encode|raw }}) {
                        var disallowEdit = !channelIds.length;
                        $formElContainer.find('button').prop('disabled', disallowEdit);
                        $formEl.select2("readonly", disallowEdit);
                    }

                    parts.grid.parameters.params.channelIds = channelIds.join(',');
                    var channelId = presetChannelId || $el.val();
                    if (parts.hasOwnProperty('create') && channelId) {
                        parts.create.parameters.channelId = channelId;
                    }
                },
                $channelSelector = $('select[name="' + {{ channel_field_name|json_encode|raw }} + '"]');

                $channelSelector.change(function() {
                    changeHandler($(this));
                    configurator.setSelection(null);
                });
                changeHandler($channelSelector);
            });
        });
    </script>
{% endblock %}
