{% block orocrm_channel_datasource_form_row %}
    {{ block('form_row') }}
{% endblock %}

{% block orocrm_channel_datasource_form_widget %}
    {% set containerElementId = form.vars.id ~ '-el' %}

    <div id="{{ containerElementId }}"></div>
    {{ form_widget(form) }}

    <script type="text/javascript">
        require(['jquery', 'orocrmchannel/js/integration-widget-handler'],
        function ($, IntegrationWidgetHandlerView) {
            var view = new IntegrationWidgetHandlerView({
                el: {{ ('#' ~ containerElementId)|json_encode|raw }},
                idEl: {{ ('#' ~ form.identifier.vars.id)|json_encode|raw }},
                dataEl: {{ ('#' ~ form.data.vars.id)|json_encode|raw }},
                typeEl: {{ ('#' ~ form.type.vars.id)|json_encode|raw }},
                nameEl: {{ ('#' ~ form.name.vars.id)|json_encode|raw }}
            });
            view.render();
        });
    </script>
{% endblock %}

{% block orocrm_channel_entity_choice_form_widget %}
    {{ form_widget(form) }}
{% endblock %}
