{% block orocrm_channel_datasource_form_row %}
    {{ block('form_row') }}
{% endblock %}

{% block orocrm_channel_datasource_form_widget %}
    {% set attr = attr|merge({'class': (attr.class is defined ? attr.class ~ ' ' : '') ~ 'orocrm-channel-datasource-field' }) %}
    {{ form_widget(form, { 'attr': attr }) }}

    {% set options = {
        el:             '#' ~ form.vars.id,
        idEl:           '#' ~ form.identifier.vars.id,
        dataEl:         '#' ~ form.data.vars.id,
        typeEl:         '#' ~ form.type.vars.id,
        nameEl:         '#' ~ form.name.vars.id,
        channelNameEl:  '#' ~ form.parent.name.vars.id
    } %}

    <div data-page-component-module="orocrmchannel/js/app/components/integration-widget"
         data-page-component-options="{{ options|json_encode }}"></div>
{% endblock %}

{% block orocrm_channel_entity_choice_form_row %}
    {{ form_row(form) }}
{% endblock %}

{% block _orocrm_channel_form_channelType_widget %}
    {% if form.vars.disabled %}
        {% for choice in choices %}
            {% if choice is selectedchoice(value) %}
                <span class="inline-text" id="{{ form.vars.id }}" data-value="{{ form.vars.value }}" data-disabled>{{ choice.label|trans }}</span>
            {% endif %}
        {% endfor %}
    {% else %}
        {{ form_widget(form) }}
    {% endif %}
{% endblock %}
