{% block orocrm_channel_datasource_form_row %}
    {{ block('form_row') }}
{% endblock %}

{% block orocrm_channel_datasource_form_widget %}
    {{ form_widget(form) }}

    {% set options = {
        idEl:   '#' ~ form.identifier.vars.id,
        dataEl: '#' ~ form.data.vars.id,
        typeEl: '#' ~ form.type.vars.id,
        nameEl: '#' ~ form.name.vars.id,
    } %}

    <div data-page-component-module="orocrmchannel/js/app/components/integration-widget"
         data-page-component-options="{{ options|json_encode }}"></div>
{% endblock %}

{% block orocrm_channel_entity_choice_form_row %}
    {{ form_row(form) }}
{% endblock %}

{% block _orocrm_channel_form_customerIdentity_widget %}
    {% if form.parent.vars.value.id %}
        {% set metadata = orocrm_channel_entities_metadata() %}
        <label class="control-label">{{ metadata[form.vars.value]['label'] }}</label>
    {% else %}
        {{ form_widget(form) }}
    {% endif %}
{% endblock %}

{% block _orocrm_channel_form_channelType_widget %}
    {% if form.parent.vars.value.id %}
        {% for choice in choices %}
            {% if choice is selectedchoice(value) %}
                <label class="control-label">{{ choice.label|trans({}, translation_domain) }}</label>
            {% endif %}
        {% endfor %}
    {% else %}
        {{ form_widget(form) }}
    {% endif %}
{% endblock %}