{% block grid_filter %}
    {% if datagrid.filters %}
        <form action="{{ path(routeName) }}" method="GET">
            <fieldset>

                <table border="1" style="color: red;">
                    {% for filter in datagrid.filters %}
                    <tr>
                        <td>{{ filter.label|trans }}</td>
                        <td>{{ form_widget(form.children[filter.formName].children['type']) }}</td>
                        <td>{{ form_widget(form.children[filter.formName].children['value']) }}</td>
                    </tr>
                    {% endfor %}
                </table>

                {{ form_widget(form._sort_by) }}
                {{ form_widget(form._page, {value : 1}) }}
                {{ form_rest(form) }}

                <input type="submit" value="{{ 'oro_grid.button.filter'|trans({}, "Datagrid") }}" />

                <a href="{{ path(routeName) }}">{{ 'oro_grid.button.reset'|trans({}, "Datagrid") }}</a>

            </fieldset>
        </form>
    {% endif %}
{% endblock %}

{% block grid_content %}
<table border="1" style="color: red;">
    {% block grid_header %}
        <thead>
            <tr>
                {% for field in datagrid.columns %}
                    {% block grid_header_field %}
                        <th>
                            {{ field.label }}
                            {% if datagrid.getSorter(field.name) %}
                                {% set sorter = datagrid.getSorter(field.name) %}
                                &nbsp;
                                {% if sorter.getDirection() == 'DESC' %}
                                    <b style="color: green">&uarr;</b>
                                {% else %}
                                    &uarr;
                                {% endif %}
                                &nbsp;
                                {% if sorter.getDirection() == 'ASC' %}
                                    <b style="color: green">&darr;</b>
                                {% else %}
                                    &darr;
                                {% endif %}
                                &nbsp;
                            {% endif %}
                        </th>
                    {% endblock %}
                {% endfor %}
            </tr>
        </thead>
    {% endblock %}
    {% block grid_body %}
        <tbody>
            {% for row in datagrid.results %}
                {% block grid_body_row %}
                    <tr>
                        {% for field in datagrid.columns %}
                            {% block grid_body_row_field %}
                                <td>{{ attribute(row, field.name) }}</td>
                            {% endblock %}
                        {% endfor %}
                    </tr>
                {% endblock %}
            {% endfor %}
        </tbody>
    {% endblock %}
    {% block grid_footer %}
        <tfoot>
        </tfoot>
    {% endblock %}
</table>
{% endblock %}
