{% block grid_filter %}
    {% if datagrid.filters %}
        <form action="{{ datagrid.routeGenerator.generateUrl(datagrid.parameters) }}" method="GET">
            <fieldset class="filter_legend">

                <table class="table table-bordered">
                    {% for filter in datagrid.filters %}
                    <tr>
                        <td>{{ filter.label|trans }}</td>
                        <td>{{ form_widget(form.children['_filter'].children[filter.formName].children['type']) }}</td>
                        <td>{{ form_widget(form.children['_filter'].children[filter.formName].children['value']) }}</td>
                    </tr>
                    {% endfor %}
                </table>

                {{ form_widget(form._sort_by) }}
                {{ form_widget(form.children['_pager']._page, {value : 1}) }}
                {{ form_widget(form._pager) }}
                {{ form_rest(form) }}

                <input type="submit" class="btn btn-primary" value="{{ 'oro_grid.button.filter'|trans({}, 'OroGridBundle') }}" />

                <a class="btn" href="{{ path(routeName) }}">{{ 'oro_grid.button.reset'|trans({}, 'OroGridBundle') }}</a>
            </fieldset>
        </form>
    {% endif %}
{% endblock %}

{% block grid_content %}
<form action="{{ datagrid.routeGenerator.generateUrl(datagrid.parameters) }}" method="POST" >
    <table class="table table-bordered table-striped">
        {% block grid_header %}
            <thead>
                <tr>
                    {% for field in datagrid.columns %}
                        {% block grid_header_field %}
                            <th>
                                {% if datagrid.getSorter(field.name) %}
                                    {% set sorter = datagrid.getSorter(field.name) %}
                                    {% if sorter.direction == 'ASC' %}
                                        <a href="{{ datagrid.routeGenerator.generateSortUrl(datagrid.parameters, sorter.field, 'DESC') }}"
                                           title="{{ 'oro_grid.link.sort_desc'|trans({}, 'OroGridBundle') }}"
                                                >
                                            {{ field.label }}
                                        </a>
                                        <i class="icon-arrow-down"></i>
                                    {% else %}
                                        <a href="{{ datagrid.routeGenerator.generateSortUrl(datagrid.parameters, sorter.field, 'ASC') }}"
                                           title="{{ 'oro_grid.link.sort_asc'|trans({}, 'OroGridBundle') }}"
                                        >
                                            {{ field.label }}
                                        </a>
                                        {% if sorter.direction == 'DESC' %}
                                            <i class="icon-arrow-up"></i>
                                        {% endif %}
                                    {% endif %}
                                {% else %}
                                    {{ field.label }}
                                {% endif %}
                            </th>
                        {% endblock %}
                    {% endfor %}
                </tr>
            </thead>
        {% endblock %}
        {% block grid_body %}
            <tbody>
                {% for row in datagrid.results %}
                    {% block grid_body_row %}
                        <tr>
                            {% for field in datagrid.columns %}
                                {% block grid_body_row_field %}
                                    <td>
                                        {% set value = attribute(row, field.name) %}
                                        {% if field.type == 'date' %}
                                            {{ value|date('Y-m-d') }}
                                        {% elseif field.type == 'datetime' %}
                                            {{ value|date('Y-m-d H:i:s') }}
                                        {% else %}
                                            {{ value }}
                                        {% endif %}
                                    </td>
                                {% endblock %}
                            {% endfor %}
                        </tr>
                    {% endblock %}
                {% endfor %}
            </tbody>
        {% endblock %}
        {% block grid_footer %}
            <tfoot>
                <tr>
                    <th colspan="{{ datagrid.columns|length - (app.request.isXmlHttpRequest ? 2 : 0) }}">
                        <div class="form-inline">
                            {# TODO Replace dummies: batchactions, datagrid_uniqid #}
                            {% set batchactions = {'delete': {'label': 'Delete'} } %}
                            {% set datagrid_uniqid = 'datagrid_uniqid' %}
                            {% if not app.request.isXmlHttpRequest and batchactions|length > 0 %}
                                {% block batch %}
                                    <script type="text/javascript">
                                        {% block batch_javascript %}
                                        jQuery(document).ready(function ($) {
                                            var datagridUniqueId = "{{ datagrid_uniqid }}";
                                            /*$('#list_batch_checkbox').click(function () {
                                                $(this).closest('table').find("td input[type='checkbox']").attr('checked', $(this).is(':checked')).parent().parent().toggleClass('sonata-ba-list-row-selected', $(this).is(':checked'));
                                            });
                                            $("td.sonata-ba-list-field-batch input[type='checkbox']").change(function () {
                                                $(this).parent().parent().toggleClass('sonata-ba-list-row-selected', $(this).is(':checked'));
                                            });*/
                                            $('#' + datagridUniqueId + '_per_page').change(function() {
                                                window.top.location.href=this.options[this.selectedIndex].value;
                                            })
                                        });
                                        {% endblock %}
                                    </script>

                                    {% block batch_actions %}
                                        <label class="checkbox" for="{{ datagrid_uniqid }}_all_elements">
                                            <input type="checkbox" name="all_elements" id="{{ datagrid_uniqid }}_all_elements"/>
                                            {{ 'oro_grid.all_elements'|trans({}, 'OroGridBundle') }}
                                        </label>

                                        <select name="action" style="width: auto; height: auto">
                                            {% for action, options in batchactions %}
                                                <option value="{{ action }}">{{ options.label }}</option>
                                            {% endfor %}
                                        </select>

                                        <input type="submit" class="btn btn-small btn-primary" onclick="return false;" value="{{ 'oro_grid.btn_batch'|trans({}, 'OroGridBundle') }}"/>
                                        <div class="pull-right">
                                            {# TODO Replace dummies #}
                                            {% set has_export = true %}
                                            {% set is_granred_export = true %}
                                            {% set export_formats = ['json', 'xml', 'csv'] %}
                                            {% if has_export and is_granred_export and export_formats|length %}
                                                {{ "oro_grid.label_export_download"|trans({}, "OroGridBundle") }}
                                                {% for format in export_formats %}
                                                    {# TODO Replace dummies #}
                                                    {% set export_url = 'javascript:return false;' %}
                                                    <a href="{{ export_url }}">{{ format }}</a>{% if not loop.last %},{% endif %}
                                                {% endfor %}

                                                &nbsp;-&nbsp;
                                            {% endif %}

                                            {{ datagrid.pager.page }} / {{ datagrid.pager.lastpage }}

                                            &nbsp;-&nbsp;

                                            {% transchoice datagrid.pager.nbresults with {'%count%': datagrid.pager.nbresults} from 'OroGridBundle' %}oro_grid.list_results_count{% endtranschoice %}

                                            {% if not app.request.isXmlHttpRequest %}
                                                &nbsp;-&nbsp;
                                                <label class="control-label" for="{{ datagrid_uniqid }}_per_page">{% trans from 'OroGridBundle' %}oro_grid.label_per_page{% endtrans %}</label>
                                                <select class="per-page small" id="{{ datagrid_uniqid }}_per_page" style="width: auto; height: auto">
                                                    {# TODO Replace dummy #}
                                                    {% set getperpageoptions = [5, 10, 25, 50, 100] %}
                                                    {% for per_page in getperpageoptions %}
                                                        <option {% if per_page == datagrid.pager.maxperpage %}selected="selected"{% endif %} value="{{ datagrid.routeGenerator.generatePagerUrl(datagrid.parameters, datagrid.pager.page, per_page) }}">
                                                            {{ per_page }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            {% endif %}
                                        </div>
                                    {% endblock %}
                                {% endblock %}
                            {% endif %}
                        </div>
                    </th>
                </tr>
            {% if datagrid.pager.haveToPaginate() %}
                <tr>
                    <td colspan="{{ datagrid.columns|length }}">
                        <div class="pagination pagination-centered">
                            <ul>
                                {% if datagrid.pager.page != datagrid.pager.firstpage  %}
                                    <li><a href="{{ datagrid.routeGenerator.generatePagerUrl(datagrid.parameters, datagrid.pager.firstpage) }}" title="{{ 'link_first_pager'|trans({}, 'OroGridBundle') }}">&laquo;</a></li>
                                {% endif %}

                                {% if datagrid.pager.page != datagrid.pager.previouspage %}
                                    <li><a href="{{ datagrid.routeGenerator.generatePagerUrl(datagrid.parameters, datagrid.pager.previouspage) }}" title="{{ 'link_previous_pager'|trans({}, 'OroGridBundle') }}">&lsaquo;</a></li>
                                {% endif %}

                                {# Set the number of pages to display in the pager #}
                                {% for page in datagrid.pager.getLinks() %}
                                    <li {% if page == datagrid.pager.page %}class="active"{% endif %}>
                                        <a href="{{ datagrid.routeGenerator.generatePagerUrl(datagrid.parameters, page) }}">{{ page }}</a>
                                    </li>
                                {% endfor %}

                                {% if datagrid.pager.page != datagrid.pager.nextpage %}
                                    <li><a href="{{ datagrid.routeGenerator.generatePagerUrl(datagrid.parameters, datagrid.pager.nextpage) }}" title="{{ 'link_next_pager'|trans({}, 'OroGridBundle') }}">&rsaquo;</a></li>
                                {% endif %}

                                {% if datagrid.pager.page != datagrid.pager.lastpage  %}
                                    <li><a href="{{ datagrid.routeGenerator.generatePagerUrl(datagrid.parameters, datagrid.pager.lastpage) }}" title="{{ 'link_last_pager'|trans({}, 'OroGridBundle') }}">&raquo;</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endif %}
            </tfoot>
        {% endblock %}
    </table>
</form>
{% endblock %}
