{% block orocrm_sales_opportunity_widget %}
    {% if form.owner is defined %}
        {{ form_row(form.owner) }}
    {% endif %}
    {{ form_row(form.name) }}
    {{ form_row(form.contact) }}
    {{ form_row(form.account) }}
    {{ form_row(form.probability) }}
    {{ form_row(form.budgetAmount) }}
    {{ form_row(form.customerNeed) }}
    {{ form_row(form.proposedSolution) }}
    {{ form_row(form.closeReason) }}
    {{ form_row(form.closeRevenue) }}
    {{ form_row(form.closeDate) }}
    {{ form_row(form.notes) }}

    {% if form.additional is defined and form.additional.children|length > 0 %}
        <h5>{{ 'Additional'|trans }}</h5>

        {% for value in form.additional %}
            {{ form_row(value) }}
        {% endfor %}
    {% endif %}
{% endblock orocrm_sales_opportunity_widget %}
