{% block orocrm_sales_opportunity_widget %}
    <div class="row-fluid">
        <fieldset class="form-horizontal">
            <div class="responsive-block">
                {% if form.owner is defined %}
                    {{ form_row(form.owner) }}
                {% endif %}
                {{ form_row(form.name) }}
                {{ form_row(form.contact) }}
                {{ form_row(form.customer) }}
                {{ form_row(form.probability) }}
                {{ form_row(form.budgetAmount) }}
                {{ form_row(form.customerNeed) }}
                {{ form_row(form.proposedSolution) }}
                {{ form_row(form.closeReason) }}
                {{ form_row(form.closeRevenue) }}
                {{ form_row(form.closeDate) }}
                {{ form_row(form.notes) }}

                {% set additionalData = [] %}
                {% for child in form.children if child.vars.extra_field is defined and child.vars.extra_field %}
                    {% set additionalData = additionalData|merge([form_row(child)]) %}
                {% endfor %}
                {% if additionalData is not empty %}
                    <h5 class="user-fieldset">
                        <span>{{ 'Additional'|trans }}</span>
                    </h5>

                    {% for value in additionalData %}
                        {{ value }}
                    {% endfor %}
                {% endif %}
            </div>
        </fieldset>
    </div>
{% endblock orocrm_sales_opportunity_widget %}

{% block orocrm_sales_lead_widget %}
    <div class="row-fluid row-fluid-divider">
        <fieldset class="form-horizontal">
            <div class="responsive-block">
                <h5 class="user-fieldset">
                    <span>{{ 'orocrm.sales.lead.details.label'|trans }}</span>
                </h5>
                {% if form.owner is defined %}
                    {{ form_row(form.owner) }}
                {% endif %}
                {{ form_row(form.name) }}
                {{ form_row(form.namePrefix) }}
                {{ form_row(form.firstName) }}
                {{ form_row(form.middleName) }}
                {{ form_row(form.lastName) }}
                {{ form_row(form.nameSuffix) }}
                {{ form_row(form.contact) }}
                {{ form_row(form.jobTitle) }}
                {{ form_row(form.phoneNumber) }}
                {{ form_row(form.email) }}
                {{ form_row(form.customer) }}
                {{ form_row(form.companyName) }}
                {{ form_row(form.website) }}
                {{ form_row(form.numberOfEmployees) }}
                {{ form_row(form.industry) }}
                {{ form_row(form.source) }}
                {{ form_row(form.notes) }}

                {% set additionalData = [] %}
                {% for child in form.children if child.vars.extra_field is defined and child.vars.extra_field %}
                    {% set additionalData = additionalData|merge([form_row(child)]) %}
                {% endfor %}
                {% if additionalData is not empty %}
                    <h5 class="user-fieldset">
                        <span>{{ 'Additional'|trans }}</span>
                    </h5>

                    {% for value in additionalData %}
                        {{ value }}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="responsive-cell">
                <h5 class="user-fieldset">
                    <span>{{ 'orocrm.sales.lead.address.label'|trans }}</span>
                </h5>
                {{ form_widget(form.address) }}
            </div>
        </fieldset>
    </div>
{% endblock orocrm_sales_lead_widget %}

{% block orocrm_sales_opportunity_status_enum_value_widget %}
    <div class="float-holder {% if form.label.vars.errors|length > 0 %} validation-error{% endif %}">
        <div class="input-append input-append-sortable collection-element-primary">
            {{ form_widget(form.label, {disabled: disabled}) }}
            <span class="add-on-input">
                {{ form_widget(form.probability, {disabled: disabled or form.probability.vars.disabled }) }}
            </span>
            <label class="add-on{% if disabled %} disabled{% endif %}" title="{{ 'oro.entity_extend.enum_options.default.tooltip'|trans }}">
                {{ form_widget(form.is_default, {disabled: disabled}) }}
            </label>
            <span class="add-on{% if disabled %} disabled{% endif %}" title="{{ 'oro.entity_extend.enum_options.priority.tooltip'|trans }}">
                <i class="icon-resize-vertical ui-sortable-handle{% if disabled %} disabled{% endif %}"></i>
                {{ form_widget(form.priority, {disabled: disabled}) }}
            </span>
        </div>
        {{ form_errors(form.label) }}
    </div>
    {{ form_rest(form) }}
{% endblock %}
