{% form_theme form with ['OroCRMContactUsBundle::fields.html.twig'] %}

{{ form_start(form, {'attr': {'id': form.vars.name, 'novalidate': 'novalidate' }}) }}
<div class="wrapper">
    <div class="row-group">
        <div class="box">
            {{ form_row(form.firstName) }}
        </div>
        <div class="box">
            {{ form_row(form.lastName) }}
        </div>
    </div>
    <div class="row-group">
        <div class="box">
            {{ form_row(form.emailAddress) }}
        </div>
    </div>
    <div class="row-group">
        <div class="box">
            {{ form_row(form.phone) }}
        </div>
    </div>
    <div class="row-group">
        {{ form_row(form.comment) }}
    </div>
    <div class="row-group">
        {{ form_widget(form.submit) }}
    </div>
</div>
{{ form_end(form) }}
