{% block fieldset_widget %}
    <div class="row-group">
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block form_field_widget %}
    <div class="box">
        {{ form_row(form) }}
    </div>
{% endblock %}

{% block _embedded_form_widget %}
    {% form_theme form with ['OroCRMContactUsBundle::fields.html.twig'] %}
    {{ form_start(form, {'attr': {'id': form.vars.name, 'novalidate': 'novalidate' }}) }}
    <div class="wrapper">
        {{ block_widget(block) }}
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block _embedded_form_comment_widget %}
    <div class="row-group">
        {{ form_row(form) }}
    </div>
{% endblock %}

{% block _embedded_form_submit_widget %}
    <div class="row-group">
        {{ form_row(form) }}
    </div>
{% endblock %}
