{% block oro_sales_opportunity_widget %}
    <div class="row-fluid">
        <fieldset class="form-horizontal">
            <div class="responsive-block">
                {% if form.owner is defined %}
                    {{ form_row(form.owner) }}
                {% endif %}
                {{ form_row(form.name) }}
                {{ form_row(form.contact) }}
                {{ form_row(form.customerAssociation) }}
                {{ form_row(form.probability) }}
                {{ form_row(form.budgetAmount) }}
                {{ form_row(form.customerNeed) }}
                {{ form_row(form.proposedSolution) }}
                {{ form_row(form.closeReason) }}
                {{ form_row(form.closeRevenue) }}
                {{ form_row(form.closeDate) }}
                {{ form_row(form.notes) }}

                {% set additionalData = [] %}
                {% for child in form.children %}
                    {% if child.vars.extra_field is defined and child.vars.extra_field %}
                        {% set additionalData = additionalData|merge([form_row(child)]) %}
                    {% endif %}
                {% endfor %}
                {% if additionalData is not empty %}
                    <h5 class="user-fieldset">
                        <span>{{ 'Additional'|trans }}</span>
                    </h5>

                    {% for value in additionalData %}
                        {{ value }}
                    {% endfor %}
                {% endif %}
            </div>
        </fieldset>
    </div>
{% endblock oro_sales_opportunity_widget %}

{% block oro_sales_lead_widget %}
    <div class="row-fluid row-fluid-divider">
        <fieldset class="form-horizontal">
            <div class="responsive-block">
                <h5 class="user-fieldset">
                    <span>{{ 'oro.sales.lead.details.label'|trans }}</span>
                </h5>
                {% if form.owner is defined %}
                    {{ form_row(form.owner) }}
                {% endif %}
                {{ form_row(form.name) }}
                {{ form_row(form.namePrefix) }}
                {{ form_row(form.firstName) }}
                {{ form_row(form.middleName) }}
                {{ form_row(form.lastName) }}
                {{ form_row(form.nameSuffix) }}
                {{ form_row(form.contact) }}
                {{ form_row(form.jobTitle) }}
                {{ form_row(form.phones) }}
                {{ form_row(form.emails) }}
                {{ form_row(form.customerAssociation) }}
                {{ form_row(form.companyName) }}
                {{ form_row(form.website) }}
                {{ form_row(form.numberOfEmployees) }}
                {{ form_row(form.industry) }}
                {{ form_row(form.source) }}
                {{ form_row(form.notes) }}

                {% set additionalData = [] %}
                {% for child in form.children %}
                    {% if child.vars.extra_field is defined and child.vars.extra_field %}
                        {% set additionalData = additionalData|merge([form_row(child)]) %}
                    {% endif %}
                {% endfor %}
                {% if additionalData is not empty %}
                    <h5 class="user-fieldset">
                        <span>{{ 'Additional'|trans }}</span>
                    </h5>

                    {% for value in additionalData %}
                        {{ value }}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="responsive-cell">
                <h5 class="user-fieldset">
                    <span>{{ 'oro.sales.lead.addresses.label'|trans }}</span>
                </h5>
                {{ form_widget(form.addresses) }}
            </div>
        </fieldset>
    </div>
{% endblock oro_sales_lead_widget %}

{% block oro_sales_opportunity_status_enum_value_widget %}
    <div class="float-holder {% if form.label.vars.errors|length > 0 %} validation-error{% endif %}">
        <div class="input-append input-append-sortable collection-element-primary">
            {{ form_widget(form.label, {disabled: disabled}) }}
            {{ form_widget(form.probability, {
                disabled: disabled or form.probability.vars.disabled,
                attr: {
                    class: 'add-on-input',
                    title: 'oro.sales.system_configuration.fields.opportunity_status_probabilities.probability.tooltip'
                }
            }) }}
            <span class="add-on ui-sortable-handle{% if disabled %} disabled{% endif %}"
                  data-name="sortable-handle"
                  title="{{ 'oro.entity_extend.enum_options.priority.tooltip'|trans }}">
                <i class="fa-arrows-v {% if disabled %} disabled{% endif %}"></i>
                {{ form_widget(form.priority, {disabled: disabled}) }}
            </span>
            <label class="add-on{% if disabled %} disabled{% endif %}" title="{{ 'oro.entity_extend.enum_options.default.tooltip'|trans }}">
                {{ form_widget(form.is_default, {disabled: disabled}) }}
            </label>
        </div>
        {{ form_errors(form.label) }}
    </div>
    {{ form_rest(form) }}
{% endblock %}

{% block oro_sales_lead_address_widget %}
    {% if form.parent is not empty %}
        <div {{ block('widget_container_attributes') }}>
            {{ block('oro_sales_lead_address_rows') }}
        </div>
    {% else %}
        {{ block('oro_sales_lead_address_rows') }}
    {% endif %}
{% endblock oro_sales_lead_address_widget %}

{% block oro_sales_lead_address_rows %}
    {{ form_row(form.id) }}
    {{ form_row(form.primary, {label: 'oro.sales.leadaddress.primary.label'}) }}
    {{ form_row(form.label, {label: 'oro.sales.leadaddress.label.label'}) }}
    {{ form_row(form.namePrefix, {label: 'oro.sales.leadaddress.name_prefix.label'}) }}
    {{ form_row(form.firstName, {label: 'oro.sales.leadaddress.first_name.label'}) }}
    {{ form_row(form.middleName, {label: 'oro.sales.leadaddress.middle_name.label'}) }}
    {{ form_row(form.lastName, {label: 'oro.sales.leadaddress.last_name.label'}) }}
    {{ form_row(form.nameSuffix, {label: 'oro.sales.leadaddress.name_suffix.label'}) }}
    {{ form_row(form.organization, {label: 'oro.sales.leadaddress.organization.label'}) }}
    {{ form_row(form.country, {label: 'oro.sales.leadaddress.country.label'}) }}
    {{ form_row(form.street, {label: 'oro.sales.leadaddress.street.label'}) }}
    {{ form_row(form.street2, {label: 'oro.sales.leadaddress.street2.label'}) }}
    {{ form_row(form.city, {label: 'oro.sales.leadaddress.city.label'}) }}
    {{ form_row(form.region_text, {label: 'oro.sales.leadaddress.region_text.label'}) }}
    {{ form_row(form.region, {label: 'oro.sales.leadaddress.region.label'}) }}
    {{ form_row(form.postalCode, {label: 'oro.sales.leadaddress.postal_code.label'}) }}
    {{ form_rest(form) }}
{%  endblock %}

{% block _oro_sales_lead_form_address_collection_widget %}
    {% import _self as fields %}

    {{ block('oro_address_collection_widget') }}
    {% set id = id ~ '_collection' %}
    {{ fields.oro_adddress_collection_prefill_names(_context) }}
{% endblock %}

{% macro oro_adddress_collection_prefill_names(context) %}
    {% if context.form.parent is defined %}
        {% set parentId = context.form.parent.vars.id %}
        {% set parentName = context.form.parent.vars.full_name %}
        <script>
            loadModules(['jquery'],
            function($){
                $(function() {
                    var container = $('#{{ context.id }}');
                    var parentContainer = $('#{{ parentId }}');
                    var nameFields = ['firstName', 'lastName', 'namePrefix', 'middleName', 'nameSuffix'];
                    container.on('content:changed', function() {
                        nameFields.forEach(function (field, index) {
                            container.find('[name$="[' + field +']"]').each(function (idx, el) {
                                if (!$(el).val()) {
                                    $(el).val(parentContainer.find('[name$="{{ parentName }}[' + field +']"]').val());
                                }
                            });
                        })
                    })
                });
            });
        </script>
    {% endif %}
{% endmacro %}

{% block oro_sales_customer_widget %}
    {% if not hasGridData and not createCustomersData %}
        {{ form_widget(form) }}
    {% else %}
        <div id="{{ id }}-el"
             {% if createCustomersData|length %}class="entity-create-or-select-container entity-create-multi-enabled"{% endif %}
             data-page-component-module="orosales/js/app/components/customer-component"
             data-page-component-options="{{ {
                 inputSelector: '#'~id,
                 customerSelector: '.dropdown-menu li',
             }|json_encode }}">
            <div class="input-append">
                {{ form_widget(form) }}
                {% if hasGridData %}
                    {% import '@OroUI/macros.html.twig' as UI %}
                    {{ UI.clientLink({
                        'dataUrl': path(
                        'oro_sales_customer_grid_dialog', {
                            entityClass: parentClass,
                        }),
                        'aCss': 'btn btn-icon btn-square-default entity-select-btn',
                        'iCss': 'fa-bars',
                        'ariaLabel': 'oro.form.entity_select'|trans({'%name%': label|trans({}, translation_domain) }),
                        'dataAttributes': { 'purpose': 'open-dialog-widget'},
                        'widget' : {
                            'type' : 'dialog',
                            'multiple' : true,
                            'options' : {
                                'alias': 'customer-dialog',
                                'dialogOptions' : {
                                    'title' : label|trans({}, translation_domain),
                                    'allowMaximize': true,
                                    'allowMinimize': true,
                                    'modal': true,
                                    'dblclick': 'maximize',
                                    'maximizedHeightDecreaseBy': 'minimize-bar',
                                    'width': 1000,
                                    'minWidth': 'expanded',
                                    'height': 600
                                }
                            }
                        }
                    }) }}
                {% endif %}
                {% if createCustomersData|length %}
                    {% set togglerId = 'dropdown-'|uniqid %}
                    <div class="dropdown btn-group entity-create-dropdown">
                        <button id="{{ togglerId }}" type="button" data-toggle="dropdown"
                                class="dropdown-toggle btn btn-icon btn-square-default entity-create-btn"
                                aria-haspopup="true" aria-expanded="false" aria-label="{{ 'oro.ui.dropdown_option_aria_label'|trans({}, translation_domain) }}">
                            <span class="fa-plus" aria-hidden="true"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="{{ togglerId }}">
                            {% for customer in createCustomersData %}
                                <li>
                                    <button type="button" data-customer="{{ customer|json_encode }}">
                                        <span class="{{ customer.icon }}" aria-hidden="true"></span>
                                        {{ customer.label|trans }}
                                    </button>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}
