{% extends '@OroUI/actions/view.html.twig' %}
{% import '@OroUI/macros.html.twig' as macros %}

{% oro_title_set({params : {"%b2bcustomer.name%": entity.name} }) %}

{% block navButtons %}
    {% import '@OroUI/macros.html.twig' as UI %}

    {% if is_granted('EDIT', entity) %}
        {{ UI.editButton({
            'path' : path('oro_sales_b2bcustomer_update', { 'id': entity.id }),
            'entity_label': 'oro.sales.b2bcustomer.entity_label'|trans
        }) }}
    {% endif %}
    {% if is_granted('DELETE', entity) %}
        {{ UI.deleteButton({
            'dataUrl': path('oro_api_delete_b2bcustomer', {'id': entity.id}),
            'dataRedirect': path('oro_sales_b2bcustomer_index'),
            'aCss': 'no-hash remove-button',
            'id': 'btn-remove-b2bcustomer',
            'dataId': entity.id,
            'entity_label': 'oro.sales.b2bcustomer.entity_label'|trans
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
    'entity':      entity,
    'indexPath':   path('oro_sales_b2bcustomer_index'),
    'indexLabel': 'oro.sales.b2bcustomer.entity_plural_label'|trans,
    'entityTitle': entity.name|default('N/A'|trans)
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block stats %}
    {{ parent() }}
    <li>
        <div class="label label-success orocrm-channel-lifetime-value-label">
            {{ 'oro.sales.b2bcustomer.lifetime.label'|trans}}:
            <b>{{ entity.lifetime|oro_format_currency }}</b>
        </div>
    </li>
{% endblock stats %}

{% block content_data %}
    {% set b2bcustomerInformationWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'title': 'oro.sales.widgets.b2bcustomer_information'|trans,
            'url': path('oro_sales_b2bcustomer_widget_info', {id: entity.id})
        }) }}
    {% endset %}

    {% set generalSectionBlocks = [{'data' : [b2bcustomerInformationWidget]}]%}

    {% set dataBlocks = [{
        'title': 'oro.sales.sections.general'|trans,
        'subblocks': generalSectionBlocks
    }] %}

    {% set id = 'b2bcustomerView' %}
    {% set data = {'dataBlocks': dataBlocks} %}

    {{ parent() }}
{% endblock content_data %}
