{% extends bap.layout is defined ? bap.layout : 'OroUserBundle::layout.html.twig' %}

{% set title = form.vars.value.id ? 'Edit role'|trans : 'Add role'|trans %}
{% oro_title_set({params : {"%role%": form.vars.value.label} }) %}

{% block head_script %}
    {{ parent() }}

    {% if form.vars.value.id %}
        {% include 'OroGridBundle:Include:javascript.html.twig' with {'datagridView': datagrid, 'selector': '#users-grid'} %}
        {% include 'OroGridBundle:Include:stylesheet.html.twig' %}

        {% set listenerParameters = {
            'columnName': 'has_role',
            'selectors': {
                'included': '#roleAppendUsers',
                'excluded': '#roleRemoveUsers'
            }
        } %}
        {% include 'OroUserBundle:Include:listener.html.twig' with {'datagridView': datagrid, 'parameters': listenerParameters} %}
    {% endif %}
{% endblock %}

{% block page_container %}
<div class="container-fluid">
    {% block content %}
    <form action="{{ form.vars.value.id ? path('oro_user_role_edit', { id: form.vars.value.id }) : path('oro_user_role_create') }}" method="post" class="form-register">
        <fieldset>
            <legend>{{ title }}</legend>

            {{ form_widget(form.appendUsers, {'id': 'roleAppendUsers'}) }}
            {{ form_widget(form.removeUsers, {'id': 'roleRemoveUsers'}) }}
            {{ form_rest(form) }}

            {% if form.vars.value.id %}
                {{ 'Users'|trans }}
                <div id="users-grid"></div>
            {% endif %}

            <div class="form-row">
                <button class="btn btn-large btn-primary" type="submit">{{ 'Save'|trans }}</button>
            </div>
        </fieldset>
    </form>
    {% endblock %}
</div>
{% endblock %}
