{% import 'OroUIBundle::macros.html.twig' as ui %}
{% import 'OroEmailBundle::macros.html.twig' as email %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}
{% import 'OroChannelBundle::macros.html.twig' as channel %}
{% import 'OroSalesBundle::macros.html.twig' as sales %}

{%- macro getSocialUrl(type, value) -%}
    {% if value|slice(0, 5) == 'http:' or value|slice(0, 6) == 'https:' %}
        {{ value }}
    {% else %}
        {{ oro_social_url(type, value) }}
    {% endif %}
{%- endmacro -%}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ ui.renderProperty('oro.sales.lead.first_name.label'|trans, entity.firstName) }}
            {{ ui.renderProperty('oro.sales.lead.last_name.label'|trans, entity.lastName) }}

            {{ channel.renderChannelProperty(entity, 'oro.sales.lead.data_channel.label') }}

            {%- if resource_granted('oro_contact_view') and entity.contact -%}
                {% set contactView = '<a href="' ~ path('oro_contact_view', {'id': entity.contact.id}) ~ '">' ~ entity.contact|oro_format_name|escape ~ '</a>' %}
            {%- else -%}
                {% set contactView = entity.contact ? entity.contact : '' %}
            {%- endif -%}

            {{ ui.renderHtmlProperty('oro.sales.lead.contact.label'|trans, contactView) }}
            {{ ui.renderProperty('oro.sales.lead.job_title.label'|trans, entity.jobTitle) }}

            {% set customer = entity.getCustomerTarget() %}
            {%- if (customer and resource_granted('VIEW', customer)) -%}
                {% set customerView = customer ? customer.name|escape : '' %}
            {%- endif -%}

            {%- set opportunitiesData -%}
                {%- if entity.opportunities.count -%}
                    {% set opportunityViewGranted = resource_granted('oro_sales_opportunity_view') %}
                    {%- for opportunity in entity.opportunities -%}
                        {%- if opportunityViewGranted -%}
                            <a href="{{ path('oro_sales_opportunity_view', {'id': opportunity.id}) }}">{{ ui.renderEntityViewLabel(opportunity, 'name', 'oro.sales.oportunity.entity_label') }}</a>
                        {%- else -%}
                            {{ ui.renderEntityViewLabel(opportunity, 'name') }}
                        {%- endif -%}
                        {% if not loop.last %}, {% endif %}
                    {%- endfor -%}
                {%- endif -%}
            {%- endset -%}

            {{ ui.renderHtmlProperty('oro.sales.lead.customer.label'|trans, customerView, entity, 'customer') }}
            {{ ui.renderProperty('oro.sales.lead.company_name.label'|trans, entity.companyName) }}
            {{ ui.renderProperty('oro.sales.lead.industry.label'|trans, entity.industry) }}
            {{ ui.renderProperty('oro.sales.lead.number_of_employees.label'|trans, entity.numberOfEmployees) }}
            {{ ui.renderProperty('oro.sales.lead.source.label'|trans, entity.source) }}

            {{ entityConfig.renderDynamicFields(entity) }}
        </div>

        {%- set socialData -%}
            {%- if entity.twitter or entity.linkedIn -%}
                <ul class="list-inline">
                    {% if entity.twitter %}
                        <li>
                            <a class="no-hash" href="{{ _self.getSocialUrl('twitter', entity.twitter) }}" target="_blank" title="Twitter">
                                <i class="icon-twitter"></i>
                            </a>
                        </li>
                    {% endif %}
                    {% if entity.linkedIn %}
                        <li>
                            <a class="no-hash" href="{{ _self.getSocialUrl('linked_in', entity.linkedIn) }}" target="_blank" title="LinkedIn">
                                <i class="icon-linkedin"></i>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            {%- endif -%}
        {%- endset -%}

        <div class="responsive-block">
            {{ ui.renderHtmlProperty('oro.sales.lead.emails.label'|trans, sales.renderCollectionWithPrimaryElement(entity.emails, true, entity)) }}
            {{ ui.renderHtmlProperty('oro.sales.lead.phones.label'|trans, sales.renderCollectionWithPrimaryElement(entity.phones, false, entity)) }}
            {{ ui.renderHtmlProperty('oro.sales.lead.website.label'|trans, entity.website ? ui.renderUrl(entity.website, entity.website, 'no-hash') : null) }}
            {{ ui.renderHtmlProperty('oro.sales.lead.notes.label'|trans, entity.notes) }}
            {{ ui.renderHtmlProperty('oro.contact.social.label'|trans, socialData) }}
            {{ ui.renderHtmlProperty('oro.sales.opportunity.entity_label'|trans, opportunitiesData) }}
        </div>
    </div>
</div>
