{% extends bap.layout is defined ? bap.layout : 'OroDataFlowBundle::layout.html.twig' %}

{% set title = connector.id ? "Configure connector" : "Configure new connector" %}

{% block title %}{{ parent() }} - {{ title | trans }}{% endblock %}

{% block content %}

    {% include 'OroDataFlowBundle:Connector:steps.html.twig' with {'steps': steps} %}
    
    <form action="{{ connector.id ? path('oro_dataflow_connector_edit', { id: connector.id }) : path('oro_dataflow_connector_create', {'serviceId': connector.serviceId}) }}" method="POST">

        <fieldset>
            <legend>{{ title | trans }}</legend>
    
            {{ form_widget(form) }}
    
            <div class="form-row">
                <button class="btn btn-large btn-primary pull-right" type="submit">{{ "Next" | trans }}</button>
            </div>
        </fieldset>
    </form>

{% endblock %}
