{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

{% oro_title_set({params : {"%entity.name%": entity.name|default('N/A') }}) %}

{% block navButtons %}
    {% if resource_granted('EDIT', entity) %}
        {{ UI.editButton({
            'path' : path('orocrm_campaign_update', { id: entity.id }),
            'entity_label': 'orocrm.campaign.entity_label'|trans
        })  }}
    {% endif %}
    {% if resource_granted('DELETE', entity) %}
        {{ UI.deleteButton({
            'dataUrl': path('oro_api_delete_campaign', {'id': entity.id}),
            'dataRedirect': path('orocrm_campaign_index'),
            'aCss': 'no-hash remove-button',
            'dataId': entity.id,
            'entity_label': 'orocrm.campaign.entity_label'|trans
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity':      entity,
        'indexPath':   path('orocrm_campaign_index'),
        'indexLabel':  'orocrm.campaign.entity_plural_label'|trans,
        'entityTitle': entity.name|default('N/A'),
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block stats %}
    <li>{{ 'oro.ui.created_at'|trans }}: {{ breadcrumbs.entity.createdAt ? breadcrumbs.entity.createdAt|oro_format_datetime : 'N/A' }}</li>
    <li>{{ 'orocrm.campaign.start_date.label'|trans }}: {{ breadcrumbs.entity.startDate ? breadcrumbs.entity.startDate|oro_format_date : 'N/A' }}</li>
    <li>{{ 'orocrm.campaign.end_date.label'|trans }}: {{ breadcrumbs.entity.endDate ? breadcrumbs.entity.endDate|oro_format_date : 'N/A' }}</li>
{% endblock stats %}

{% block content_data %}
    {% set campaignInformationWidget %}
        {% include 'OroCRMCampaignBundle:Campaign:widget/view.html.twig' %}
    {% endset %}

    {% set trackingEventsReport %}
        {% set trackingTotalGrid = 'campaign-tracking-total-report-grid' %}
        {% if entity.reportPeriod is not constant('OroCRM\\Bundle\\CampaignBundle\\Entity\\Campaign::PERIOD_HOURLY') %}
            {% set trackingTotalGrid = trackingTotalGrid ~ '-precalculated' %}
        {% endif %}
        {{ dataGrid.renderGrid(trackingTotalGrid, {code: entity.code}) }}
    {% endset %}

    {% set trackingPlot %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'url': path(
                'orocrm_campaign_event_plot',
                {
                    period: entity.reportPeriod,
                    campaign: entity.id
                }
            ),
            'title': 'orocrm.campaign.block.detailed_report'|trans
        }) }}
    {% endset %}

    {% set dataBlocks = [
        {
            'title': 'orocrm.campaign.block.general'|trans,
            'class': 'active',
            'subblocks': [
                {'data' : [campaignInformationWidget]}
            ]
        },
        {
            'title': 'orocrm.campaign.block.events'|trans,
            'subblocks': [
                {'data' : [
                    trackingPlot,
                    trackingEventsReport
                ]}
            ]
        },
        {
            'title': 'orocrm.campaign.tracking_code.label'|trans,
            'subblocks': [
                {'data' : [
                    'orocrm.campaign.tracking_code.info'|trans({'%campaignCode%': entity.code})
                ]}
            ]
        }
    ] %}

    {% set id = 'campaignView' %}
    {% set data = { 'dataBlocks': dataBlocks } %}
    {{ parent() }}
{% endblock content_data %}
