{% import 'OroUIBundle::macros.html.twig' as macros %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

{# TODO: Move this to OroUIBundle::macros.html.twig #}
{% macro renderRow(label, value) %}
    {% import 'OroUIBundle::macros.html.twig' as macros %}
    {{ macros.renderAttribute(label, '<p class="control-label">' ~ value|default('N/A'|trans) ~ '</p>') }}
{% endmacro %}

<div class="widget-content order-info-widget form-horizontal box-content row-fluid">
    <div class="responsive-block">
        <div class="control-group">
            {{ _self.renderRow('orocrm.magento.order.status.label'|trans, entity.status|trans) }}
            {{ _self.renderRow('orocrm.magento.order.currency.label'|trans, entity.currency|trans) }}

            {{ _self.renderRow('orocrm.magento.order.total_amount.label'|trans, entity.totalAmount|oro_format_decimal) }}
            {{ _self.renderRow('orocrm.magento.order.discount_amount.label'|trans, entity.discountAmount|oro_format_decimal) }}
            {{ _self.renderRow('orocrm.magento.order.tax_amount.label'|trans, entity.taxAmount|oro_format_decimal) }}
            {{ _self.renderRow('orocrm.magento.order.shipping_amount.label'|trans, entity.shippingAmount|oro_format_decimal) }}
            {{ _self.renderRow('orocrm.magento.order.total_paid_amount.label'|trans, entity.totalPaidAmount|oro_format_decimal) }}
            {{ _self.renderRow('orocrm.magento.order.total_invoiced_amount.label'|trans, entity.totalInvoicedAmount|oro_format_decimal) }}
            {{ _self.renderRow('orocrm.magento.order.total_refunded_amount.label'|trans, entity.totalRefundedAmount|oro_format_decimal) }}
            {{ _self.renderRow('orocrm.magento.order.total_canceled_amount.label'|trans, entity.totalCanceledAmount|oro_format_decimal) }}
        </div>
    </div>

    <div class="responsive-block">
        {{ _self.renderRow('orocrm.magento.order.remote_ip.label'|trans, entity.remoteIp) }}
        {{ _self.renderRow('orocrm.magento.order.payment_method.label'|trans, entity.paymentMethod|trans|capitalize) }}
        {{ _self.renderRow('orocrm.magento.order.payment_details.label'|trans, entity.paymentDetails) }}
        {{ _self.renderRow('orocrm.magento.order.shipping_method.label'|trans, entity.shippingMethod|trans|capitalize) }}
        {{ _self.renderRow('orocrm.magento.order.gift_message.label'|trans, entity.giftMessage) }}
        {{ _self.renderRow('orocrm.magento.order.store_name.label'|trans, entity.store.website.name) }}
        {{ _self.renderRow('orocrm.magento.order.store.label'|trans, entity.store.name) }}
        <div class="control-group">
            <label class="control-label">{{ 'orocrm.magento.order.customer.label'|trans }}</label>
            <div class="controls">
                <div class="clearfix-oro">
                    <p class="control-label">
                        {% if entity.customer %}
                            {% set customerViewGranted = resource_granted('orocrm_magento_customer_view') %}
                            {%- if customerViewGranted -%}
                                <a href="{{ path('orocrm_magento_customer_view', {'id': entity.customer.id}) }}">{{ entity.customer|oro_format_name|default('N/A'|trans) }}</a>
                            {%- else -%}
                                {{ entity.customer|oro_format_name|default('N/A'|trans) }}
                            {%- endif -%}
                        {% else %}
                            {% trans %}N/A{% endtrans %}
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{{ 'orocrm.magento.order.cart.label'|trans }}</label>
            <div class="controls">
                <div class="clearfix-oro">
                    <p class="control-label">
                        {% set cartViewGranted = resource_granted('orocrm_magento_cart_view') %}
                        {% if entity.cart and cartViewGranted %}
                            <a href="{{ path('orocrm_magento_cart_view', {'id': entity.cart.id}) }}">{{ 'Cart #' ~ entity.cart.originId |trans }}</a>
                        {% else %}
                            {% trans %}N/A{% endtrans %}
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
