{% extends 'OroUIBundle:actions:update.html.twig' %}
{% set name = entity.name|default('N/A') %}
{% oro_title_set({params : {"%opportunity.name%": name} }) %}
{% set audit_entity_class = 'OroCRM_Bundle_SalesBundle_Entity_Opportunity' %}
{% set title = form.vars.value.id ? name ~ ' - ' ~ 'Update Opportunity'|trans : 'New Opportunity'|trans %}
{% set formAction = form.vars.value.id
    ? path('orocrm_sales_opportunity_update', { 'id': form.vars.value.id })
    : path('orocrm_sales_opportunity_create')
%}

{% block head_script %}
    {{ parent() }}

    {% block stylesheets %}
        {{ form_stylesheet(form) }}
    {% endblock %}
{% endblock %}

{% block navButtons %}
    {% if form.vars.value.id and resource_granted('orocrm_sales_opportunity_delete') %}
        {{ UI.deleteButton({
            'dataUrl': path('oro_api_delete_opportunity', {'id': form.vars.value.id}),
            'dataRedirect': path('orocrm_sales_opportunity_index'),
            'aCss': 'no-hash remove-button',
            'id': 'btn-remove-contact',
            'dataId': form.vars.value.id,
            'dataMessage': 'Are you sure you want to delete this opportunity?',
            'title': 'Delete Opportunity',
            'label': 'Delete'
        }) }}
        {{ UI.buttonSeparator() }}
    {% endif %}
    {{ UI.button({'path' : path('orocrm_sales_opportunity_index'), 'title' : 'Cancel', 'label' : 'Cancel'}) }}
    {{ UI.saveAndStayButton('orocrm_sales_opportunity_update') }}
    {{ UI.saveAndCloseButton() }}
{% endblock %}

{% block pageHeader %}
    {% if form.vars.value.id %}
        {% set breadcrumbs = {
            'entity':      form.vars.value,
            'indexPath':   path('orocrm_sales_opportunity_index'),
            'indexLabel': 'Opportunities',
            'entityTitle': name
        } %}
        {{ parent() }}
    {% else %}
        {% include 'OroUIBundle::page_title_block.html.twig' %}
    {% endif %}
{% endblock pageHeader %}

{% block breadcrumbs %}
    {{ parent() }}
    <div class="status-enabled pull-left">
        {% if entity.status.name != 'lost' %}
            <div class="badge badge-enabled status-enabled">
                <i class="icon-status-enabled icon-circle"></i>{{ entity.status.label }}</div>
        {% else %}
            <div class="badge badge-disabled status-disabled">
                <i class="icon-status-disabled icon-circle"></i>{{ entity.status.label  }}</div>
        {% endif %}
    </div>
{% endblock breadcrumbs %}

{% block content_data %}
    {% set id = 'opportunity-profile' %}

    {% set dataBlocks = [{
        'title': 'General',
        'class': 'active',
        'subblocks': [
            {
                'title': 'Contact Information',
                'data': [
                    form_row(form.name, {'label': 'Opportunity name'|trans}),
                    form_row(form.contact, {'label': 'Contact'|trans}),
                    form_row(form.account, {'label': 'Account'|trans}),
                    form_row(form.probability, {'label': 'Probability'|trans}),
                    form_row(form.budgetAmount, {'label': 'Budget amount'|trans}),
                    form_row(form.customerNeed, {'label': 'Customer need'|trans}),
                    form_row(form.proposedSolution, {'label': 'Proposed solution'|trans}),
                    form_row(form.closeReason, {'label': 'Close reason'|trans}),
                    form_row(form.closeRevenue, {'label': 'Close revenue'|trans}),
                    form_row(form.closeDate, {'label': 'Close date'|trans})
                ]
            }
        ]
    }] %}

    {% if form.additional is defined and form.additional.children|length > 0 %}
        {% set additionalData = [] %}
        {% for value in form.additional %}
            {% set additionalData = additionalData|merge([form_row(value)]) %}
        {% endfor %}

        {% set dataBlocks = dataBlocks|merge([{
            'title': 'Additional',
            'subblocks': [{
                'title': '',
                'useSpan': false,
                'data' : additionalData
            }]
        }] ) %}
    {% endif %}

    {% set data = {
        'formErrors': form_errors(form) ? form_errors(form) : null,
        'dataBlocks': dataBlocks,
    } %}
    {{ parent() }}
{% endblock content_data %}
