{% set entityClassName = oro_class_name(entity, true) %}

{% import _self as metrics %}

<div id="activity-count-{{ entityClassName ~ '-' ~ entity.id }}" class="activity-contact-info-title">
    {{ metrics.last_contacted_time(data, entity) }}
</div>
<script>
    loadModules(['jquery', 'routing', 'oroui/js/mediator'], function ($, routing, mediator) {
        $(function () {
            var reloadStatistics = function () {
                $.ajax({
                    url: routing.generate('oro_activity_contact_metrics', {
                        entityClass: '{{ entityClassName }}',
                        entityId: '{{ entity.id }}'
                    }),
                    type: 'GET',
                    success: function (response) {
                        $('#activity-count-' + '{{ entityClassName ~ '-' ~ entity.id }}').html(
                            $(response).filter('#activity-count-' + '{{ entityClassName ~ '-' ~ entity.id }}').html()
                        );
                    }
                })
            };

            mediator.on(
                'widget:doRefresh:activity-list-widget ' +
                'widget_success:activity_list:refresh ' +
                'widget_success:activity_list:item:delete ' +
                'widget_success:activity_list:item:update',
                reloadStatistics
            );
            mediator.once('page:beforeChange', function () {
                mediator.off(
                    'widget:doRefresh:activity-list-widget ' +
                    'widget_success:activity_list:refresh ' +
                    'widget_success:activity_list:item:delete ' +
                    'widget_success:activity_list:item:update',
                    reloadStatistics
                );
            });
        });
    });
</script>

{% macro last_contacted_time(data, entity) %}
    {% set activity_scope_class = 'Oro\\Bundle\\ActivityContactBundle\\EntityConfig\\ActivityScope' %}

    {% set last_contact_date_key     = constant(activity_scope_class ~ '::LAST_CONTACT_DATE') %}
    {% set last_contact_date_in_key  = constant(activity_scope_class ~ '::LAST_CONTACT_DATE_IN') %}
    {% set last_contact_date_out_key = constant(activity_scope_class ~ '::LAST_CONTACT_DATE_OUT') %}
    {% set contact_count_key         = constant(activity_scope_class ~ '::CONTACT_COUNT') %}

    {% if data[contact_count_key] is defined and data[contact_count_key] > 0 %}
        {% set last_datetime = '' %}
        {% if  is_granted('VIEW', entity, last_contact_date_key) %}
            {% set last_datetime = data[last_contact_date_key]|oro_format_datetime|default('N/A'|trans) %}
        {% endif %}
        {% set direction     = '<i class="fa-sign-'
            ~ ( data[last_contact_date_in_key] >= data[last_contact_date_out_key] ? 'in' : 'out' )
            ~ '"></i>'
        %}
    <ul class="inline">
        {% if  is_granted('VIEW', entity, contact_count_key) %}
            <li>
            {{ 'oro.activity_contact.info_title_times'|trans({
                '{{ total_contacted }}': data[contact_count_key]|default(0)
            })|raw }}
            </li>
        {% endif %}
        <li style="padding-right:0">
        {{ 'oro.activity_contact.info_title_last'|trans({
            '{{ direction }}': direction,
            '{{ last_datetime }}': last_datetime
        })|raw }}
        </li>
    </ul>
    {% else %}
        {{ 'oro.activity_contact.info_title_no_data'|trans }}
    {% endif %}
{% endmacro %}
