{% import 'OroUIBundle::macros.html.twig' as ui %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}
{% import 'OroChannelBundle::macros.html.twig' as channel %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ channel.renderChannelProperty(entity, 'oro.magento.creditmemo.data_channel.label') }}
            {{ ui.renderHtmlProperty('oro.magento.creditmemo.store.label'|trans, entity.store.name|escape|nl2br) }}
            {{ ui.renderProperty('oro.magento.creditmemo.increment_id.label'|trans, entity.incrementId) }}
            {{ ui.renderProperty('oro.magento.creditmemo.imported_at.label'|trans, entity.importedAt|oro_format_datetime) }}
            {{ ui.renderProperty('oro.magento.creditmemo.synced_at.label'|trans, entity.syncedAt|oro_format_datetime) }}
            {{ ui.renderProperty('oro.magento.creditmemo.transaction_id.label'|trans, entity.transactionId) }}
            {% set orderData %}
                {% if entity.order and is_granted('oro_magento_order_view') %}
                    <a href="{{ path('oro_magento_order_view', {'id': entity.order.id}) }}">
                        {{ 'oro.magento.order.entity_label'|trans ~ ' ' ~  entity.order.incrementId }}
                    </a>
                {% else %}
                    {% trans %}N/A{% endtrans %}
                {% endif %}
            {% endset %}
            {{ ui.renderHtmlProperty('oro.magento.creditmemo.order.label'|trans, orderData) }}
        </div>

        <div class="responsive-block">
            {{ ui.renderProperty('oro.magento.creditmemo.grand_total.label'|trans, entity.grandTotal|oro_format_currency({'currency': entity.order.currency})) }}
            {{ ui.renderProperty('oro.magento.creditmemo.subtotal.label'|trans, entity.subtotal|oro_format_currency({'currency': entity.order.currency})) }}
            {{ ui.renderProperty('oro.magento.creditmemo.adjustment_negative.label'|trans, entity.adjustmentNegative|oro_format_currency({'currency': entity.order.currency})) }}
            {{ ui.renderProperty('oro.magento.creditmemo.adjustment_positive.label'|trans, entity.adjustmentPositive|oro_format_currency({'currency': entity.order.currency})) }}
            {{ ui.renderProperty('oro.magento.creditmemo.shipping_amount.label'|trans, entity.shippingAmount|oro_format_currency({'currency': entity.order.currency})) }}
            {{ ui.renderProperty('oro.magento.creditmemo.customer_bal_total_refunded.label'|trans, entity.customerBalTotalRefunded) }}
            {{ ui.renderProperty('oro.magento.creditmemo.reward_points_balance_refund.label'|trans, entity.rewardPointsBalanceRefund) }}
            {{ entityConfig.renderDynamicFields(entity) }}
        </div>
    </div>
</div>
