<div class="widget-content">
    {% import '@OroDataGrid/macros.html.twig' as dataGrid %}
    {% set gridName = 'account-contacts-update-grid' %}

    {% set params = {
        '_parameters' : {
            'data_in':     app.request.get('added') ? app.request.get('added')|split(',') : [],
            'data_not_in': app.request.get('removed') ? app.request.get('removed')|split(','): []
        }
    } %}

    {% if account %}
        {% set params = params|merge({
            'account': account.id
        }) %}
    {% endif %}

    {% block content %}
        {{ dataGrid.renderGrid(gridName, params) }}
        <input type="hidden" name="appendContacts" id="appendContacts" value="{{ app.request.get('added') }}" />
        <input type="hidden" name="removeContacts" id="removeContacts" value="{{ app.request.get('removed') }}" />
    {% endblock %}

    {% import '@OroUI/macros.html.twig' as UI %}

    <div {{ UI.renderPageComponentAttributes({
        module: 'oroaccount/js/app/components/account-contact-component',
        options: {
            wid: app.request.get('_wid'),
            gridName: gridName,
            addedVal: '#appendContacts',
            removedVal: '#removeContacts',
            columnName: 'hasContact',
            link: 'oro_contact_info'
        }
    }) }}></div>

    <div class="widget-actions">
        <button type="reset" class="btn">{{ 'Cancel'|trans }}</button>
        <button type="button" class="btn btn-primary" data-action-name="select">{{ 'Select'|trans }}</button>
    </div>
</div>
