{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEmailBundle::actions.html.twig' as EmailActions %}

{% set uniqueSuffix = '_customer_' ~ customer.id ~ '_channel_' ~ channel.id %}
{% set tabs = [] %}
{% if orderClassName in customer.dataChannel.entities %}
    {% set tabs = tabs|merge([
        {
            'alias': 'orocrm_magento_customer_orders' ~ uniqueSuffix,
            'widgetType': 'block',
            'label': 'orocrm.magento.order.entity_plural_label'|trans,
            'url': path('orocrm_magento_widget_customer_orders', {'customerId': customer.id, 'channelId': customer.channel.id})
        }
    ]) %}
{% endif %}
{% if cartClassName in customer.dataChannel.entities %}
    {% set tabs = tabs|merge([
        {
            'alias': 'orocrm_magento_customer_carts' ~ uniqueSuffix,
            'widgetType': 'block',
            'label': 'orocrm.magento.cart.entity_plural_label'|trans,
            'url': path('orocrm_magento_widget_customer_carts', {'customerId': customer.id, 'channelId': customer.channel.id})
        }
    ]) %}
{% endif %}

{% set hasTabs = tabs|length > 0 %}

<div class="widget-content row-fluid {% if hasTabs %}row-fluid-divider{% endif %}">
    <div class="responsive-cell form-horizontal">
        {% include 'OroCRMAnalyticsBundle::label.html.twig' with {entity: customer, vertical: true} %}
        {% set customer_name_link %}
            <a href="{{ path('orocrm_magento_customer_view', {'id':customer.id}) }}">
                {{ customer|oro_format_name|escape }}
            </a>
        {% endset %}

        {{ UI.renderHtmlProperty('orocrm.magento.customer.name.label'|trans, customer_name_link) }}

        {{ UI.renderHtmlProperty('orocrm.magento.customer.email.label'|trans, EmailActions.sendEmailLink(customer.email, customer)) }}
        {% if customer.group %}
            {{ UI.renderProperty('orocrm.magento.customer.group.label'|trans, customer.group.name) }}
        {% endif %}
        {% if customer.website %}
            {{ UI.renderProperty('orocrm.magento.customer.website.label'|trans, customer.website.name) }}
        {% endif %}
        {% if customer.store %}
            {{ UI.renderProperty('orocrm.magento.customer.store.label'|trans, customer.store.name) }}
        {% endif %}
        {%- set birthdayData -%}
            {{ customer.birthday is not empty ? customer.birthday|oro_format_date : null }}
            {% if customer.birthday is not empty %} ({{ customer.birthday|age_string({'default': 'N/A'}) }}){% endif %}
        {%- endset -%}

        {{ UI.renderProperty('orocrm.magento.customer.birthday.label'|trans, customer.birthday ? birthdayData : null) }}
        {{ UI.renderProperty('orocrm.magento.customer.gender.label'|trans, oro_gender(customer.gender)) }}
        {{ UI.renderProperty('orocrm.magento.customer.vat.label'|trans, customer.vat ) }}

        {% if customer.newsletterSubscribers|length > 0 %}
            {% set newsletterSubscriberBlock %}
                {% for newsletterSubscriber in customer.newsletterSubscribers %}
                    {{ oro_widget_render({
                        'widgetType': 'block',
                        'url': path('orocrm_magento_newsletter_subscriber_info', {id: newsletterSubscriber.id})
                    }) }}
                {% endfor %}
            {% endset %}
            {% if newsletterSubscriberBlock %}
                {{ newsletterSubscriberBlock }}
            {% endif %}
        {% endif %}
    </div>

    {% if hasTabs %}
        <div class="responsive-cell" id="magento-without-border-tabs">
            {{ tabPanel(tabs) }}
        </div>
    {% endif %}
</div>
