{% import 'OroUIBundle::macros.html.twig' as ui %}
{% import 'OroEmailBundle::macros.html.twig' as email %}

<div class="widget-content customer-info-widget form-horizontal box-content row-fluid">
    <div class="responsive-block">
        {%- set birthdayData -%}
            {{ entity.birthday is not empty ? entity.birthday|oro_format_date : null }}
            {%- if entity.birthday is not empty -%}
                &nbsp;({{ entity.birthday|age_string({'default': 'N/A'}) }})
            {%- endif -%}
        {%- endset -%}

        {{ ui.renderProperty('orocrm.magento.customer.email.label'|trans, email.email_address_simple(entity.email)) }}
        {{ ui.renderProperty('orocrm.magento.customer.birthday.label'|trans, birthdayData) }}
        {{ ui.renderProperty('orocrm.magento.customer.gender.label'|trans, oro_gender(entity.gender)) }}
        {{ ui.renderProperty('orocrm.magento.customer.vat.label'|trans, entity.vat) }}
    </div>
    <div class="responsive-block">
        {%- set accountData -%}
            {% if entity.account %}
                {% set accountViewGranted = resource_granted('orocrm_account_view') %}
                {%- if accountViewGranted -%}
                    <a href="{{ path('orocrm_account_view', {'id': entity.account.id}) }}">{{ entity.account }}</a>
                {%- else -%}
                    {{ entity.account }}
                {%- endif -%}
            {% endif %}
        {%- endset -%}

        {%- set contactData -%}
            {% if entity.contact %}
                {% set contactViewGranted = resource_granted('orocrm_contact_view') %}
                {%- if contactViewGranted -%}
                    <a href="{{ path('orocrm_contact_view', {'id': entity.contact.id}) }}">{{ entity.contact }}</a>
                {%- else -%}
                    {{ entity.contact }}
                {%- endif -%}
            {%- endif -%}
        {%- endset -%}

        {{ ui.renderProperty('orocrm.magento.customer.website.label'|trans, entity.website.name) }}
        {{ ui.renderProperty('orocrm.magento.customer.store.label'|trans, entity.store.name|nl2br) }}

        {% if entity.group %}
            {{ ui.renderProperty('orocrm.magento.customer.group.label'|trans, entity.group.name) }}
        {% endif %}

        {{ ui.renderProperty('orocrm.magento.customer.account.label'|trans, accountData) }}
        {{ ui.renderProperty('orocrm.magento.customer.contact.label'|trans, contactData) }}
    </div>
</div>
