{% import 'OroUIBundle::macros.html.twig' as ui %}
{% import 'OroEmailBundle::macros.html.twig' as email %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}
{% import 'OroCRMChannelBundle::macros.html.twig' as channel %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ ui.renderHtmlProperty('orocrm.magento.customer.email.label'|trans, email.renderEmailWithActions(entity.email, entity.contact)) }}
            {% if entity.group %}
                {{ ui.renderProperty('orocrm.magento.customer.group.label'|trans, entity.group.name) }}
            {% endif %}

            {% if entity.channel %}
                {{ channel.renderChannelProperty(entity, 'orocrm.magento.customer.data_channel.label') }}
                {{ ui.renderProperty('orocrm.magento.customer.channel.label'|trans, entity.channel.name) }}
            {% endif %}

            {% if entity.website %}
                {{ ui.renderProperty('orocrm.magento.customer.website.label'|trans, entity.website.name) }}
            {% endif %}
            {% if entity.store %}
                {{ ui.renderHtmlProperty('orocrm.magento.customer.store.label'|trans, entity.store.name|escape|nl2br) }}
            {% endif %}

            {%- if entity.guest -%}
                {{ ui.renderProperty('orocrm.magento.customer.guest.label'|trans, 'orocrm.magento.customer.guest.yes'|trans) }}
            {%- endif -%}
            {{ ui.renderProperty('orocrm.magento.customer.imported_at.label'|trans, entity.importedAt|oro_format_datetime) }}
            {{ ui.renderProperty('orocrm.magento.customer.synced_at.label'|trans, entity.syncedAt|oro_format_datetime) }}

            {{ entityConfig.renderDynamicFields(entity) }}
        </div>
        <div class="responsive-block">
            {% if entity.account %}
                {%- set accountData -%}
                    {% if entity.account %}
                        {% set accountViewGranted = resource_granted('orocrm_account_view') %}
                        {%- if accountViewGranted -%}
                            <a href="{{ path('orocrm_account_view', {'id': entity.account.id}) }}">{{ entity.account|escape }}</a>
                        {%- else -%}
                            {{ entity.account|escape }}
                        {%- endif -%}
                    {% endif %}
                {%- endset -%}
                {{ ui.renderHtmlProperty('orocrm.magento.customer.account.label'|trans, accountData) }}
            {% endif %}

            {% if entity.contact %}
                {%- set contactData -%}
                    {% if entity.contact %}
                        {% set contactViewGranted = resource_granted('orocrm_contact_view') %}
                        {%- if contactViewGranted -%}
                            <a href="{{ path('orocrm_contact_view', {'id': entity.contact.id}) }}">{{ entity.contact|oro_format_name|escape }}</a>
                        {%- else -%}
                            {{ entity.contact|oro_format_name|escape }}
                        {%- endif -%}
                    {%- endif -%}
                {%- endset -%}
                {{ ui.renderHtmlProperty('orocrm.magento.customer.contact.label'|trans, contactData) }}
            {% endif %}

            {%- set birthdayData -%}
                {{ entity.birthday is not empty ? entity.birthday|oro_format_date : null }}
                {% if entity.birthday is not empty %} ({{ entity.birthday|age_string({'default': 'N/A'}) }}){% endif %}
            {%- endset -%}

            {{ ui.renderProperty('orocrm.magento.customer.birthday.label'|trans, entity.birthday ? birthdayData : null) }}
            {{ ui.renderProperty('orocrm.magento.customer.gender.label'|trans, oro_gender(entity.gender)) }}
            {{ ui.renderProperty('orocrm.magento.customer.vat.label'|trans, entity.vat ) }}
        </div>
    </div>
</div>
