{% import 'OroUIBundle::macros.html.twig' as macros %}

<div class="widget-content customer-info-widget form-horizontal box-content row-fluid">
    <div class="span6">
        {% set email = entity.email %}
        {% if entity.email != null %}
            {% set email = '<a href="mailto: ' ~ email ~ '" title="' ~ email ~ '">' ~ email ~ '</a>'%}
        {% endif %}
        {{ macros.renderProperty('Email'|trans, email) }}
        <div class="control-group">
            <label class="control-label">{% trans %}Birthday{% endtrans %}</label>
            <div class="controls">
                <div class="clearfix-oro">
                    <p class="control-label">
                        {{ entity.birthday is empty ? 'N/A'|trans : entity.birthday|oro_format_date }}
                        {% if entity.birthday is not empty %}
                            ({{ entity.birthday|age_string({'default': 'N/A'}) }})
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>

        {{ macros.renderProperty('Gender'|trans, oro_gender(entity.gender)) }}
        {{ macros.renderProperty('Tax/Vat'|trans, entity.vat) }}
    </div>

    <div class="span6">
        {{ macros.renderProperty('Website'|trans, entity.website.name) }}
        {{ macros.renderProperty('Store'|trans, entity.store.name) }}
        {% if entity.group %}
            {{ macros.renderProperty('Customer Group'|trans, entity.group.name) }}
        {% endif %}

        <div class="control-group">
            <label class="control-label">{% trans %}Account{% endtrans %}</label>
            <div class="controls">
                <div class="clearfix-oro">
                    <p class="control-label">
                        {% if entity.account %}
                            {% set accountViewGranted = resource_granted('orocrm_account_view') %}
                            {%- if accountViewGranted -%}
                                <a href="{{ path('orocrm_account_view', {'id': entity.account.id}) }}">{{ entity.account }}</a>
                            {%- else -%}
                                {{ entity.account }}
                            {%- endif -%}
                        {% else %}
                            {% trans %}N/A{% endtrans %}
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">{% trans %}Contact{% endtrans %}</label>
            <div class="controls">
                <div class="clearfix-oro">
                    <p class="control-label">
                        {% if entity.contact %}
                            {% set contactViewGranted = resource_granted('orocrm_contact_view') %}
                            {%- if contactViewGranted -%}
                                <a href="{{ path('orocrm_contact_view', {'id': entity.contact.id}) }}">{{ entity.contact }}</a>
                            {%- else -%}
                                {{ entity.contact }}
                            {%- endif -%}
                        {% else %}
                            {% trans %}N/A{% endtrans %}
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
