{% block form_row %}
{% spaceless %}
<div class="control-group{% if errors|length > 0 %} error{%  endif %}{% if attr.class is defined %} {{ attr.class }}{% endif %}">
    {{ form_label(form, '' , { label_attr: label_attr|merge({ class: 'control-label' })}) }}
    <div class="controls">
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
</div>
{% endspaceless %}
{% endblock form_row %}

{% block choice_widget_expanded %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {% for child in form %}
                <div class="oro-clearfix">
                    {{ form_widget(child) }}
                    {{ form_label(child) }}
                </div>
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock choice_widget_expanded %}
