{% extends bap.layout is defined ? bap.layout : 'OroUserBundle::layout.html.twig' %}

{% block title %}{{ 'Password reset form'|trans }} - {{ parent() }}{% endblock %}

{% block content %}
<form action="{{ path('oro_user_reset_reset', { token: token }) }}" {{ form_enctype(form) }} method="POST" class="form-pass-reset">
    <h2 class="form-signin-heading">{{ 'Password reset form'|trans }}</h2>

    {{ form_widget(form) }}

    <div>
        <button class="btn btn-large btn-primary" type="submit">{{ 'Reset'|trans }}</button>
        <a href="{{ path('oro_user_security_login') }}" class="btn btn-large">{{ 'Cancel'|trans }}</a>
    </div>
</form>
{% endblock %}
