{% import 'OroUIBundle::macros.html.twig' as ui %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ ui.renderProperty('orocrm.campaign.emailcampaign.stats.open.label'|trans, stats.open|oro_format_decimal) }}
            {{ ui.renderProperty('orocrm.campaign.emailcampaign.stats.click.label'|trans, stats.click|oro_format_decimal) }}
            {{ ui.renderProperty('orocrm.campaign.emailcampaign.stats.bounce.label'|trans, stats.bounce|oro_format_decimal) }}
            {{ ui.renderProperty('orocrm.campaign.emailcampaign.stats.abuse.label'|trans, stats.abuse|oro_format_decimal) }}
            {{ ui.renderProperty('orocrm.campaign.emailcampaign.stats.unsubscribe.label'|trans, stats.unsubscribe|oro_format_decimal) }}
        </div>
    </div>
</div>
