{% import 'OroUIBundle::macros.html.twig' as ui %}
{% import 'OroEmailBundle::macros.html.twig' as email %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ ui.renderProperty('orocrm.campaign.emailcampaign.name.label'|trans, entity.name) }}
            {{ ui.renderProperty('orocrm.campaign.emailcampaign.schedule.label'|trans, ('orocrm.campaign.emailcampaign.schedule.' ~ entity.schedule)|trans ) }}
            {{ ui.renderProperty('orocrm.campaign.emailcampaign.scheduled_at.label'|trans, entity.scheduledAt ? entity.scheduledAt|oro_format_datetime : '') }}

            {%- if entity.campaign and resource_granted('orocrm_campaign_view') -%}
                {% set campaignView = '<a href="' ~ path('orocrm_campaign_view', {'id': entity.campaign.id}) ~ '">' ~ entity.campaign.name ~ '</a>' %}
            {%- else -%}
                {% set campaignView = entity.campaign.name %}
            {%- endif -%}
            {{ ui.renderHtmlProperty('orocrm.campaign.emailcampaign.campaign.label'|trans, campaignView) }}

            {%- if entity.marketingList and resource_granted('orocrm_marketing_list_view') -%}
                {% set marketingListView = '<a href="' ~ path('orocrm_marketing_list_view', {'id': entity.marketingList.id}) ~ '">' ~ entity.marketingList.name ~ '</a>' %}
            {%- else -%}
                {% set marketingListView = entity.marketingList.name %}
            {%- endif -%}
            {{ ui.renderHtmlProperty('orocrm.campaign.emailcampaign.marketing_list.label'|trans, marketingListView) }}

            {%- if entity.template and resource_granted('oro_email_emailtemplate_update') -%}
                {% set templateView %}
                    <a href="{{ path('oro_email_emailtemplate_update', {'id': entity.template.id}) }}">
                        {{ entity.template.name }}
                    </a>
                {% endset %}
            {%- else -%}
                {% set templateView %}
                    {{ entity.template.name }}
                {% endset %}
            {%- endif -%}
            {{ ui.renderHtmlProperty('orocrm.campaign.emailcampaign.template.label'|trans, templateView) }}

            {{ ui.renderHtmlProperty('orocrm.campaign.emailcampaign.description.label'|trans, entity.description) }}
        </div>
    </div>
</div>
