{% import 'OroUIBundle::macros.html.twig' as ui %}
{% import 'OroEmailBundle::macros.html.twig' as email %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ ui.renderProperty('orocrm.campaign.emailcampaign.name.label'|trans, entity.name) }}
            {{ ui.renderProperty('orocrm.campaign.emailcampaign.sender_email.label'|trans, entity.senderEmail) }}
            {{ ui.renderProperty('orocrm.campaign.emailcampaign.sender_name.label'|trans, entity.senderName) }}
            {{ ui.renderProperty('orocrm.campaign.emailcampaign.schedule.label'|trans, ('orocrm.campaign.emailcampaign.schedule.' ~ entity.schedule)|trans ) }}

            {% if entity.schedule == constant('OroCRM\\Bundle\\CampaignBundle\\Entity\\EmailCampaign::SCHEDULE_DEFERRED') %}
                {{ ui.renderProperty('orocrm.campaign.emailcampaign.scheduled_for.label'|trans, entity.scheduledFor ? entity.scheduledFor|oro_format_datetime : '') }}
            {% endif %}

            {% if entity.sent %}
                {{ ui.renderProperty('orocrm.campaign.emailcampaign.sent_at.label'|trans, entity.sentAt ? entity.sentAt|oro_format_datetime : '') }}
            {% endif %}

            {%- if entity.campaign is not empty -%}
                {%- if resource_granted('orocrm_campaign_view') -%}
                    {% set campaignView = '<a href="' ~ path('orocrm_campaign_view', {'id': entity.campaign.id}) ~ '">' ~ entity.campaign.name ~ '</a>' %}
                {%- else -%}
                    {% set campaignView = entity.campaign.name %}
                {%- endif -%}
                {{ ui.renderHtmlProperty('orocrm.campaign.emailcampaign.campaign.label'|trans, campaignView) }}
            {%- endif -%}

            {%- if entity.marketingList and resource_granted('orocrm_marketing_list_view') -%}
                {% set marketingListView = '<a href="' ~ path('orocrm_marketing_list_view', {'id': entity.marketingList.id}) ~ '">' ~ entity.marketingList.name ~ '</a>' %}
            {%- elseif entity.marketingList -%}
                {% set marketingListView = entity.marketingList.name %}
            {%- endif -%}

            {%- if marketingListView is defined -%}
                {{ ui.renderHtmlProperty('orocrm.campaign.emailcampaign.marketing_list.label'|trans, marketingListView) }}
            {%- endif -%}

            {{ ui.renderHtmlProperty('orocrm.campaign.emailcampaign.description.label'|trans, entity.description) }}
        </div>
    </div>
</div>
