{% import 'OroUIBundle::macros.html.twig' as ui %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}
{% import 'OroChannelBundle::macros.html.twig' as channel %}
{% import 'OroCurrencyBundle::macros.html.twig' as currency %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ ui.renderProperty('oro.sales.opportunity.name.label'|trans, entity.name, entity, 'name') }}
            {{ ui.renderProperty('oro.sales.opportunity.status.label'|trans, entity.status, entity, 'status') }}

            {% if resource_granted('VIEW', entity, 'channel') %}
                {{ channel.renderChannelProperty(entity, 'oro.sales.lead.data_channel.label') }}
            {% endif %}

            {%- if entity.contact and resource_granted('VIEW', entity.contact) -%}
                {% set contactView = ui.renderUrl(path('oro_contact_view', {'id': entity.contact.id}), entity.contact|oro_format_name) %}
            {%- else -%}
                {% set contactView = entity.contact ? entity.contact|oro_format_name|escape : '' %}
            {%- endif -%}
            {{ ui.renderHtmlProperty('oro.sales.opportunity.contact.label'|trans, contactView, entity, 'contact') }}

            {%- if resource_granted('oro_sales_lead_view') and entity.lead -%}
                {% set leadView = '<a href="' ~ path('oro_sales_lead_view', {'id': entity.lead.id}) ~ '">' ~ entity.lead|escape ~ '</a>' %}
            {%- else -%}
                {% set leadView = entity.lead ? entity.lead|escape : '' %}
            {%- endif -%}
            {{ ui.renderHtmlProperty('oro.sales.opportunity.lead.label'|trans, leadView, entity, 'lead') }}

            {% set customer = entity.customerAssociation and entity.customerAssociation.customerTarget ? entity.customerAssociation.customerTarget : null %}
            {%- set customerView -%}
                {% set customerName = customer ? customer|oro_format_name|escape : '' %}
                {%- if (customer and resource_granted('VIEW', customer)) -%}
                    <a href="{{ oro_entity_view_link(customer) }}">{{ customerName }}</a>
                {%- else -%}
                    {{ customerName }}
                {%- endif -%}
            {%- endset -%}
            {{ ui.renderHtmlProperty('oro.sales.opportunity.customer.label'|trans, customerView, entity, 'customer') }}

            {{ ui.renderProperty('oro.sales.opportunity.probability.label'|trans, entity.probability|length ? entity.probability|oro_format_percent : '', entity, 'probability') }}
            {{ ui.renderProperty('oro.sales.opportunity.budget_amount.label'|trans, entity.budgetAmount.value|length ? entity.budgetAmount.value|oro_format_currency({'currency': entity.budgetAmount.currency}) : '', entity, 'budgetAmount') }}
            {{ currency.convert_to_base_currency(entity.budgetAmount, '', entity, 'budgetAmount') }}

            {{ entityConfig.renderDynamicFields(entity) }}
        </div>
        <div class="responsive-block">
            {{ ui.renderHtmlProperty('oro.sales.opportunity.customer_need.label'|trans, entity.customerNeed, entity, 'customerNeed') }}
            {{ ui.renderHtmlProperty('oro.sales.opportunity.proposed_solution.label'|trans, entity.proposedSolution, entity, 'proposedSolution') }}
            {{ ui.renderProperty('oro.sales.opportunity.close_reason.label'|trans, entity.closeReason, entity, 'closeReason') }}
            {{ ui.renderProperty('oro.sales.opportunity.close_revenue.label'|trans, entity.closeRevenue.value|length ? entity.closeRevenue.value|oro_format_currency({'currency': entity.closeRevenue.currency}) : '', entity, 'closeRevenue') }}
            {{ ui.renderProperty('oro.sales.opportunity.close_date.label'|trans, entity.closeDate ? entity.closeDate|oro_format_date : '', entity, 'closeDate') }}
            {{ ui.renderHtmlProperty('oro.sales.opportunity.notes.label'|trans, entity.notes, entity, 'notes') }}
        </div>
    </div>
</div>
