{{ oro_filter_render_header_javascript() }}

{% javascripts
    '@OroUIBundle/Resources/public/lib/backbone.bootstrap-modal.js'

    '@OroGridBundle/Resources/public/lib/backbone-pageable.js'
    '@OroGridBundle/Resources/public/lib/backgrid/backgrid.js'
    '@OroGridBundle/Resources/public/lib/moment/moment.js'
    '@OroGridBundle/Resources/public/lib/backgrid/extensions/moment-cell/backgrid-moment-cell.js'

    '@OroGridBundle/Resources/public/js/app/datagrid/action/launcher.js'
    '@OroGridBundle/Resources/public/js/app/datagrid/action/abstractaction.js'
    '@OroGridBundle/Resources/public/js/app/datagrid/action/modelaction.js'
    '@OroGridBundle/Resources/public/js/app/datagrid/action/navigateaction.js'
    '@OroGridBundle/Resources/public/js/app/datagrid/action/deleteaction.js'
    '@OroGridBundle/Resources/public/js/app/datagrid/action/refreshcollectionaction.js'
    '@OroGridBundle/Resources/public/js/app/datagrid/action/resetcollectionaction.js'
    '@OroGridBundle/Resources/public/js/app/datagrid/action/cell.js'
    '@OroGridBundle/Resources/public/js/app/datagrid/actionspanel.js'

    '@OroGridBundle/Resources/public/js/app/datagrid/headercell.js'
    '@OroGridBundle/Resources/public/js/app/datagrid/header.js'
    '@OroGridBundle/Resources/public/js/app/datagrid/body.js'

    '@OroGridBundle/Resources/public/js/app/datagrid/pagination.js'
    '@OroGridBundle/Resources/public/js/app/datagrid/pagination/input.js'
    '@OroGridBundle/Resources/public/js/app/datagrid/pagesize.js'
    '@OroGridBundle/Resources/public/js/app/datagrid/toolbar.js'

    '@OroGridBundle/Resources/public/js/app/datagrid/filter/list.js'

    '@OroGridBundle/Resources/public/js/app/backgrid-formatter.js'

    '@OroGridBundle/Resources/public/js/app/loadingmask.js'
    '@OroGridBundle/Resources/public/js/app/datagrid/grid.js'

    '@OroGridBundle/Resources/public/js/app/datagrid/router.js'

    '@OroGridBundle/Resources/public/js/app/pageablecollection.js'

    output='js/oroapp.grid.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{% set datagrid = datagridView.datagrid %}
{% set form     = datagridView.formView %}

<script type="text/javascript">
    {% set datagridName = datagrid.name ~ 'Datagrid' %}
    {% set collectionName = datagridName ~ 'Collection' %}

    {% set columnTypePrefix = 'Oro\\Bundle\\GridBundle\\Field\\FieldDescriptionInterface::' %}
    {% set actionTypePrefix = 'Oro\\Bundle\\GridBundle\\Action\\ActionInterface::' %}
    {% set parameterTypePrefix = 'Oro\\Bundle\\GridBundle\\Datagrid\\ParametersInterface::' %}

    {% set datagridParameters = [] %}
    {% if datagrid.name in datagrid.parameters|keys %}
        {% set datagridParameters = datagrid.parameters[datagrid.name] %}
    {% endif %}

    {% set parametersSorterType = constant(parameterTypePrefix ~ 'SORT_PARAMETERS') %}
    {% set parametersFilterType = constant(parameterTypePrefix ~ 'FILTER_PARAMETERS') %}

    {% set sortField = '' %}
    {% set sortDirection = '' %}
    {% if parametersSorterType in datagridParameters|keys %}
        {% for field, direction in datagrid.parameters[datagrid.name][parametersSorterType]|slice(0,1) %}
            {% set sortField = field %}
            {% set sortDirection = direction %}
        {% endfor %}
    {% endif %}

    {% set filterData = [] %}
    {% if parametersFilterType in datagridParameters|keys %}
        {% set filterData = datagridParameters[parametersFilterType] %}
    {% endif %}

    _.extend(OroApp, {
        scope: {
            {{ datagridName|json_encode|raw }}: {
                grid: {
                    columns: [
                        {% for column in datagrid.columns %}
                        {
                            name: {{ column.name|json_encode|raw }},
                            label: {{ column.label|json_encode|raw }},
                            sortable: {{ column.sortable|json_encode|raw }},
                            editable: false,
                            {% if column.type == constant(columnTypePrefix ~ 'TYPE_DATE') %}
                                cell: Backgrid.Extension.MomentCell.extend({
                                    modelFormat:   "YYYY-MM-DD",
                                    displayFormat: "MM/DD/YYYY"
                                })
                            {% elseif column.type == constant(columnTypePrefix ~ 'TYPE_DATETIME') %}
                                cell: Backgrid.Extension.MomentCell.extend({
                                    modelFormat:   "YYYY-MM-DD hh:mm:ss",
                                    displayFormat: "MM/DD/YYYY hh:mm a"
                                })
                            {% elseif column.type == constant(columnTypePrefix ~ 'TYPE_DECIMAL') %}
                                cell: Backgrid.NumberCell
                            {% elseif column.type == constant(columnTypePrefix ~ 'TYPE_INTEGER') %}
                                cell: Backgrid.IntegerCell.extend({ orderSeparator: '' })
                            {% else %}
                                cell: Backgrid.StringCell
                            {% endif %}
                        }{% if not loop.last %},{% endif %}
                        {% endfor %}
                    ],
                    filters: {
                        {% for filter in datagrid.filters %}
                            {{ filter.name|json_encode|raw }} : {{ oro_filter_render_filter_javascript(form.children[filter.name]) }}
                            {% if not loop.last %},{% endif %}
                        {% endfor %}
                    },
                    actions: {
                        {% for action in datagrid.rowActions %}
                            {{ action.name|json_encode|raw }}:
                            {% if action.type == constant(actionTypePrefix ~ 'TYPE_DELETE') %}
                                OroApp.Datagrid.Action.DeleteAction.extend({{ action.options|json_encode|raw }})
                            {% else %}
                                OroApp.Datagrid.Action.NavigateAction.extend({{ action.options|json_encode|raw }})
                            {% endif %}
                            {% if not loop.last %},{% endif %}
                        {% endfor %}
                    },
                    entityHint : {{ datagrid.entityHint|capitalize|json_encode|raw }},
                    {% set entityHint = datagrid.entityHint ? datagrid.entityHint : 'records' %}
                    noDataHint : {{ 'oro_grid.no_data_hint %entityHint%'|trans({'%entityHint%': entityHint}, 'OroGridBundle')|json_encode|raw }}
                },
                collection: {
                    inputName: {{ datagrid.name|json_encode|raw }},
                    url: {{ datagrid.routeGenerator.generateUrl(null, {'_format': 'json'})|json_encode|raw }},
                    state: {
                        currentPage:  {{ datagrid.pager.page|json_encode|raw }},
                        pageSize:     {{ datagrid.pager.maxPerPage|json_encode|raw }},
                        totalRecords: {{ datagrid.pager.nbResults|json_encode|raw }},
                        sortKey:      {{ sortField|json_encode|raw }},
                        order:        OroApp.PageableCollection.prototype.getSortDirectionKey({{ sortDirection|json_encode|raw }}),
                        filters:      {{ filterData ? filterData|json_encode|raw : '{}' }}
                    }
                }
            }
        }
    });

    $(function() {
        var containerSelector = {{ selector|json_encode|raw }};
        var datagridTemplateSelector = {{ ("#" ~ datagridName ~ "GridTemplate")|json_encode|raw }};
        var datagridName = {{ datagridName|json_encode|raw }};
        var datagridFiltersSelector = {{ ("#" ~ datagridName ~ "Filters")|json_encode|raw }};
        var datagridBodySelector = {{ ("#" ~ datagridName ~ "Body")|json_encode|raw }};
        var datagridOptions = OroApp.scope[datagridName];

        var initDatagrid = function(
            datagridOptions,
            datagridTemplateSelector,
            containerSelector,
            datagridFiltersSelector,
            datagridBodySelector
        ) {
            // Initialize grid collection
            var datagridCollection = new OroApp.PageableCollection([], datagridOptions.collection);

            // Basic grid layout
            var template = _.template($(datagridTemplateSelector).html());
            $(containerSelector).append(template);

            // Grid
            var datagridParameters = _.extend({
                collection: datagridCollection,
                loadingMask: OroApp.LoadingMask.extend({
                    loadingHint: {{ 'oro_grid.label_loading_mask'|trans({}, 'OroGridBundle')|json_encode|raw }}
                })
            }, datagridOptions.grid);
            var datagrid = new OroApp.Datagrid.Grid(datagridParameters);
            $(datagridBodySelector).html(datagrid.render().$el);

            // Title
            var titleParameters = _.extend({
                tagName: 'div',
                className: 'navigation container-fluid'
            }, datagridOptions.grid);

            // Filters
            var filterListParameters = _.extend({
                addButtonHint: {{ 'oro_grid.label_add_filter'|trans({}, 'OroGridBundle')|json_encode|raw }},
                collection: datagridCollection
            }, datagridOptions.grid);
            var filtersList = new OroApp.Datagrid.Filter.List(filterListParameters);
            $(datagridFiltersSelector).html(filtersList.render().$el);

            // Register router and start history
            var router = new OroApp.Datagrid.Router({
                collection: datagridCollection
            });
        };

        initDatagrid(
            datagridOptions,
            datagridTemplateSelector,
            containerSelector,
            datagridFiltersSelector,
            datagridBodySelector
        );

        Backbone.history.start();
    });
</script>

<script type="text/template" id="{{ datagridName }}GridTemplate">
    <div class="clearfix" id="{{ datagridName }}Title"></div>
    <div class="clearfix" id="{{ datagridName }}Filters"></div>
    <div class="clearfix" id="{{ datagridName }}Body"></div>
</script>
