{% import 'OroUIBundle::macros.html.twig' as macros %}

<div class="widget-content contact-info form-horizontal box-content">
    {{ macros.renderProperty('Status'|trans, entity.status.label) }}
    {{ macros.renderProperty('Customer'|trans, entity.customer|oro_format_name) }}

    <div class="control-group">
        <label class="control-label">{% trans %}Assigned to{% endtrans %}</label>
        <div class="controls">
            <div class="clearfix-oro">
                <p class="control-label">
                    {% if entity.customer.account %}
                        {% if resource_granted('orocrm_account_view') %}
                            <a href="{{ path('orocrm_account_view', {'id': entity.customer.account.id}) }}">
                                {{ entity.customer.account }}
                            </a>
                        {% else %}
                            {{ entity.customer.account }}
                        {% endif %}
                    {% else %}
                        {% trans %}N/A{% endtrans %}
                    {% endif %}
                </p>
            </div>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{% trans %}Contact{% endtrans %}</label>
        <div class="controls">
            <div class="clearfix-oro">
                <p class="control-label">
                    {% if entity.customer.contact %}
                        {% if resource_granted('orocrm_contact_view') %}
                        <a href="{{ path('orocrm_contact_view', {'id': entity.customer.contact.id}) }}">
                            {{ entity.customer.contact }}
                        </a>
                        {% else %}
                            {{ entity.customer.contact }}
                        {% endif %}
                    {% else %}
                        {% trans %}N/A{% endtrans %}
                    {% endif %}
                </p>
            </div>
        </div>
    </div>

    {{ macros.renderProperty('Subtotal'|trans, entity.subtotal|length ? entity.subtotal|oro_format_currency, '') }}
</div>
