{% import 'OroUIBundle::macros.html.twig' as macros %}

{# TODO: Move this to OroUIBundle::macros.html.twig #}
{% macro renderRow(label, value) %}
    {% import 'OroUIBundle::macros.html.twig' as macros %}
    {{ macros.renderAttribute(label, '<p class="control-label">' ~ value|default('N/A'|trans) ~ '</p>') }}
{% endmacro %}

<div class="widget-content contact-info form-horizontal box-content">
    {{ _self.renderRow('Status'|trans, entity.status.label) }}

    <div class="control-group">
        <label class="control-label">{% trans %}Assigned to{% endtrans %}</label>
        <div class="controls">
            <div class="clearfix-oro">
                <p class="control-label">
                    {% if entity.customer.account %}
                        {% if resource_granted('orocrm_account_view') %}
                            <a href="{{ path('orocrm_account_view', {'id': entity.customer.account.id}) }}">
                                {{ entity.customer.account }}
                            </a>
                        {% else %}
                            {{ entity.customer.account }}
                        {% endif %}
                    {% else %}
                        {% trans %}N/A{% endtrans %}
                    {% endif %}
                </p>
            </div>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{% trans %}Contact{% endtrans %}</label>
        <div class="controls">
            <div class="clearfix-oro">
                <p class="control-label">
                    {% if entity.customer.contact %}
                        {% if resource_granted('orocrm_contact_view') %}
                        <a href="{{ path('orocrm_contact_view', {'id': entity.customer.contact.id}) }}">
                            {{ entity.customer.contact }}
                        </a>
                        {% else %}
                            {{ entity.customer.contact }}
                        {% endif %}
                    {% else %}
                        {% trans %}N/A{% endtrans %}
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</div>
