{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

{% oro_title_set({params : {"%entity.name%": entity.name|default('N/A') }}) %}

{% block navButtons %}
    {% if send_allowed %}
        {{ UI.button({
            'path' : path('orocrm_email_campaign_send', { id: entity.id }),
            'title': 'orocrm.campaign.emailcampaign.send'|trans,
            'label': 'orocrm.campaign.emailcampaign.send'|trans,
            'iCss': 'icon-envelope'
        })  }}
    {% endif %}
    {% if resource_granted('EDIT', entity) %}
        {{ UI.editButton({
            'path' : path('orocrm_email_campaign_update', { id: entity.id }),
            'entity_label': 'orocrm.campaign.emailcampaign.entity_label'|trans
        })  }}
    {% endif %}
    {% if resource_granted('DELETE', entity) %}
        {{ UI.deleteButton({
            'dataUrl': path('oro_api_delete_emailcampaign', {'id': entity.id}),
            'dataRedirect': path('orocrm_email_campaign_index'),
            'aCss': 'no-hash remove-button',
            'dataId': entity.id,
            'entity_label': 'orocrm.campaign.emailcampaign.entity_label'|trans
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity':      entity,
        'indexPath':   path('orocrm_email_campaign_index'),
        'indexLabel':  'orocrm.campaign.emailcampaign.entity_plural_label'|trans,
        'entityTitle': entity.name|default('N/A'),
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block breadcrumbs %}
    {{ parent() }}
    <div class="status-enabled pull-left">
        {% if entity.sent %}
            <div class="badge badge-enabled status-enabled"><i class="icon-status-enabled icon-circle"></i>{{ 'orocrm.campaign.emailcampaign.status.sent'|trans }}</div>
        {% else %}
            <div class="badge badge-disabled status-disabled"><i class="icon-status-disabled icon-circle"></i>{{ 'orocrm.campaign.emailcampaign.status.not_sent'|trans }}</div>
        {% endif %}
    </div>
{% endblock breadcrumbs %}

{% block content_data %}
    {% set campaignInformationWidget %}
        {% include 'OroCRMCampaignBundle:EmailCampaign:widget/view.html.twig' %}
    {% endset %}

    {%- set emailCampaignStatisticsData -%}
        {% if show_stats %}
            {% include 'OroCRMCampaignBundle:EmailCampaign:widget/stats.html.twig' %}
        {% endif %}
    {%- endset -%}

    {%- set emailCampaignStatusData -%}
        {% placeholder view_content_data_email_campaign_status with {entity: entity} %}
    {%- endset -%}

    {%- set listData -%}
        {% if entity.marketingList is not empty %}
            {{ dataGrid.renderGrid(
                constant('OroCRM\\Bundle\\MarketingListBundle\\Datagrid\\ConfigurationProvider::GRID_PREFIX') ~ entity.marketingList.id,
                {
                    'emailCampaign': entity.id
                }
            ) }}
        {% endif %}
    {%- endset -%}

    {% set generalSectionSubblocks = [{'data': [campaignInformationWidget]}] %}
    {% if emailCampaignStatisticsData is not empty %}
        {% set generalSectionSubblocks = generalSectionSubblocks|merge([{
            'data': [emailCampaignStatisticsData],
            'title': 'orocrm.campaign.emailcampaignstatistics.block.label'|trans
        }]) %}
    {% endif %}

    {% set dataBlocks = [
        {
            'title': 'orocrm.campaign.emailcampaign.block.general'|trans,
            'class': 'active',
            'subblocks': generalSectionSubblocks
        }
    ] %}
    {% if emailCampaignStatusData is not empty %}
        {% set dataBlocks = dataBlocks|merge([
            {
                'title': 'orocrm.campaign.emailcampaign.block.status'|trans,
                'subblocks': [{'data' : [emailCampaignStatusData]}]
            }
        ])
        %}
    {% endif %}
    {% set dataBlocks = dataBlocks|merge([{
        'title': 'orocrm.campaign.emailcampaign.block.recipients'|trans,
        'subblocks': [
            {
                'spanClass': 'empty',
                'data': [listData]
            }
        ]
    }]) %}

    {% set id = 'emailCampaignView' %}
    {% set data = { 'dataBlocks': dataBlocks } %}
    {{ parent() }}
{% endblock content_data %}
