{% import 'OroUIBundle::macros.html.twig' as macros %}

<div class="widget-content cart-info-widget form-horizontal box-content row-fluid">
    <div class="responsive-block">
        {% set email = entity.email %}
        {% if entity.email != null %}
            {% set email = '<a href="mailto: ' ~ email ~ '" title="' ~ email ~ '">' ~ email ~ '</a>'%}
        {% endif %}
        {{ ui.renderProperty('orocrm.magento.cart.email.label'|trans, email) }}
        {{ ui.renderProperty('orocrm.magento.cart.items_qty.label'|trans, entity.itemsQty) }}
        {{ ui.renderProperty('orocrm.magento.cart.status.label'|trans, entity.status|trans) }}
    </div>
    <div class="responsive-block">
        {{ ui.renderProperty('orocrm.magento.customer.website.label'|trans, entity.store.website.name) }}
        {{ ui.renderProperty('orocrm.magento.cart.store.label'|trans, entity.store.name) }}
    </div>
</div>
