{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEmailBundle::actions.html.twig' as EmailActions %}
{% set activeTab = app.request.get('_activeTab')|default(null) %}
{% set uniqueSuffix = '_customer_' ~ customer.id ~ '_channel_' ~ channel.id %}
{% set customer_general_info %}
    <div class="row-fluid">
        {% include 'OroAnalyticsBundle::label.html.twig' with {entity: customer, vertical: true} %}
        <div class="responsive-block">
            {{ UI.renderHtmlProperty(
                'oro.magento.customer.name.label'|trans,
                UI.entityViewLink(customer, customer|oro_format_name, 'oro_magento_customer_view')
            ) }}

            {{ UI.renderHtmlProperty('oro.magento.customer.email.label'|trans, EmailActions.sendEmailLink(customer.email, customer)) }}
            {% if customer.group %}
                {{ UI.renderProperty('oro.magento.customer.group.label'|trans, customer.group.name) }}
            {% endif %}
            {% if customer.website %}
                {{ UI.renderProperty('oro.magento.customer.website.label'|trans, customer.website.name) }}
            {% endif %}
            {% if customer.store %}
                {{ UI.renderProperty('oro.magento.customer.store.label'|trans, customer.store.name) }}
            {% endif %}
        </div>
        <div class="responsive-block">
            {{ UI.renderProperty('oro.magento.customer.birthday.label'|trans, UI.render_birthday(customer.birthday)) }}
            {{ UI.renderProperty('oro.magento.customer.gender.label'|trans, oro_gender(customer.gender)) }}
            {{ UI.renderProperty('oro.magento.customer.vat.label'|trans, customer.vat ) }}

            {% if customer.newsletterSubscribers|length > 0 %}
                {% set newsletterSubscriberBlock %}
                    {% for newsletterSubscriber in customer.newsletterSubscribers %}
                        {{ oro_widget_render({
                            'widgetType': 'block',
                            'url': path('oro_magento_newsletter_subscriber_info', {id: newsletterSubscriber.id})
                        }) }}
                    {% endfor %}
                {% endset %}
                {% if newsletterSubscriberBlock %}
                    {{ newsletterSubscriberBlock }}
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endset %}
{% set tabs = [
    {
        'alias': 'oro_magento_customer_general_info' ~ uniqueSuffix,
        'widgetType': 'block',
        'label': 'oro.magento.general_info'|trans,
        'content': customer_general_info,
        'url': null
    }
] %}
{% if orderClassName in customer.dataChannel.entities %}
    {% set tabs = tabs|merge([
        {
            'alias': 'oro_magento_customer_orders' ~ uniqueSuffix,
            'widgetType': 'block',
            'label': 'oro.magento.order.entity_plural_label'|trans,
            'url': path('oro_magento_widget_customer_orders', {'customerId': customer.id, 'channelId': customer.channel.id})
        },
        {
            'alias': 'oro_magento_customer_recent_purchases' ~ uniqueSuffix,
            'widgetType': 'block',
            'label': 'oro.magento.recent_purchases.label'|trans,
            'url': path('oro_magento_widget_customer_recent_purchases', {'customerId': customer.id, 'channelId': customer.channel.id})
        }
    ]) %}
{% endif %}

{% if oro_magento_order_notes_is_applicable(customer) %}
    {% set tabs = tabs|merge([
        {
            'alias': 'oro_magento_customer_order_notes' ~ uniqueSuffix,
            'widgetType': 'block',
            'label': 'oro.magento.order.order_notes.label'|trans,
            'url': path('oro_magento_widget_customer_order_notes', {'customerId': customer.id, 'channelId': customer.channel.id})
        }
    ]) %}
{% endif %}

{% if cartClassName in customer.dataChannel.entities %}
    {% set tabs = tabs|merge([
        {
            'alias': 'oro_magento_customer_carts' ~ uniqueSuffix,
            'widgetType': 'block',
            'label': 'oro.magento.cart.entity_plural_label'|trans,
            'url': path('oro_magento_widget_customer_carts', {'customerId': customer.id, 'channelId': customer.channel.id})
        }
    ]) %}
{% endif %}
{% if creditMemoClassName in customer.dataChannel.entities %}
    {% set tabs = tabs|merge([
        {
            'alias': 'oro_magento_customer_credit_memos' ~ uniqueSuffix,
            'widgetType': 'block',
            'label': 'oro.magento.creditmemo.entity_plural_label'|trans,
            'url': path('oro_magento_widget_customer_credit_memo', {'customerId': customer.id, 'channelId': customer.channel.id})
        }
    ]) %}
{% endif %}
{% if activeTab %}
    {% set tabPanelOptions = tabPanelOptions|merge({
        activeTabAlias: 'oro_magento_customer_' ~ activeTab ~ uniqueSuffix
    }) %}
{% endif %}

<div class="widget-content row-fluid">
    <div class="account-customer-title">{{ customer|oro_format_name }}
        <div class="pull-right label label-large label-success orocrm-channel-lifetime-value-label">
            {{ 'oro.magento.customer.lifetime.label'|trans}}:
            <b> {{ oro_channel_account_lifetime(customer.account, channel)|oro_format_currency }}</b>
        </div>
    </div>
    <div class="customer-without-border-tabs">
        {{ tabPanel(tabs) }}
    </div>
</div>
